$gray-light-primary: mat-palette($mat-gray, 700, 50, 800);
$gray-light-accent: mat-palette($mat-pink, A200, A100, A400);
$gray-light-warn: mat-palette($mat-red, 500);

$gray-light-theme: mat-light-theme($gray-light-primary, $gray-light-accent, $gray-light-warn);
.mytitle-text {
    background: linear-gradient(to right, #ef00f3 10%, #ef00f3 20%, #1a3af5 60%);
    background-clip: text;
    font-weight: 500;
    color: transparent;
    animation: textclip 2.5s linear infinite;
    display: inline-block;
    background-size: 200% auto;
    font-size: 2em;

    @keyframes textclip {
        from {
            background-position: 200% center
        }
    }
}

@media only screen and (min-width: 320px) and (max-width: 880px) and (orientation: landscape) {
    .my-logo {
        background-image: url('./assets/img/logo_bg_transparent_mobile.png');
        background-position: center;
        background-repeat: no-repeat;
        height: 80px;
        width: 80px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 880px) and (orientation: portrait) {
    .my-logo {
        background-image: url('./assets/img/logo_bg_transparent_mobile.png');
        background-position: center;
        background-repeat: no-repeat;
        height: 80px;
        width: 80px;
    }
    .mytitle-text{
        margin-bottom: 2em;
    }
}


@media only screen and (min-width: 880px) and (orientation: landscape) {
    .my-logo {
        background-image: url('./assets/img/logo_bg_transparent.png');
        background-position: center;
        background-repeat: no-repeat;
        height: 134px;
        width: 142px;
        // content: "";
    }
}

@media only screen and (min-width: 880px) and (orientation: portrait) {
    .my-logo {
        background-image: url('./assets/img/logo_bg_transparent.png');
        background-position: center;
        background-repeat: no-repeat;
        height: 134px;
        width: 142px;
        // content: "";
    }
    .edit {
        color: white;
      }
}