$pink-dark-primary: mat-palette($mat-pink, 700, 50, 800);
$pink-dark-accent: mat-palette($mat-blue-grey, 600, 300, 900);
$pink-dark-warn: mat-palette($mat-red, A200);

$pink-dark-theme: mat-dark-theme($pink-dark-primary, $pink-dark-accent, $pink-dark-warn);

.mytitle-text{
    background-image: linear-gradient(to right, #ffff 10%,#fff 50%,#5f6465 60%);
    background-clip: text;
    font-weight: 500;
    color: transparent;
    animation: textclip 2.5s linear infinite;
    display: inline-block;
    background-size: 200% auto;
    font-size: 2em;
@keyframes textclip {
    from {
        background-position: 200% center
    }
}
}


@media only screen and (min-width: 320px) and (max-width: 880px) and (orientation: landscape) {  
     .my-logo{
    background-image: url('./assets/img/logo_bg_plain_mobile.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 80px;
    width: 80px;
     }
    }
    @media only screen and (min-width: 320px) and (max-width: 880px) and (orientation: portrait) {
        .my-logo{
            background-image: url('./assets/img/logo_bg_plain_mobile.png');
            background-position: center;
            background-repeat: no-repeat;
            height: 80px;
    width: 80px;
             }
             .mytitle-text{
                margin-bottom: 2em;
            }
        }      


        @media only screen and (min-width: 880px)  and (orientation: landscape) {  
            .my-logo{
                background-image: url('./assets/img/logo_bg_plain.png');
                background-position: center;
                background-repeat: no-repeat;
                height: 134px;
                width:142px;
                // content: "";
            }
           }
           @media only screen and (min-width: 880px)  and (orientation: portrait) {
            .my-logo{
                background-image: url('./assets/img/logo_bg_plain.png');
                background-position: center;
                background-repeat: no-repeat;
                height: 134px;
                width:142px;
                // content: "";
            }
            .edit {
                color: black;
              }
        }

