<h1 mat-dialog-title>{{isTabEdit? 'Edit tab details' : 'Edit tab group details'}}</h1>
<div mat-dialog-content>
    <div *ngIf="isTabEdit; else tabGroupEdit" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="10px">
        <mat-form-field fxFlex="1 1 46%">
            <input matInput [(ngModel)]="tabData.label" placeholder="Edit Tab Label">
        </mat-form-field>
        <mat-form-field fxFlex="1 1 46%">
            <input matInput [(ngModel)]="tabData.icon" placeholder="Edit Tab icon">
        </mat-form-field>
        <div fxFlex="1 1 46%">
            <mat-slide-toggle [(ngModel)]="tabData.isDisabled">{{'TEMPLATE.TAB.DISABLED-TAB' | translate}}
            </mat-slide-toggle>
        </div>
    </div>
    <ng-template #tabGroupEdit>
        <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="10px">
            <mat-form-field fxFlex="1 1 48%">
                <input matInput [(ngModel)]="tabData.name" placeholder="Edit name">
            </mat-form-field>
            <mat-form-field fxFlex="1 1 48%">
                <mat-label>Color</mat-label>
                <mat-select [(ngModel)]="tabData.color" [compareWith]="compareFn">
                    <mat-option *ngFor="let color of colors" [value]="color">
                        {{color.display_name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="1 1 48%">
                <mat-label>Align</mat-label>
                <mat-select [(ngModel)]="tabData.align" [compareWith]="compareFn">
                    <mat-option *ngFor="let tAlign of tabAlign" [value]="tAlign">
                        {{tAlign.displayName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="1 1 48%">
                <mat-label>{{'TEMPLATE.TAB.BACKGROUND-COLOR' | translate}}</mat-label>
                <mat-select [(ngModel)]="tabData.backgroundColor" [compareWith]="compareFn">
                    <mat-option *ngFor="let bgColor of colors" [value]="bgColor">
                        {{bgColor.display_name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="1 1 48%">
                <mat-label>{{'TEMPLATE.TAB.HEADER-POSITION' | translate}}</mat-label>
                <mat-select [(ngModel)]="tabData.headerPosition" [compareWith]="compareFn">
                    <mat-option *ngFor="let position of headerPositions" [value]="position">
                        {{position.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </ng-template>
</div>
<div mat-dialog-actions fxLayoutAlign="center center">
    <button mat-button (click)="onNoClick()">{{'GENERIC.BUTTON.NO-THANKS'| translate}}</button>
    <button mat-button (click)="saveTabData()" cdkFocusInitial>{{'GENERIC.BUTTON.OK' | translate}}</button>
</div>