<div class="page-content" fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="start start">
    <h1 mat-dialog-title fxFlex="1 1 100">{{'TEMPLATE.PAGE-ACTION.CONFIGURATION'| translate}}</h1>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px">
      <span fxFlex="1 1 auto"></span>
      <button mat-stroked-button (click)="onNoClick()">{{'GENERIC.BUTTON.NO-THANKS'| translate}}</button>
      <button mat-stroked-button (click)="saveFormField()" cdkFocusInitial>{{'GENERIC.BUTTON.SAVE'| translate}}</button>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex fxLayoutGap="10px">
    <mat-form-field fxFlex=48>
      <mat-label>{{'TEMPLATE.PAGE-ACTION.SELECT-COLOR'| translate}}</mat-label>
      <mat-select [(ngModel)]="item.color" [compareWith]="compareFn">
        <mat-option *ngFor="let color of colors" [value]="color.name">
          {{color.display_name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex=48>
      <input matInput placeholder="Enter Button Name" [(ngModel)]="item.label" [value]="item.label">
    </mat-form-field>
    <mat-form-field fxFlex=48>
      <mat-label>{{'TEMPLATE.PAGE-ACTION.SELECT-BUTTON-ACTION'| translate}}</mat-label>
      <mat-select [(ngModel)]="item.type" [compareWith]="compareFn">
        <mat-option *ngFor="let actn  of actions" [value]="actn">
          {{actn.display_name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex=48>
      <mat-label>Select Http Call</mat-label>
      <mat-select [(ngModel)]="item.httpCall" [compareWith]="compareFn">
        <mat-option *ngFor="let call  of httpCalls" [value]="call">
          {{call.display_name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex=48>
      <input matInput placeholder="Enter Redirect URL" [(ngModel)]="item.url" [value]="item.url">
    </mat-form-field>
    <mat-form-field fxFlex=48>
      <input matInput placeholder="Enter Endpoint" [(ngModel)]="item.endPoint" [value]="item.endPoint">
    </mat-form-field>
    <mat-form-field fxFlex=48>
      <input matInput placeholder="Enter Permission code" [(ngModel)]="item.permissionCode"
        [value]="item.permissionCode">
    </mat-form-field>
  </div>
</div>