<div fxLayout="column" fxLayoutGap="10px">
    <div fxLayout="row">
        <h1 mat-dialog-title fxFlex="1 1 100">Edit {{item?.title | titlecase}}</h1>
        <span fxFlex="1 1 auto"></span>
        <div fxLayoutAlign="start center" fxLayoutGap="5px">
            <button mat-stroked-button (click)="onNoClick()">{{'GENERIC.BUTTON.NO-THANKS'| translate}}</button>
            <button mat-stroked-button (click)="saveFormField()"
                cdkFocusInitial>{{'GENERIC.BUTTON.SAVE'| translate}}</button>
        </div>
    </div>
    <div *ngIf="selectedType?.id === 1" fxLayout="row wrap" fxLayoutAlign="start center" fxFlex fxLayoutGap="10px">
        <mat-form-field fxFlex="48">
            <mat-label>ImageType</mat-label>
            <mat-select [(ngModel)]="selectedImageType" (selectionChange)="imageChange($event)"
                [ngModelOptions]="{standalone: true}" [compareWith]="compareFn">
                <mat-option *ngFor="let type of imageType ; let i=index" [value]="type">
                    {{type.dispalName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="selectedImageType?.id === 0">
            <input matInput [(ngModel)]="selectedType.source.value" placeholder="Enter url"
                [value]="selectedType.source.value">
        </mat-form-field>
        <div *ngIf="selectedImageType?.id === 1" fxLayout="row" fxFlex="100" fxLayoutGap="10px">
            <mat-label>ImageType</mat-label>
            <div *ngFor="let type of avtharImages; let i = index" fxLayout="row">
                <mat-checkbox [checked]="selected === i" (change)="onChange($event , type,i)">
                    <img [src]="type.value" style="width: 50%;" alt="image">
                </mat-checkbox>
            </div>
        </div>
        <div *ngIf="selectedImageType?.id === 2" fxLayout="row" fxFlex="100" fxLayoutGap="10px">
            <h3>Choose File</h3>
            <div class="form-group">
                <input type="file" name="image" (change)="fileProgress($event)" />
            </div>
        </div>
        <mat-form-field fxFlex="48" *ngIf="item.id === 1">
            <mat-label>ImageType</mat-label>
            <mat-select [(ngModel)]="item.imageRadius" [ngModelOptions]="{standalone: true}" [compareWith]="compareFn">
                <mat-option *ngFor="let image of imageView" [value]="image.value">
                    {{image.View}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex=48 *ngIf="item.id === 1">
            <input matInput placeholder="Enter image Width " [(ngModel)]="item.imgWidth" [value]="item.imgWidth">
        </mat-form-field>

    </div>
    <div *ngIf="selectedType?.id === 2" fxLayoutGap="5px">
        <mat-form-field fxFlex=48>
            <input matInput placeholder="Enter text" [(ngModel)]="item.label" [value]="item.label">
        </mat-form-field>
        <mat-form-field fxFlex=48>
            <input matInput placeholder="Enter name" [(ngModel)]="item.name" [value]="item.name">
        </mat-form-field>
    </div>
</div>