<mat-progress-bar *ngIf="isLoading" color="primary" mode="indeterminate"></mat-progress-bar>
<div fxLayout="row" style="display: flex;" fxLayout.lt-md="column" fxLayoutAlign="stretch" fxLayoutGap="10px" fxFlexFill>
    <mat-card  class="mat-typography todo-card card-left card-background">
        <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="toDoItems" [cdkDropListConnectedTo]="[doneList]"
            class="mt-1 toDo-cardlist" (cdkDropListDropped)="drop($event, item)" cdkDropListSortingDisabled>
            <div class="toDo-cardbox" *ngFor="let item of toDoItems" cdkDrag>
                <mat-card class="btncard" fxLayout="column" fxLayoutAlign="center center">
                    <mat-icon>{{item.icon}}</mat-icon>
                    <mat-label fxLayoutAlign="center center" class="btnlabel">
                        {{item.name | titlecase }} </mat-label>
                </mat-card>
            </div>
        </div>
    </mat-card>
    <mat-card  class="form-overflow mat-typography card-right" fxLayout="column" fxLayoutGap="10px">
        <!-- Refactor code -->
        <form name="form" #f="ngForm" fxLayout="column" novalidate>
            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start start">
                <h2 fxFlex="1 1 100%">{{'TEMPLATE.BOTTOM-SHEET.TITLE'| translate}}</h2>
                <span fxFlex="1 1 100%"></span>
                <div fxLayout="row" fxLayoutGap="5px">
                    <button mat-stroked-button color="primary"
                        (click)="goBack()">{{'GENERIC.BUTTON.CANCEL'| translate}}</button>
                    <button mat-stroked-button color="primary" [disabled]="!(doneItems.length > 0)"
                        (click)="openBottomSheet()">
                        {{'GENERIC.BUTTON.VIEW'| translate}}</button>
                    <button *ngIf="!templateId" mat-stroked-button (click)="submit()"
                        [disabled]="!(doneItems.length > 0) || !f.form.valid">{{'GENERIC.BUTTON.CREATE'| translate}}</button>
                    <button *ngIf="templateId" mat-stroked-button (click)="update()"
                        [disabled]="!(doneItems.length > 0) || !f.form.valid">{{'GENERIC.BUTTON.UPDATE'| translate}}</button>
                        <button *ngIf="templateId" mat-stroked-button color="primary" [disabled]="!(doneItems.length > 0)"
                            (click)="delete()">Delete</button>    
                    </div>
            </div>
            <div fxLayout="row wrap" fxFlexFill fxLayoutAlign="space-between start" fxLayoutGap="10px">
                <mat-form-field fxFlex="100">
                    <mat-label>{{'TEMPLATE.NAME'| translate}}</mat-label>
                    <input matInput placeholder="{{'GENERIC.TITLE.ENTER-TEMPLATE-NAME'| translate}}" name="tempName"
                        #tempName="ngModel" [(ngModel)]="config.name" required>
                    <mat-error *ngIf="tempName.touched && !tempName.valid" class="full-width">
                        <div *ngIf="tempName?.errors?.required">
                            {{'TEMPLATE.VALIDATION.TYPE-REQUIRED' | translate}}</div>
                    </mat-error>
                </mat-form-field>
            </div>
        </form>
        <div style="padding: 10px" fxLayout="column" fxFlex="1 1 100%" cdkDropList #doneList="cdkDropList"
            [cdkDropListData]="doneItems" [cdkDropListConnectedTo]="[todoList]" class="example-list"
            (cdkDropListDropped)="drop($event, item)">
            <div fxLayoutAlign="center center" fxLayout="column" fxFlexFill *ngIf="doneItems.length === 0"
                class="emptybox icons-color">
                <mat-label>
                    {{'TEMPLATE.BOTTOM-SHEET.DRAG&DROP-BOTTOM-SHEET-ITEMS' | translate}}
                </mat-label>
            </div>
            <div fxLayout="row" fxLayoutGap="10px" fxFlex="1 1 100%">
                <div fxLayout="column" fxLayoutAlign="start start" fxFlexFill>
                    <!-- <mat-label>{{item.name}}</mat-label> -->
                    <form *ngIf="this.btnGroup.get('buttons')" [formGroup]="btnGroup" fxFlex="1 1 100%" fxFlexFill
                        fxLayout="row wrap" fxLayoutGap="10px">
                        <div formArrayName="buttons" fxFlex="1 1 100%" fxLayout="row wrap" fxLayoutGap="5px grid">
                            <div fxFlex="1 1 100%" *ngFor="let btn of btnGroup.get('buttons')['controls']; let i=index">
                                <div fxFlex="1 1 100%" [formGroupName]="i" fxLayoutGap="10px">
                                    <mat-form-field appearance="legacy" fxFlex="48%">
                                        <mat-label>{{'TEMPLATE.BOTTOM-SHEET.BUTTON-LABEL' | translate}}</mat-label>
                                        <input matInput
                                            placeholder="{{'TEMPLATE.BOTTOM-SHEET.BUTTON-LABEL' | translate}}"
                                            formControlName="label">
                                        <!-- <mat-hint>Hint</mat-hint> -->
                                    </mat-form-field>
                                    <mat-form-field appearance="legacy" fxFlex="48%">
                                        <mat-label>{{'TEMPLATE.BOTTOM-SHEET.BUTTON-SUB-LABEL' | translate}}</mat-label>
                                        <input matInput
                                            placeholder="{{'TEMPLATE.BOTTOM-SHEET.BUTTON-SUB-LABEL' | translate}}"
                                            formControlName="subLabel">
                                        <!-- <mat-hint>Hint</mat-hint> -->
                                    </mat-form-field>
                                    <mat-form-field appearance="legacy" fxFlex="48%">
                                        <mat-label>{{'TEMPLATE.BOTTOM-SHEET.BUTTON-NAVIGATE-URL' | translate}}
                                        </mat-label>
                                        <input matInput
                                            placeholder="{{'TEMPLATE.BOTTOM-SHEET.BUTTON-SUB-LABEL' | translate}}"
                                            formControlName="navLink">
                                        <!-- <mat-hint>Hint</mat-hint> -->
                                    </mat-form-field>
                                    <button mat-icon-button color="warn" (click)="removeItem(i)">
                                        <mat-icon>remove_circle</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <form *ngIf="this.paraEditr.get('paragraphs')" [formGroup]="paraEditr" fxFlex="1 1 100%" fxFlexFill
                fxLayout="row wrap" fxLayoutGap="10px">
                <div formArrayName="paragraphs" fxFlex="1 1 100%" fxLayout="row wrap" fxLayoutGap="5px grid">
                    <div fxFlex="1 1 100%" *ngFor="let btn of paraEditr?.get('paragraphs')['controls']; let i=index">
                        <div fxFlex="1 1 100%" [formGroupName]="i" fxLayoutGap="10px">
                            <angular-editor 
                                placeholder="{{'TEMPLATE.BOTTOM-SHEET.ENTER-TEXT-HERE' | translate}}"
                                formControlName="content">
                            </angular-editor>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </mat-card>
</div>