.emptybox {
    border-style: dashed;
    font-size: 20px;
    padding: 40px;
}

///////
.drag{
    font-size: 21px;
    // font-weight: 500;
}

.btncard {
    height: 60px;
    padding: 0px !important;
    flex-basis: 75px;
    border: 1px #878787 solid;
}

 

.toDo-cardbox {
    padding: 0px 10px 10px 10px;
    cursor: move;
}
.btnlabel{
    color: #000000de !important;
}

.card-left {
    position: fixed;
    display: flex;
    padding: 0 !important;
    float: left;
    width: auto;
    height: auto;
  }
  
  .card-right {
    margin-left: 110px !important;
    width: 93% !important;
  
  }
  
  @media only screen and (min-width: 1960px) and (orientation: landscape) {
    .card-right {
        width: 95% !important;
    }
  }