<app-content-header [icon]="'supervisor_account'" [title]="'Page configuration'"
    [desc]="'View information about Pages, search, add, edit any configuration.'" [hideBreadcrumb]="false"
    [hasBgImage]="true" [class]="'pb-5'"></app-content-header>
<mat-progress-bar *ngIf="isLoading" color="primary" mode="indeterminate"></mat-progress-bar>
<div class="page-content">
    <mat-card>
        <div fxLayout="row" fxLayoutAlign="space-between start">
            <mat-card-title>{{'GENERIC.TITLE.HOME' | translate}}</mat-card-title>
            <div fxLayout="row" fxLayoutAlign="end center" fxFlex.xs="1 0 100%" fxLayoutGap="0.5em"
                style="padding: 0px 10px;">
                <button mat-raised-button color="primary"
                    [disabled]="!(selection?.selected?.length === 0 || !enableCloneView)"
                    (click)="routeToNew()">{{'GENERIC.BUTTON.NEW' | translate}}</button>
                <button *ngIf="hasClonePermission" [disabled]="selection?.selected?.length === 0 || !enableCloneView"
                    mat-raised-button color="primary" (click)="clonePage()">Clone</button>
                <button *ngIf="hasClonePermission" [disabled]="selection?.selected?.length === 0 || !enableCloneView"
                    mat-raised-button color="primary" (click)="modifyPage()">Modify</button>
            </div>
        </div>
        <div class="mat-typography">
            <mat-form-field style="width: 100%">
                <input matInput (keyup)="applyFilter($event)" placeholder="{{'GRID.FILTER' | translate}}">
            </mat-form-field>

            <table mat-table [dataSource]="dataSource" matSort style="width: 100%;"
                [ngClass]="{'add-top-padding': !showDefaultFilter}">
                <div *ngIf="hasClonePermission">
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        </th>
                        <td mat-cell *matCellDef="let row">
                            <mat-checkbox (click)="$event.stopPropagation()" (change)="onCheckBoxChange($event, row)"
                                [checked]="selection.isSelected(row)">
                            </mat-checkbox>
                        </td>
                    </ng-container>
                </div>
                <ng-container *ngFor="let header of headers">
                    <div *ngIf="hasClonePermission; else withoutCheckbox">
                        <div *ngIf="(header.columnName !== 'select')">
                            <ng-container matColumnDef="{{header.columnName}}">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                    {{header.display_name | translate | uppercase}} </th>
                                <td mat-cell *matCellDef="let element">
                                    <mat-label>{{element[header.columnName] | translate}}</mat-label>
                                </td>
                            </ng-container>
                        </div>
                    </div>
                    <ng-template #withoutCheckbox>
                        <ng-container matColumnDef="{{header.columnName}}">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                {{header.display_name | translate | uppercase}} </th>
                            <td mat-cell *matCellDef="let element">
                                <mat-label>{{element[header.columnName] | translate}}</mat-label>
                            </td>
                        </ng-container>
                    </ng-template>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row style="cursor:pointer;" *matRowDef="let row; columns: displayedColumns;"
                    (click)="!hasClonePermission ? selectedRowItem(row) : checkSelection($event, row)">
                </tr>
            </table>
            <div *ngIf="noData | async" class="no-records" fxLayoutAlign="center center">
                <mat-label>{{'GENERIC.TITLE.NO-RECORDS-FOUND' | translate}}</mat-label>
            </div>
            <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]">
            </mat-paginator>
        </div>
    </mat-card>
</div>