// .material-icons {
//     vertical-align: text-top;
//     font-size: 18px;
//     padding-right: 2px;
// }

.permission-button::before {
    color: green;
    font-size: 32px;
    vertical-align: middle;
    font-family: 'Material Icons';
    content: "toggle_off";
    font-style: normal;
    padding-right: 3px;
}

.permission-page::before {
    color: blue;
    vertical-align: middle;
    font-family: 'Material Icons';
    content: "collections";
    font-style: normal;
    font-size: 22px;
    padding-right: 3px;
}

.permission-module::before {
    color: orange;
    font-family: 'Material Icons';
    content: "group_work";
    font-style: normal;
    font-size: 23px;
    padding-right: 3px;
    vertical-align: text-top;
}

// ::ng-deep .mat-vertical-content {
//     padding: 0px;
// }

.mat-tree-node {
    min-height: 40px;
}

.example-tree-invisible {
    display: none;
}

.example-tree ul,
.example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    padding-left: 10px !important;
}