<mat-progress-bar *ngIf="isLoading" color="primary" mode="indeterminate"></mat-progress-bar>
<div class="page-content">
    <div fxLayout="column" fxLayoutGap="10px" fxFlexFill>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="stretch" fxLayoutGap="10px" fxFlexFill>
            <mat-card fxFlex="30" class="mat-typography todo-card card-background">
                <h2>{{'TEMPLATE.DIALOG.START-CREATE-DIALOG-BOX'| translate}}</h2>
                <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="dialogTodoItems"
                    [cdkDropListConnectedTo]="[doneList]" class="toDo-list card-height-100vh"
                    (cdkDropListDropped)="drop($event)" cdkDropListSortingDisabled>
                    <div class="toDo-box" *ngFor="let item of dialogTodoItems" cdkDrag>
                        {{item.details.name | uppercase}}
                    </div>
                </div>
            </mat-card>

            <div fxFlex="70" cdkDropList #doneList="cdkDropList" [cdkDropListData]="dialogDoneItems"
                [cdkDropListConnectedTo]="[todoList]" (cdkDropListDropped)="drop($event)" fxFlexFill fxLayout="column">
                <mat-card fxLayout="column" fxLayoutGap="10px">
                    <form name="form" #f="ngForm" fxLayout="column" novalidate>
                        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start start">
                            <h2 fxFlex="1 1 100%">{{'TEMPLATE.DIALOG.CREATE'| translate}}</h2>
                            <span fxFlex="1 1 100%"></span>
                            <div fxLayout="row" fxLayoutGap="5px">
                                <button mat-stroked-button color="primary"
                                    (click)="goBack()">{{'GENERIC.BUTTON.CANCEL'| translate}}</button>
                                <button mat-stroked-button
                                    (click)="resetDoneItems()">{{'GENERIC.BUTTON.RESET'| translate}}</button>
                                <button mat-stroked-button
                                    (click)="onViewClick()">{{'GENERIC.BUTTON.VIEW'| translate}}</button>
                                <button *ngIf="!templateId" mat-stroked-button
                                    [disabled]="!(dialogDoneItems.length > 0)  || !f.form.valid"
                                    (click)="submit()">{{'GENERIC.BUTTON.SAVE'| translate}}</button>
                                <button *ngIf="templateId" mat-stroked-button
                                    [disabled]="!(dialogDoneItems.length > 0)  || !f.form.valid"
                                    (click)="update()">{{'GENERIC.BUTTON.UPDATE'| translate}}</button>
                                <button *ngIf="templateId" mat-stroked-button color="primary"
                                    [disabled]="!(dialogDoneItems.length > 0)  || !f.form.valid"
                                    (click)="delete()">Delete</button>
                            </div>
                        </div>
                        <div fxLayout="row wrap" fxFlexFill fxLayoutAlign="space-between start" fxLayoutGap="10px">
                            <mat-form-field fxFlex="100">
                                <mat-label>{{'TEMPLATE.NAME'| translate}}</mat-label>
                                <input matInput placeholder="{{'GENERIC.TITLE.ENTER-TEMPLATE-NAME'| translate}}"
                                    name="tempName" #tempName="ngModel" [(ngModel)]="config.name" required>
                                <mat-error *ngIf="tempName.touched && !tempName.valid" class="full-width">
                                    <div *ngIf="tempName?.errors?.required">
                                        {{'TEMPLATE.VALIDATION.TYPE-REQUIRED' | translate}}</div>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </form>
                    <div fxLayoutAlign="center center" fxLayout="column" fxFlexFill
                        *ngIf="(dialogDoneItems.length === 0)" class="emptybox icons-color">
                        <mat-label>{{'TEMPLATE.DIALOG.DRAG&DROP-DIALOG-ITEMS'| translate}}</mat-label>
                    </div>
                    <div *ngFor="let dialogAttr of dialogDoneItems; let i = index;" cdkDrag>
                        <app-template-form-view-cmp (multipleForms)="getMultipleFormValue($event)"
                            (formValue)="getFormValue($event)" (isFormInvalid)="getFormValid($event)"
                            style="padding: 0px 5px;" fxFlex="1 1 100%" [item]="dialogAttr"
                            [multipleForm]="dialogFormGroup.controls" [formIndex]="i"
                            *ngIf="dialogAttr?.details?.type?.id === 1">
                        </app-template-form-view-cmp>
                        <app-template-pageaction-view-cmp fxFlex="1 1 100%" [item]="dialogAttr"
                            *ngIf="dialogAttr?.details?.type?.id === 5">
                        </app-template-pageaction-view-cmp>
                        <div>
                            <button mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="openEditDialog(dialogAttr,i)">
                                    <mat-icon>edit</mat-icon>
                                    <span>{{'GENERIC.BUTTON.EDIT' | translate}}</span>
                                </button>
                                <button mat-menu-item (click)="removeItem(i)">
                                    <mat-icon class="delete">delete</mat-icon>
                                    <span>{{'GENERIC.BUTTON.DELETE' | translate}}</span>
                                </button>
                            </mat-menu>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>