<app-content-header [hideBreadcrumb]="false" [hasBgImage]="true" [class]="'pb-2'"></app-content-header>
<mat-progress-bar *ngIf="isLoading" color="primary" mode="indeterminate"></mat-progress-bar>
<div fxLayout="column">
    <div class="page-content ">
        <mat-card fxLayout="column" fxLayoutAlign="stretch">
            <div fxLayout="row" fxLayoutAlign="space-between start">
                <mat-card-title>Edit</mat-card-title>
                <div fxLayout="row " fxLayoutAlign="space-between end" fxLayoutGap="10px">
                    <button mat-raised-button routerLink="./../../home">{{'GENERIC.BUTTON.BACK' | translate}}</button>
                    <button mat-raised-button (click)="update()"
                        color="primary">{{'GENERIC.BUTTON.UPDATE' | translate}}</button>
                </div>
            </div>
            <div>
                <div class="modeler" fxLayout="row" fxFlex="1 1 100%">
                    <div fxFlex="80" id="canvas"></div>
                    <div fxFlex="20" id="properties"></div>
                </div>
            </div>
        </mat-card>
    </div>
</div>