#properties {
  border: 1px solid #ccc;
  overflow-y: auto;
  background-color: #f8f8f8;
}

#canvas{
  border: 1px solid #ccc;
  background-color: #fff !important;
}

::ng-deep .bjs-powered-by{
  display: none;
}
