<h1 mat-dialog-title>{{'TEMPLATE.DIALOG.VIEW'| translate}}</h1>
<div>
    <div mat-dialog-content *ngFor="let dialogAttr of dialogItems; let i = index;">
        <app-template-form-view-cmp (multipleForms)="getMultipleFormValue($event)" (formValue)="getFormValue($event)"
            (isFormInvalid)="getFormValid($event)" style="padding: 0px 5px;" fxFlex="1 1 100%" [item]="dialogAttr"
            [multipleForm]="dialogFormGroup.controls" [formIndex]="i"
            *ngIf="dialogAttr?.details?.type?.id === 1 && dialogFormGroup">
        </app-template-form-view-cmp>

        <app-template-pageaction-view-cmp fxFlex="1 1 100%" [item]="dialogAttr"
            *ngIf="dialogAttr?.details?.type?.id === 5">
        </app-template-pageaction-view-cmp>
    </div>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
    <button mat-stroked-button color="accent" (click)="onNoClick()"
        cdkFocusInitial>{{'GENERIC.BUTTON.CLOSE'| translate}}</button>
</div>