.bpp-properties-header {
  text-align: center;  /* change */
  padding: 10px 0px;
  font-size: 15px;
   > .label { /* change */
    word-wrap: break-word;
  }

  > .search {
    display: none;
    margin-top: 5px;
    position: relative;

    input {
      position: relative;
      border-radius: 15px;
      width: 100%;
      z-index: 1;
    }

    button {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      border: none;
      background-color: transparent;
      z-index: 2;
      &:before {
        content: '\E805';
      }
    }
  }
}
