    <div fxLayout="column"  class="page-content">
        <div fxLayout="row" fxLayoutAlign="start start">
            <h1 mat-dialog-title fxFlex="1 1 100"> {{ selectedTemplate?.type?.name | translate }} {{'GENERIC.TITLE.FLEX' | translate}}</h1>
            <span fxFlex="1 1 auto"></span>
            <div  fxLayoutAlign="start center" fxLayoutGap="5px">
                <button mat-stroked-button (click)="onNoClick()">{{'GENERIC.BUTTON.NO-THANKS'| translate}}</button>
                <button mat-stroked-button (click)="saveFormField()" cdkFocusInitial>{{'GENERIC.BUTTON.SAVE'| translate}}</button>
            </div>
        </div>
        <form *ngIf="options?.direction" fxLayout="row" fxFlexAlign="space-between start" fxFlexFill fxLayoutGap="5px"
            name="form1" #form="ngForm" fxFlexOffset="8px">
            <div fxFlex="33%">
                <div> {{'TEMPLATE.CONFIGURATION.DIRECTION-LAYOUT' | translate}}</div>
                <mat-form-field>
                    <mat-select [(ngModel)]="options.direction" name="direction1" #direction1="ngModel"
                        [compareWith]="compareFn">
                        <mat-option *ngFor="let direction of directions" [value]="direction">
                            {{direction.display_name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex="33%">
                <div>
                    <mat-label>{{'TEMPLATE.CONFIGURATION.HORIZONTAL-ALIGNMENT' | translate}}</mat-label>
                </div>
                <mat-form-field>
                    <mat-select [(ngModel)]="options.mAxis" name="xaxis" #xaxis="ngModel" [compareWith]="compareFn">
                        <mat-option *ngFor="let mAxis of mainAxis" [value]="mAxis">
                            {{mAxis.display_name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex="31.5%">
                <div>
                    <mat-label>{{'TEMPLATE.CONFIGURATION.VERTICAL-ALIGNMENT' | translate}}</mat-label>
                </div>
                <mat-form-field>
                    <mat-select [(ngModel)]="options.cAxis" name="yaxis" #yaxis="ngModel" [compareWith]="compareFn">
                        <mat-option *ngFor="let cAxis of crossAxis" [value]="cAxis">
                            {{cAxis.display_name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </form>
    </div>
