<div fxLayout="column" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutAlign="space-between start" fxFlexFill>
        <h1 mat-dialog-title>Edit Lable</h1>
        <div mat-dialog-actions fxLayoutAlign="end start">
            <button mat-stroked-button (click)="onNoClick()">{{'GENERIC.BUTTON.CANCEL'| translate}}</button>
            <button mat-stroked-button color="primary" [disabled]="!f.form.valid" (click)="saveFormField()"
                cdkFocusInitial>{{'GENERIC.BUTTON.OK'| translate}}</button>
        </div>
    </div>
    <mat-tab-group>
        <form name="form" #f="ngForm">
            <div fxLayout="column" fxLayoutGap="15px">
                <mat-tab label="Basic Details">
                    <div fxFlex="1 1 100%" fxLayout="row wrap" fxLayoutGap="10px " class="TabWidth">
                        <mat-form-field appearance="outline" fxFlex=48 class="mt-2">
                            <mat-label>Label</mat-label>
                            <input matInput [(ngModel)]="item.label" name="labelText" placeholder="Label">
                        </mat-form-field>
                        <!-- <mat-form-field appearance="outline" fxFlex=48 class="mt-2">
                            <mat-label>Model Name</mat-label>
                            <input matInput [(ngModel)]="item.modelName" name="modName" #modName="ngModel"
                                pattern="^[a-zA-Z0-9]+(?:.[a-zA-Z0-9]+)*$" minlength="3" maxlength="50"
                                placeholder="Model name" required>
                            <mat-hint><i>Model cannot be empty and must be unique acrosss a form group</i></mat-hint>
                            <mat-error *ngIf="modName.invalid && modName.invalid">
                                <div *ngIf="modName?.errors?.required">
                                    {{'TEMPLATE.FORM.VALIDATION.MODEL-REQUIRED'| translate}}
                                </div>
                                <div *ngIf="modName?.errors?.minlength">
                                    {{'TEMPLATE.FORM.VALIDATION.MUST-3CHARACTERS-LENGTH'| translate}}</div>
                                <div *ngIf="modName?.errors?.maxlength">
                                    {{'TEMPLATE.FORM.VALIDATION.EXCEED-50CHARACTERS-LENGTH'| translate}}</div>
                                <div *ngIf="modName?.errors?.pattern">
                                    {{'TEMPLATE.FORM.VALIDATION.ALLOW-SPACE&SPECIAL-CHARACTERS'| translate}}</div>
                            </mat-error>
                        </mat-form-field> -->
                    </div>
                </mat-tab>

                <mat-tab label="Security">
                    <div fxFlex="1 1 100%" fxLayout="row wrap" fxLayoutGap="10px" class="TabWidth">
                        <div fxFlex="100" fxLayout="row" fxLayoutGap="10px">
                            <mat-form-field appearance="outline" fxFlex="48" class="mt-2">
                                <mat-label>{{'TEMPLATE.FORM.VISIBILITY'| translate}}</mat-label>
                                <mat-select [(ngModel)]="item.securityAttrributes.visibility" name="vTypeName"
                                    #vTypeName="ngModel" (selectionChange)="onVisibiltyChange($event)"
                                    [compareWith]="compareFn" required>
                                    <mat-option *ngFor="let type of visibility" [value]="type">
                                        {{type.display_name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline" fxFlex=48 class="mt-2">
                                <mat-label>Permission code</mat-label>
                                <input matInput [(ngModel)]="item.permission" name="permission"
                                    [disabled]="item.securityAttrributes.visibility.id===1 || item.securityAttrributes.visibility.id===0"
                                    #permission="ngModel" placeholder=" Permission code" required>
                            </mat-form-field>
                        </div>

                    </div>
                </mat-tab>
                <mat-tab label="Responsive">
                    <div fxFlex="1 1 100%" fxLayout="row" fxLayoutGap="10px" class="TabWidth">
                        <div fxFlex="1 1 100%" fxLayout="row" fxLayoutGap="10px">
                            <mat-form-field appearance="outline" fxFlex=100 class="mt-2">
                                <mat-label>Choose Breakpoint to Show Field</mat-label>
                                <mat-select [(ngModel)]="item.isActiveAt" name="showItemAt" #showItemAt="ngModel"
                                    [compareWith]="compareFn" required>
                                    <mat-option *ngFor="let bPoint of responsiveBreakPoints" [value]="bPoint">
                                        {{bPoint.breakPoint}} - {{bPoint.mediaQuery}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-tab>

                <mat-tab label="Styles">
                    <div fxFlex="1 1 100%" fxLayout="row wrap" fxLayoutGap="10px" class="TabWidth">
                        <mat-form-field fxFlex=48 appearance="outline" class="mt-2">
                            <mat-label>Font-Size</mat-label>
                            <input matInput placeholder="Edit Fontsize(px)" type="number"
                                [(ngModel)]="item.fontStyle.fontSize" [value]="item?.fontStyle?.fontSize" name="size"
                                #size="ngModel" required>
                            <mat-error *ngIf="size.invalid">
                                <div *ngIf="size.errors.required"> Font size is required</div>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex=48 class="mt-2">
                            <mat-label>Choose Font-Weigh</mat-label>
                            <mat-select [(ngModel)]="item.fontStyle.fontWeight" name="showItemAt" #showItemAt="ngModel"
                                [compareWith]="compareFn" required>
                                <mat-option *ngFor="let style of fontStyels" [value]="style.value">
                                    {{style.display_name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </mat-tab>
            </div>
        </form>

    </mat-tab-group>
</div>