<div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start start" class="mb-3">
    <h3 fxFlex="1 1 100"> Edit {{item?.header | titlecase }}</h3>
    <span fxFlex="1 1 auto"></span>
    <div fxLayout="row" fxLayoutGap="5px">
        <button mat-stroked-button (click)="onNoClick()">{{'GENERIC.BUTTON.NO-THANKS'| translate}}</button>
        <button mat-stroked-button (click)="saveCardAttr()" [disabled]="!f.form.valid"
            cdkFocusInitial>{{'GENERIC.BUTTON.OK'| translate}}</button>
    </div>
</div>
<form name="form" #f="ngForm" novalidate fxLayout="column" fxLayoutGap="1.5em">
    <div fxLayout="column" fxLayoutGap="1.5em">
        <div fxFlex="100" fxLayout="row" fxLayout.xs="column" fxLayoutGap="10px">
            <div *ngFor="let button of item.actions.buttons" fxFlex="48">
                <mat-form-field>
                    <input matInput placeholder="Edit Button Name" name="btn" #btn="ngModel" [(ngModel)]="button.name"
                        [value]="button.name" name="button" #button="ngModel" required>
                    <mat-error *ngIf="btn.touched && !btn.valid">
                        <div *ngIf="btn?.errors?.required">
                            Button name is required
                        </div>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="stretch">
            <mat-label>{{'TEMPLATE.CARD.ALIGNMENT' | translate}}</mat-label>
            <div fxLayout="row" fxFlex="1 1 100%" fxLayoutGap="10px">
                <mat-form-field fxFlex="48">
                    <mat-label>{{'TEMPLATE.CARD.HORIZONTAL' | translate}}</mat-label>
                    <mat-select [(ngModel)]="item.properties.hAlign" [compareWith]="compareFn" name="hAlign"
                        #hAlign="ngModel">
                        <mat-option *ngFor="let hAlign of hrzntlAlignments" [value]="hAlign">
                            {{hAlign.display_name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="48">
                    <mat-label>{{'TEMPLATE.CARD.VERTICAL' | translate}}</mat-label>
                    <mat-select [(ngModel)]="item.properties.vAlign" [compareWith]="compareFn" name="vAlign"
                        #vAlign="ngModel">
                        <mat-option *ngFor="let vAlign of verticalAlignments" [value]="vAlign">
                            {{vAlign.display_name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>
</form>