<mat-drawer-container class="landing-container h-100">
    <mat-drawer-content>
        <mat-toolbar class="landing-toolbar mat-elevation-z4">
            <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <a routerLink="/" fxLayout="row" fxLayoutAlign="start center">
                        <img src="assets/img/ae-logo.svg" alt="logo">
                    </a>
                </div>
            </div>
        </mat-toolbar>
        <div class="pb-3"></div>
        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="0.5em" style="padding: 0px 10px;">
            <button routerLink="./../../../admin/kiosk" mat-raised-button>
                <mat-icon>arrow_back</mat-icon> {{'GENERIC.BUTTON.BACK' | translate}}
            </button>
            <button mat-raised-button routerLink="/" color="accent">
                <mat-icon>home</mat-icon> {{'GENERIC.BUTTON.HOME' | translate}}
            </button>
        </div>
        <div id="features" class="mt-2 pt-3" *ngIf="permissionsLoaded">
            <div fxLayout="column wrap" fxLayoutAlign="center center">
                <div fxFlex="100">
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <div *ngFor="let feature of features" fxFlex="100" fxFlex.gt-md="25" fxFlex.md="33.3"
                            fxFlex.sm="50" class="p-2" [appDisplayPermission]="feature.permissionCode">
                            <mat-card fxLayout="column" fxLayoutAlign="center center" class="w-100"
                                [routerLink]="[feature.routerLink]">
                                <mat-icon class="mat-icon-xlg accent-color">{{feature.icon}}</mat-icon>
                                <h2 class="block-title my-3">{{feature.title | translate}}</h2>
                                <p class="text-center secondary-text-color">
                                    {{feature.desc | translate}}
                                </p>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>