<mat-drawer-container class="landing-container h-100">
    <mat-drawer-content>
        <!--   <mat-toolbar class="landing-toolbar mat-elevation-z4">
            <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <a routerLink="/" fxLayout="row" fxLayoutAlign="start center">
                        <img src="assets/img/ae-logo.svg" alt="logo">
                    </a>
                </div>
            </div>
        </mat-toolbar> -->
        <app-content-header id="home" [icon]="'important_devices'" [title]="'Welcome'"
            [desc]="'<< We >> provide top notch kiosk services to Visitors & Empolyees'" [hideBreadcrumb]="true"
            [hasBgImage]="true" [class]="'py-5 px-2'"></app-content-header>
        <div class="p-2" *ngIf="permissionsLoaded">
            <div id="features" class="mt-2 pt-3">
                <div fxLayout="column" fxLayoutAlign="center center" class="title-section p-2 mb-2">
                    <h1>{{'LANDING.TITLE.HELLO'| translate}}</h1>
                    <p class="secondary-text-color">{{'LANDING.TITLE.IDENTIFY'| translate}}</p>
                </div>
                <div fxLayout="row wrap" fxLayoutAlign="center center">
                    <div fxFlex="100">
                        <div fxLayout="row wrap" fxLayoutAlign="center center" *ngIf="features">
                            <div *ngFor="let feature of features" fxFlex="100" fxFlex.gt-md="25" fxFlex.md="33.3"
                                fxFlex.sm="50" class="p-2" [appDisplayPermission]="feature.permissionCode">
                                <mat-card fxLayout="column" fxLayoutAlign="center center" class="w-100"
                                    [routerLink]="[feature.routerLink]">
                                    <mat-icon class="mat-icon-xlg accent-color">{{feature.icon}}</mat-icon>
                                    <h2 class="block-title my-3">{{feature.title| translate}}</h2>
                                    <p class="text-center secondary-text-color">
                                        {{feature.desc | translate}}
                                    </p>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>