<mat-progress-bar *ngIf="isLoading" color="primary" mode="indeterminate"></mat-progress-bar>
<div fxLayout="column" fxLayoutGap="10px" fxFlexFill>
    <div *ngIf="!showCreateView" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="stretch" fxLayoutGap="10px"
        fxFlexFill style="display: flex;">
        <mat-card fxLayout="column" fxLayoutGap="10px"
            class="mat-typography toDo-cardlist card-left todo-card card-background"
            style="height: 500px; overflow-y: auto;">

            <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="formControlsTODO" cdkDropListSortingDisabled
                [cdkDropListConnectedTo]="[doneList]" (cdkDropListDropped)="drop($event)" class="mt-2 ">
                <div class="toDo-cardbox" *ngFor="let item of formControlsTODO" cdkDrag>
                    <mat-card class="btncard" fxLayout="column" fxLayoutAlign="center center">
                        <mat-icon>{{item.icon}}</mat-icon>
                        <mat-label fxLayoutAlign="center center" class="btnlabel">
                            {{item.controlType | titlecase }} </mat-label>
                    </mat-card>
                </div>
            </div>

            <div cdkDropList #todoButtonList="cdkDropList" [cdkDropListData]="buttons"
                [cdkDropListConnectedTo]="[buttonDoneList]" (cdkDropListDropped)="dropButton($event)"
                cdkDropListSortingDisabled>
                <div class="toDo-cardbox" *ngFor="let button of buttons" cdkDrag>
                    <mat-card class="btncard" fxLayout="column" fxLayoutAlign="center center">
                        <mat-icon>keyboard</mat-icon>
                        <mat-label fxLayoutAlign="center center" class="btnlabel">
                            {{button.label}} </mat-label>
                    </mat-card>
                </div>
            </div>

        </mat-card>
        <mat-card class="form-overflow mat-typography card-right" fxLayout="column">

            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start start">
                <h2 fxFlex="1 1 100%">{{'TEMPLATE.FORM.TITLE' | translate}}</h2>
                <span fxFlex="1 1 auto"></span>
                <div fxLayout="row" fxLayoutGap="5px">
                    <button mat-stroked-button color="primary"
                        (click)="goBack()">{{'GENERIC.BUTTON.CANCEL'| translate}}</button>
                    <button *ngIf="!templateId" mat-stroked-button (click)="submit()"
                        [disabled]="!( done.length > 0 || buttonsDone.length > 0  ) || !f.form.valid ">{{'GENERIC.BUTTON.SAVE'| translate}}</button>
                    <button *ngIf="templateId" mat-stroked-button (click)="update()"
                        [disabled]="!(done.length > 0 || !f.form.valid)">{{'GENERIC.BUTTON.UPDATE'| translate}}</button>
                    <button *ngIf="templateId" mat-stroked-button color="primary" [disabled]="!(done.length > 0)"
                        (click)="delete()">{{'GENERIC.BUTTON.DELETE' | translate}}</button>
                    <button mat-stroked-button (click)="onViewClick()"
                        [disabled]="!(done.length > 0)">{{'GENERIC.BUTTON.VIEW'| translate}}</button>
                    <button mat-stroked-button [matMenuTriggerFor]="menu" [disabled]="!(done.length > 0)">
                        <mat-icon class="menu">settings</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item
                            (click)="openConfig(templateConfig, 1)">{{'GENERIC.BUTTON.FLEX' | translate}}
                        </button>
                        <button mat-menu-item
                            (click)="openConfig(templateConfig, 2)">{{'GENERIC.BUTTON.THEME'| translate}}
                        </button>
                        <button mat-menu-item
                            (click)="openButtonConfig(buttonConfig)">{{'TEMPLATE.PAGE-ACTION.CONFIGURATION'| translate}}
                        </button>
                    </mat-menu>
                </div>
            </div>

            <form name="form" #f="ngForm" fxLayout="column" fxLayoutAlign="space-between start" novalidate>
                <div fxLayout="row wrap" fxFlexFill fxLayoutAlign="space-between start" fxLayoutGap="10px">
                    <mat-form-field fxFlex="100">
                        <mat-label>{{'TEMPLATE.NAME'| translate}}</mat-label>
                        <input matInput placeholder="{{'GENERIC.TITLE.ENTER-TEMPLATE-NAME'| translate}}" name="tempName"
                            #tempName="ngModel" [(ngModel)]="config.name" required>
                        <mat-error *ngIf="tempName.touched && !tempName.valid" class="full-width">
                            <div *ngIf="tempName?.errors?.required">
                                {{'TEMPLATE.VALIDATION.TYPE-REQUIRED' | translate}}</div>
                        </mat-error>
                    </mat-form-field>
                </div>
            </form>

            <div fxLayout="column">
                <div fxFlexOrder="1" style="padding: 10px" fxLayoutGap="10px" cdkDropList #buttonDoneList="cdkDropList"
                    [cdkDropListData]="buttonsDone" [cdkDropListConnectedTo]="[todoButtonList]" class="example-list"
                    (cdkDropListDropped)="dropButton($event)">
                    <div fxLayoutAlign="center center" fxLayout="column" fxFlexFill *ngIf="buttonsDone.length === 0"
                        class="emptybox icons-color">
                        <mat-label>{{'TEMPLATE.PAGE-ACTION.DRAG&DROP-BUTTON-ITEMS'| translate}} </mat-label>
                    </div>
                    <div *ngIf="(buttonsDone.length > 0)">
                        <div [fxLayout]="buttonConfig?.name" [fxLayoutAlign]="buttonConfig?.alignment">
                            <div *ngFor="let item of buttonsDone;let j = index" cdkDrag class="example-box done-box">
                                <div style="padding: 3px">
                                    <button *ngIf="item.id === 1" mat-button [color]="item.color"
                                        [type]="item.type.name">{{item.label}}</button>
                                    <button *ngIf="item.id === 2" mat-raised-button [color]="item.color"
                                        [type]="item.type.name">{{item.label}}</button>
                                    <button *ngIf="item.id === 3" mat-stroked-button [type]="item.type.name"
                                        [color]="item.color">{{item.label}}</button>
                                    <button *ngIf="item.id === 4" mat-flat-button [color]="item.color"
                                        [type]="item.type.name">{{item.label}}</button>
                                    <button mat-icon-button [matMenuTriggerFor]="menu"
                                        aria-label="Example icon-button with a menu">
                                        <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item (click)="removeButton(j)">
                                            <mat-icon class="delete">delete</mat-icon>
                                            <span>{{'GENERIC.BUTTON.DELETE'| translate}}</span>
                                        </button>
                                        <button mat-menu-item (click)="openButtonEditDialog(item)">
                                            <mat-icon>edit</mat-icon>
                                            <span>{{'GENERIC.BUTTON.EDIT'| translate}}</span>
                                        </button>
                                    </mat-menu>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div [fxFlexOrder]="templateConfig?.flexOrder?.order" style="padding: 10px" cdkDropList
                    #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[todoList]"
                    (cdkDropListDropped)="drop($event)" [fxLayout]="templateConfig.layout.name"
                    [fxLayoutAlign]="templateConfig.layout.id === 0 ? 'start start' : 'stretch'" fxFlexFill
                    [fxLayoutGap]="templateConfig.layout.id === 0 ? templateConfig.layoutColumn.flexGap : '0px'"
                    fxLayoutAlign.xs="stretch"
                    [fxFlex]="templateConfig.layout.id === 1 ? '0 0 0%' : templateConfig.layoutColumn.flex">
                    <!-- <div fxLayout="row" fxFlex="1 1 100%" fxLayoutAlign="space-between start" fxLayoutGap="10px">
                        <mat-form-field>
                            <input matInput placeholder="Enter endpoint" [(ngModel)]="endPoint">
                        </mat-form-field>
                        <button mat-stroked-button color="primary" (click)="getData()">Fetch</button>
                    </div> -->
                    <div fxLayoutAlign="center center" fxLayout="column" fxFlexFill *ngIf="done.length === 0"
                        class="emptybox icons-color">
                        <mat-label>{{'TEMPLATE.FORM.DRAG&DROP-ITEMS' | translate}}
                        </mat-label>
                    </div>
                    <div class="done-box" *ngFor="let item of done;let i = index" cdkDrag fxLayout="row"
                        [fxFlex]="templateConfig.layout.id === 1 ? '1 1 100%' : templateConfig.layoutColumn.flex">
                        <div *ngIf="item.controlType==='textbox'" fxLayout="row" fxLayoutAlign="space-between center"
                            fxFlex="1 1 100%">
                            <mat-form-field [appearance]="templateConfig.fieldStyle.name">
                                <mat-label>{{item.label}}</mat-label>
                                <input matInput [type]="item?.dataType?.type" class="form-control" id="{{item.name}}"
                                    value="{{item.value}}" placeholder="{{item.label}}" minlength="item.minlength"
                                    maxlength="item.maxlength" required="{{item.required}}" minvalue="item.minvalue"
                                    maxvalue="item.maxvalue" pattern="{{item.pattern}}">
                            </mat-form-field>
                            <button mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="openEditDialog(item,i)">
                                    <mat-icon>edit</mat-icon>
                                    <span>{{'GENERIC.BUTTON.EDIT' | translate}}</span>
                                </button>
                                <button mat-menu-item (click)="removeItem(i)">
                                    <mat-icon class="delete">delete</mat-icon>
                                    <span>{{'GENERIC.BUTTON.DELETE' | translate}}</span>
                                </button>
                            </mat-menu>

                        </div>
                        <div *ngIf="item.controlType=='datepicker'" fxFlex="1 1 100%" fxLayout="row"
                            fxLayoutAlign="space-between center">
                            <mat-form-field [appearance]="templateConfig.fieldStyle.name">
                                <mat-label>{{item.label}}</mat-label>
                                <input matInput [matDatepicker]="picker" [value]="item.value" [min]="item.minDate"
                                    [max]="item.maxDate" [placeholder]="item.label">
                                <mat-datepicker #picker></mat-datepicker>
                                <span fxFlex="1 1 100%"></span>
                                <div fxLayout="row" class="date-picker-icons-height" fxLayoutAlign="start center">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                </div>
                            </mat-form-field>
                            <button mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="openEditDialog(item,i)">
                                    <mat-icon>edit</mat-icon>
                                    <span>{{'GENERIC.BUTTON.EDIT' | translate}}</span>
                                </button>
                                <button mat-menu-item (click)="removeItem(i)">
                                    <mat-icon class="delete">delete</mat-icon>
                                    <span>{{'GENERIC.BUTTON.DELETE' | translate}}</span>
                                </button>
                            </mat-menu>

                        </div>
                        <div *ngIf="item.controlType=='textarea'" fxLayout="row" fxLayoutAlign="space-between center"
                            fxFlex="1 1 100%">
                            <mat-form-field [appearance]="templateConfig.fieldStyle.name">
                                <mat-label>{{item.label}}</mat-label>
                                <textarea matInput class="form-control" [matTextareaAutosize] id="{{item.name}}"
                                    placeholder="{{item.label}}" value="{{item.value}}">
                </textarea>
                            </mat-form-field>
                            <button mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="openEditDialog(item,i)">
                                    <mat-icon>edit</mat-icon>
                                    <span>{{'GENERIC.BUTTON.EDIT' | translate}}</span>
                                </button>
                                <button mat-menu-item (click)="removeItem(i)">
                                    <mat-icon class="delete">delete</mat-icon>
                                    <span>{{'GENERIC.BUTTON.DELETE' | translate}}</span>
                                </button>
                            </mat-menu>

                        </div>
                        <div *ngIf="item.controlType=='file'" fxLayout="row" fxLayoutAlign="space-between center"
                            fxFlex="1 1 100%">
                            <mat-form-field [appearance]="templateConfig.fieldStyle.name">
                                <mat-label>{{item.label}}</mat-label>
                                <input matInput type="file" class="form-control" id="{{item.name}}"
                                    placeholder="{{item.label}}">
                            </mat-form-field>
                            <button mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="openEditDialog(item,i)">
                                    <mat-icon>edit</mat-icon>
                                    <span>{{'GENERIC.BUTTON.EDIT' | translate}}</span>
                                </button>
                                <button mat-menu-item (click)="removeItem(i)">
                                    <mat-icon class="delete">delete</mat-icon>
                                    <span>{{'GENERIC.BUTTON.DELETE' | translate}}</span>
                                </button>
                            </mat-menu>

                        </div>
                        <div *ngIf="item.controlType=='autocomplete'" fxLayout="row"
                            fxLayoutAlign="space-between center" fxFlex="1 1 100%">
                            <mat-form-field [appearance]="templateConfig.fieldStyle.name">
                                <mat-label>{{item.label}}</mat-label>
                                <input matInput type="text" placeholder="Pick one" aria-label="Number"
                                    value="{{item.value}}" class="form-control" id="{{item.name}}" matInput
                                    [matAutocomplete]="auto" [min]="item.minlength" [max]="item.maxlength">
                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let v of item.values" [value]="v.value">
                                        {{v.label}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                            <button mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="openEditDialog(item,i)">
                                    <mat-icon>edit</mat-icon>
                                    <span>{{'GENERIC.BUTTON.EDIT' | translate}}</span>
                                </button>
                                <button mat-menu-item (click)="removeItem(i)">
                                    <mat-icon class="delete">delete</mat-icon>
                                    <span>{{'GENERIC.BUTTON.DELETE' | translate}}</span>
                                </button>
                            </mat-menu>

                        </div>
                        <div *ngIf="item.controlType=='dropdown'" fxLayout="row" fxLayoutAlign="space-between center"
                            fxFlex="1 1 100%">
                            <mat-form-field [appearance]="templateConfig.fieldStyle.name">
                                <mat-label>{{item.label}}</mat-label>
                                <mat-select *ngIf="item.selectionType === 1; else multipleSelection"
                                    placeholder="{{item.label}}">
                                    <mat-option *ngFor="let v of item?.options" [value]="v.id">
                                        {{v.display_name}}
                                    </mat-option>
                                </mat-select>
                                <ng-template #multipleSelection>
                                    <mat-select placeholder="{{item.label}}" multiple>
                                        <mat-option *ngFor="let v of item?.options" [value]="v.id">
                                            {{v.display_name}}
                                        </mat-option>
                                    </mat-select>
                                </ng-template>
                            </mat-form-field>
                            <button mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="openEditDialog(item,i)">
                                    <mat-icon>edit</mat-icon>
                                    <span>{{'GENERIC.BUTTON.EDIT' | translate}}</span>
                                </button>
                                <button mat-menu-item (click)="removeItem(i)">
                                    <mat-icon class="delete">delete</mat-icon>
                                    <span>{{'GENERIC.BUTTON.DELETE' | translate}}</span>
                                </button>
                            </mat-menu>
                        </div>
                        <div *ngIf="item.controlType=='checkbox'" fxLayout="row" fxLayoutAlign="space-between center"
                            fxFlex="1 1 100%">
                            <div fxFlex="98%"
                                [fxLayout]="(templateConfig.layoutColumn.id === 2 || templateConfig.layoutColumn.id === 3) ? 'column' : 'row wrap'"
                                fxLayoutGap="5px">
                                <div fxLayout="column">
                                    <mat-label>{{item.label}} <span
                                            *ngIf="!(templateConfig.layoutColumn.id === 2 || templateConfig.layoutColumn.id === 3)">:</span>
                                    </mat-label>
                                </div>
                                <div [fxLayout]="(templateConfig.layoutColumn.id === 2 || templateConfig.layoutColumn.id === 3) ? 'column' : 'row wrap'"
                                    [fxLayoutGap]="(templateConfig.layoutColumn.id === 2 || templateConfig.layoutColumn.id === 3) ? '5px' : '10px'"
                                    fxLayoutAlign="start start">
                                    <div *ngFor="let v of item?.options, let i=index">
                                        <mat-checkbox value="{{v}}"
                                            [checked]="item.selectionType === 1 ? selected === i : v.isChecked"
                                            (change)="item.selectionType === 1 ? selected = i : onCheckboxChange(v,$event)">
                                            {{v.display_name}}
                                        </mat-checkbox>
                                    </div>
                                </div>
                            </div>
                            <button mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="openEditDialog(item,i)">
                                    <mat-icon>edit</mat-icon>
                                    <span>{{'GENERIC.BUTTON.EDIT' | translate}}</span>
                                </button>
                                <button mat-menu-item (click)="removeItem(i)">
                                    <mat-icon class="delete">delete</mat-icon>
                                    <span>{{'GENERIC.BUTTON.DELETE' | translate}}</span>
                                </button>
                            </mat-menu>

                        </div>
                        <div *ngIf="item.controlType=='radiobutton'" fxLayout="row" fxLayoutAlign="space-between center"
                            fxFlex="1 1 100%">
                            <div fxFlex="98%"
                                [fxLayout]="(templateConfig.layoutColumn.id === 2 || templateConfig.layoutColumn.id === 3) ? 'column' : 'row wrap'"
                                fxLayoutGap="5px">
                                <div fxLayout="row">
                                    <mat-label>{{item.label}} <span
                                            *ngIf="!(templateConfig.layoutColumn.id === 2 || templateConfig.layoutColumn.id === 3)">:</span>
                                    </mat-label>
                                    <mat-label *ngIf="item.required" class="text-danger">*</mat-label>
                                </div>
                                <mat-radio-group
                                    [fxLayout]="(templateConfig.layoutColumn.id === 2 || templateConfig.layoutColumn.id === 3) ? 'column' : 'row wrap'"
                                    [fxLayoutGap]="(templateConfig.layoutColumn.id === 2 || templateConfig.layoutColumn.id === 3) ? '5px' : '10px'"
                                    fxLayoutAlign="start start">
                                    <mat-radio-button *ngFor="let v of item?.options" name="{{item.name}}"
                                        [value]="v.id">
                                        {{v.display_name}}
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <button mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="openEditDialog(item,i)">
                                    <mat-icon>edit</mat-icon>
                                    <span>{{'GENERIC.BUTTON.EDIT' | translate}}</span>
                                </button>
                                <button mat-menu-item (click)="removeItem(i)">
                                    <mat-icon class="delete">delete</mat-icon>
                                    <span>{{'GENERIC.BUTTON.DELETE' | translate}}</span>
                                </button>
                            </mat-menu>

                        </div>
                        <div *ngIf="item.controlType=='button'" class="btn-cont" fxLayout="row"
                            fxLayoutAlign="space-between center" fxFlex="1 1 100%">
                            <button mat-raised-button color="primary">{{item.label}}</button>
                        </div>
                        <div *ngIf="item.controlType=='label'" class="btn-cont" fxLayout="row"
                            fxLayoutAlign="space-between center" fxFlex="1 1 100%">
                            <mat-label fxFlex="1 1 98%"
                                [ngStyle]="{ 'font-size': item?.fontStyle?.fontSize + 'px', 'font-weight': item?.fontStyle?.fontWeight}">
                                {{item.label}}</mat-label>
                            <button mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="openEditDialog(item,i)">
                                    <mat-icon>edit</mat-icon>
                                    <span>{{'GENERIC.BUTTON.EDIT' | translate}}</span>
                                </button>
                                <button mat-menu-item (click)="removeItem(i)">
                                    <mat-icon class="delete">delete</mat-icon>
                                    <span>{{'GENERIC.BUTTON.DELETE' | translate}}</span>
                                </button>
                            </mat-menu>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>
<mat-card *ngIf="showCreateView" fxLayout="column" fxLayoutGap="10px">
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <h2 fxFlex="1 1 100%">Preview</h2>
        <div fxLayout="row" fxLayoutGap="5px">
            <button mat-stroked-button
                (click)="showCreateView = !showCreateView">{{'GENERIC.BUTTON.BACK' | translate}}</button>
        </div>
    </div>
    <app-template-form-view-cmp></app-template-form-view-cmp>
</mat-card>