.mat-button {
    min-width: 0px !important;
    padding: 0px !important;
}

::ng-deep .mat-form-field-wrapper {
    width: 100% !important;
}

.date-picker-icons-height {
    height: 15.5px !important
}

.stroked-button {
    margin-top: 3px;
    height: 53px;
}

::ng-deep .mat-form-field-appearance-standard .mat-form-field-flex {
    padding-top: 0px !important;
}

.card-drop {
    // width: 200px;
    // height: 200px;
    margin: 0px 10px 10px 10px;
    overflow: auto;
}

.card-del-edit-header {
    margin: 0px 14px;
    border-radius: 4px;
    padding-left: 10px;
}

.menu:enabled {
    color: black;
}

.emptybox {
    border-style: dashed;
    font-size: 20px;
    padding: 40px;
}

//////////
::ng-deep .mat-simple-snackbar-action {
    color: #fff !important;
}

.imgSize {
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

////////////
.drag {
    font-size: 21px;
    // font-weight: 500;
}

.btncard {
    height: 60px;
    padding: 0px !important;
    flex-basis: 100px;
    border: 1px #878787 solid;
}

.toDo-cardbox {
    padding: 0px 10px 10px 10px;
    cursor: move;
}

.card-left {
    position: fixed;
    display: flex;
    padding: 0 !important;
    float: left;
    width: auto;
    height: auto;
}

.card-right {
    margin-left: 110px !important;
    width: 93% !important;

}

@media only screen and (min-width: 1960px) and (orientation: landscape) {
    .card-right {
        width: 95% !important;
    }
}