<div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px">
    <h1 mat-dialog-title>{{ data ? 'Edit Settings' : 'Add Settings'}}</h1>
    <div mat-dialog-content>
        <form #f="ngForm" name="form" fxLayout="row wrap" fxLayoutGap="10px">
            <mat-form-field fxFlex="48%">
                <input placeholder="Enter Data endpoint" matInput [(ngModel)]="grid.dataEndpoint" name="dataEndpt"
                    #dataEndpt="ngModel" required>
                <mat-error *ngIf="dataEndpt?.touched && !dataEndpt.valid">
                    <div *ngIf="dataEndpt?.errors?.required">
                        {{'TEMPLATE.GRID.VALIDATION.DATA-ENDPOINT-REQUIRED'| translate}}
                    </div>
                </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="48%">
                <input placeholder="Enter Column endpoint" matInput [(ngModel)]="grid.columnEndpoint" name="clmnEndpt"
                    #clmnEndpt="ngModel" required>
                <mat-error *ngIf="clmnEndpt?.touched && !clmnEndpt.valid">
                    <div *ngIf="clmnEndpt?.errors?.required">
                        {{'TEMPLATE.GRID.VALIDATION.COLUMN-ENDPOINT-REQUIRED'| translate}}
                    </div>
                </mat-error>
            </mat-form-field>
            <mat-checkbox fxFlex="48%" [(ngModel)]="grid.hasRowSelection" [checked]="grid.hasRowSelection"
                name="rowSelect" #rowSelect="ngModel">Show Row selection
            </mat-checkbox>
            <mat-checkbox fxFlex="48%" [(ngModel)]="grid.hasPagination" [checked]="grid.hasPagination" name="paginate"
                #paginate="ngModel">{{'TEMPLATE.GRID.SHOW-PAGINATION'| translate}}
            </mat-checkbox>
        </form>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">{{'GENERIC.BUTTON.NO-THANKS' | translate}}</button>
        <button mat-button (click)="onOkClick()" [disabled]="!f.form.valid" cdkFocusInitial>{{'GENERIC.BUTTON.OK' | translate}</button>
    </div>
</div>