<div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start start" class="mb-3">
    <h3 fxFlex="1 1 100"> Edit {{imgItem?.name | titlecase }}</h3>
    <span fxFlex="1 1 auto"></span>
    <div fxLayout="row" fxLayoutGap="5px">
        <button mat-stroked-button (click)="onNoClick()">{{'GENERIC.BUTTON.NO-THANKS'| translate}}</button>
        <button mat-stroked-button [disabled]="!f.form.valid" (click)="saveCardAttr()" color="primary"
            cdkFocusInitial>{{'GENERIC.BUTTON.SAVE'| translate}}</button>
    </div>
</div>
<form name="form" #f="ngForm">
    <div fxLayout="row wrap" fxLayoutAlign="stretch" fxLayoutGap="5px">
        <mat-form-field fxFlex=50 appearance="outline">
            <mat-label>Edit Image URL</mat-label>
            <input matInput placeholder="Edit Image URL" [(ngModel)]="imgItem.image.imageUrl"
                [value]="imgItem.image.imageUrl" name="imageUrl" #imageUrl="ngModel" required>
            <mat-error *ngIf="imageUrl.invalid">
                <div *ngIf="imageUrl?.errors?.required"> Image url required</div>
            </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex=49 appearance="outline">
            <mat-label>Enter Model name</mat-label>
            <input matInput placeholder="Enter Model name" pattern="^[a-zA-Z0-9]+(?:.[a-zA-Z0-9]+)*$" minlength="3"
                maxlength="50" [(ngModel)]="imgItem.modelName" [value]="item.modelName" name="model" #model="ngModel"
                required>
            <mat-error *ngIf="model.invalid">
                <div *ngIf="model?.errors?.required">{{'TEMPLATE.FORM.VALIDATION.MODEL-REQUIRED'| translate}}
                </div>
            </mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="33" fxLayout="row" appearance="outline">
            <mat-label>{{'TEMPLATE.CARD.IMAGE-TYPE' | translate}}</mat-label>
            <mat-select [(ngModel)]="imgItem.image.imageRadius" name="View" #View="ngModel"
                placeholder="{{'TEMPLATE.CARD.IMAGE-TYPE' | translate}}" [compareWith]="compareFn">
                <mat-option *ngFor="let image of imageView" [value]="image.value">
                    {{image.View}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="33" appearance="outline">
            <mat-label>Enter Image Height(px)</mat-label>
            <input [(ngModel)]="imgItem.image.imgHeight" matInput type="number" name="imdheight" #imdheight="ngModel"
                min="1" placeholder="Enter Image Height(px)">
        </mat-form-field>
        <mat-form-field fxFlex="33" appearance="outline">
            <mat-label>Enter Image Width(px)</mat-label>
            <input [(ngModel)]="imgItem.image.imgWidth" matInput type="number" name="imdwidth" #imdwidth="ngModel"
                min="1" placeholder="Enter Image Width(px)">
            <mat-hint>Full width image 200px</mat-hint>
        </mat-form-field>
    </div>
</form>