<app-content-header [hideBreadcrumb]="false" [hasBgImage]="true" [class]="'pb-2'"></app-content-header>
<mat-progress-bar *ngIf="isLoading" color="primary" mode="indeterminate"></mat-progress-bar>
<div fxLayout="column">
    <mat-progress-bar *ngIf="isLoading" color="primary" mode="indeterminate"></mat-progress-bar>
    <div class="page-content ">
        <mat-card fxLayout="column" fxLayoutAlign="stretch">
            <div fxLayout="row" fxLayoutAlign="space-between start">
                <mat-card-title>Create</mat-card-title>
                <div fxLayout="row " fxLayoutAlign="space-between end" fxLayoutGap="10px">
                    <button mat-raised-button routerLink="./../">{{'GENERIC.BUTTON.BACK' | translate}}</button>
                    <button mat-raised-button (click)="saveSelectedConfig()" color="primary"
                        [disabled]="config.length === 0 || tenant?.id === null">{{'GENERIC.BUTTON.SAVE' | translate}}</button>
                </div>
            </div>
            <div class="pr-3 pl-3" fxLayout="row" fxFlexAlign="space-between start" fxFlexFill fxLayoutGap="5px">
                <mat-form-field fxFlex="100">
                    <mat-label>{{'GENERIC.TITLE.TENANT' | translate}}</mat-label>
                    <mat-select [(ngModel)]="tenant" (selectionChange)="tenantChange()" name="tenantName"
                        #tenantName="ngModel" required>
                        <mat-option *ngFor="let tenant of tenants" [value]="tenant">
                            {{tenant.display_name | translate}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="tenantName.touched && !tenantName.valid" class="full-width">
                        <div *ngIf="!!tenantName.errors?.required">
                            {{'CONFIG.AUTH-TYPES.CONFIGURATION.TENANT-REQUIRED' | translate}} </div>
                    </mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="{{'CONFIG.AUTH-TYPES.CONFIGURATION.NAME' | translate}}"
                        [(ngModel)]="configName" name="Name" autocomplete="off" #Name="ngModel" minlength="5"
                        maxlength="50" required>
                    <mat-error *ngIf="Name.touched && Name.invalid" class="full-width">
                        <div *ngIf="Name.errors?.required">{{'CONFIG.AUTH-TYPES.CONFIGURATION.REQUIRED' | translate}}
                        </div>
                        <div *ngIf="Name.errors?.minlength">{{'CONFIG.AUTH-TYPES.CONFIGURATION.MIN-LENGTH' | translate}}
                        </div>
                        <div *ngIf="Name.errors?.maxlength">{{'CONFIG.AUTH-TYPES.CONFIGURATION.MAX-LENGTH' | translate}}
                        </div>
                    </mat-error>
                </mat-form-field>
            </div>
            <mat-tab-group class="pr-3 pl-3">
                <mat-tab *ngFor="let appType of applicationTypes">
                    <ng-template mat-tab-label>
                        <i class="material-icons">apps</i>
                        <mat-label>{{appType.display_name | translate}}</mat-label>
                    </ng-template>
                    <div class="pt-2"></div>
                    <mat-checkbox class="pl-6" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px"
                        *ngFor="let userType of userTypes" [value]="userType.id"
                        [checked]="isSelected(appType.id, userType.id)"
                        (change)="changeSelection(appType.id,userType.id, $event)">
                        {{userType.display_name | translate}}</mat-checkbox>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </div>
</div>