<h1>Sign In with Your Phone Number</h1>
<form>
  <div>
    <label for="phone">Phone Number</label><br>
    
    <input type="text" [(ngModel)]="phoneNumber.country" matInput placeholder="1" maxlength="2" name="country">
    <input type="text" [(ngModel)]="phoneNumber.area" matInput placeholder="949" maxlength="3" name="area">
    <input type="text" [(ngModel)]="phoneNumber.prefix" matInput placeholder="555" maxlength="3" name="prefex">
    <input type="text" [(ngModel)]="phoneNumber.line" matInput placeholder="5555" maxlength="4" name="line">
    <div id="recaptcha-container"></div>
    <button (click)="sendLoginCode()">SMS Text Login Code</button>
  </div>

  <div>
    <hr>
    <label for="code">Enter your Verification Code Here</label><br>
    <input matInput type="text" name="code" [(ngModel)]="verificationCode">
    <button (click)="verifyLoginCode()">Verify</button>
  </div>
</form>