<div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start start" class="mb-3">
    <h3 fxFlex="1 1 100"> Edit {{item?.name | titlecase }}</h3>
    <span fxFlex="1 1 auto"></span>
    <div fxLayout="row" fxLayoutGap="5px">
        <button mat-stroked-button (click)="onNoClick()">{{'GENERIC.BUTTON.NO-THANKS'| translate}}</button>
        <button mat-stroked-button (click)="saveCardAttr()" [disabled]="!f.form.valid"
            cdkFocusInitial>{{'GENERIC.BUTTON.OK'| translate}}</button>
    </div>
</div>
<form name="form" #f="ngForm" novalidate>
    <div fxLayout="column" fxLayoutGap="10px">
        <mat-form-field fxFlex=100>
            <textarea [matTextareaAutosize] matInput placeholder="Edit Content" [(ngModel)]="item.content.text"
                [value]="item.content.text" name="cnttext" #cnttext="ngModel" required></textarea>
            <mat-error *ngIf="cnttext.invalid">
                <div *ngIf="cnttext?.errors?.required">{{'TEMPLATE.CARD.VALIDATION.CONTENT-REQUIRED' | translate}}
                </div>
            </mat-error>
        </mat-form-field>
    </div>
</form>