<button mat-icon-button [matMenuTriggerFor]="flagsMenu" #flagsMenuTrigger="matMenuTrigger">
    <mat-icon>translate</mat-icon>
</button>
<mat-menu #flagsMenu="matMenu" [overlapTrigger]="false" class="toolbar-dropdown-menu flags">
    <span (mouseleave)="flagsMenuTrigger.closeMenu()">
        <button mat-menu-item (click)="changeLang('en')">
            English
        </button>
        <button mat-menu-item (click)="changeLang('hi')">
            हिंदी
        </button>
        <button mat-menu-item (click)="changeLang('te')">
            తెలుగు
        </button>
    </span>
</mat-menu>