<app-content-header [hideBreadcrumb]="false" [hasBgImage]="true" [class]="'pb-2'"></app-content-header>
<div class="page-content">
    <div *ngIf="config?.type?.id === 1">
        <app-template-form-create-cmp [config]="config"></app-template-form-create-cmp>
    </div>
    <div *ngIf="config?.type?.id === 2">
        <app-template-card-create-cmp [config]="config"></app-template-card-create-cmp>
    </div>
    <div *ngIf="config?.type?.id === 3">
        <app-template-tab-cmp [config]="config"></app-template-tab-cmp>
    </div>
    <div *ngIf="config?.type?.id === 4">
        <app-template-grid-create-cmp [item]="config"></app-template-grid-create-cmp>
    </div>
    <div *ngIf="config?.type?.id === 5">
        <app-template-pageaction-create-cmp [config]="config"></app-template-pageaction-create-cmp>
    </div>
    <div *ngIf="config?.type?.id === 7">
        <app-template-stepper-create-cmp [config]="config"></app-template-stepper-create-cmp>
    </div>
    <div *ngIf="config?.type?.id === 8">
        <app-template-bottom-sheet-create-cmp [config]="config"></app-template-bottom-sheet-create-cmp>
    </div>
    <div *ngIf="config?.type?.id === 9">
        <app-template-dialog-cmp [config]="config"></app-template-dialog-cmp>
    </div>

    <div *ngIf="config?.type?.id === 10">
        <app-template-tree-create-cmp [config]="config"></app-template-tree-create-cmp>
    </div>
    <div *ngIf="config?.type?.id === 12">
        <app-template-banner-create-cmp [config]="config"></app-template-banner-create-cmp>
    </div>
    <div *ngIf="config?.type?.id === 11">
        <app-template-chart-create-cmp></app-template-chart-create-cmp>
    </div>
</div>