::ng-deep .mat-bottom-sheet-container {
    max-height: 50vh !important;
}

::ng-deep .mat-paginator-range-label {
    visibility: hidden;
}

.hide-paginator {
    visibility: hidden;
    height: 0px !important;
    overflow: hidden;
}