<mat-nav-list>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="1em" fxFlex="1 1 100%">
        <button *ngIf="paginatorEvent?.length > 5" mat-icon-button [disabled]="page.pageIndex === 0" (click)="page.previousPage()" fxFlex="10">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <div fxLayout="column" fxFlex="80" fxLayoutAlign="center center">
            <div *ngFor="let item of (btnItems | slice: lowValue : highValue)">
                <a href="https://keep.google.com/" mat-list-item (click)="openLink($event, item.navLink)">
                    <span [matTooltip]="item.subLabel" [matTooltipPosition]="toolTipPos" mat-line>{{item.label}}</span>
                    <!-- <span mat-line>{{item.subLabel}}</span> -->
                </a>
            </div>
        </div>
        <!-- <div fxLayout="column" fxLayoutGap="5px">
            <div *ngFor="let pitem of pgeEdtrItems">
                <p class="p-1" [innerHtml]="pitem.content"></p>
            </div>
        </div> -->
        <button *ngIf="paginatorEvent?.length > 5" mat-icon-button [disabled]="lastPage - 1 === paginatorEvent?.pageIndex" (click)="page.nextPage()"
            fxFlex="10">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </div>
</mat-nav-list>
<mat-paginator class="hide-paginator" [length]="btnItems.length" #page pageSize=5 (page)="getPaginatorData($event)"
    [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons="false" [hidePageSize]="true">
</mat-paginator>