.content-header {
    color: #fff;
    text-align: center;

    img {
        width: 130px;
        height: 130px;
        border-radius: 50%;
    }

    h1 {
        font-size: 36px;
        font-weight: 400;
        margin: 0;
    }

    h4 {
        font-size: 16px;
        font-weight: 300;
        max-width: 580px;
        text-align: center;
        margin: 0 auto;
    }

    &.bg-image {
        background-image: url('../../../assets/img/app/header-bg.png');
        background-blend-mode: overlay;
        background-size: 300px;
    }
}


@media screen and (min-width: 960px) {
    .content-header {
        img {
            width: 150px;
            height: 150px;
        }

        h1 {
            font-size: 48px;
        }

        h4 {
            font-size: 18px;
        }

        &.has-bg-image {
            background-size: 480px;
        }
    }
}