<mat-drawer-container class="landing-container h-100">
    <mat-drawer #sidenav mode="over" class="landing-sidenav mat-elevation-z6 p-2" autoFocus="false">
        <button *ngFor="let item of menuItems" mat-button [ngx-scroll-to]="item" [ngx-scroll-to-duration]="300"
            (click)="sidenav.toggle()" class="w-100">{{item}}</button>
    </mat-drawer>
    <mat-drawer-content>
        <mat-toolbar class="landing-toolbar mat-elevation-z4">
            <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <a routerLink="/" fxLayout="row" fxLayoutAlign="start center">
                        <img src="assets/img/ae-logo.svg" alt="logo">
                    </a>
                </div>
            </div>
        </mat-toolbar>
        <div class="pb-3"></div>
        <div class="page-content">
            <mat-progress-bar *ngIf="isLoading" color="primary" mode="indeterminate"></mat-progress-bar>
            <mat-card>
                <div fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="10px">
                    <mat-card-title>{{'REGISTER.USER.NEW-USER'| translate}}</mat-card-title>
                    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="0.5em" style="padding: 0px 10px;">
                        <button routerLink="./.." mat-raised-button (click)="goBack()">
                            <mat-icon>arrow_back</mat-icon>{{'GENERIC.BUTTON.BACK' | translate}}
                        </button>
                        <button mat-raised-button routerLink="/" color="accent">
                            <mat-icon>home</mat-icon> {{'GENERIC.BUTTON.HOME' | translate}}
                        </button>
                    </div>
                </div>
            </mat-card>
        </div>
    </mat-drawer-content>
</mat-drawer-container>