<div fxLayout="column" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutAlign="space-between start" fxFlexFill>
        <h1 mat-dialog-title>Edit Datepicker</h1>
        <div mat-dialog-actions fxLayoutAlign="end start">
            <button mat-stroked-button (click)="onNoClick()">{{'GENERIC.BUTTON.CANCEL'| translate}}</button>
            <button mat-stroked-button color="primary" [disabled]="!f.form.valid" (click)="saveFormField()"
                cdkFocusInitial>{{'GENERIC.BUTTON.OK'| translate}}</button>
        </div>
    </div>
    <mat-tab-group>
        <form name="form" #f="ngForm">

            <div fxLayout="column" fxLayoutGap="15px">
                <mat-tab label="Basic Details">
                    <div fxFlex="1 1 100%" fxLayout="row wrap" fxLayoutGap="10px" class="TabWidth">
                        <mat-form-field appearance="outline" fxFlex=48 class="mt-2">
                            <mat-label>Placeholder</mat-label>
                            <input matInput [(ngModel)]="item.label" name="labelName" placeholder="Placeholder">
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex=48 class="mt-2">
                            <mat-label>Model name</mat-label>
                            <input matInput [(ngModel)]="item.modelName" name="modName" #modName="ngModel"
                                pattern="^[a-zA-Z0-9]+(?:.[a-zA-Z0-9]+)*$" minlength="3" maxlength="50"
                                placeholder="Model name" required>
                            <mat-hint><i>Model cannot be empty and must be unique acrosss a form group</i></mat-hint>
                            <mat-error *ngIf="modName.invalid && modName.invalid">
                                <div *ngIf="modName?.errors?.required">
                                    {{'TEMPLATE.FORM.VALIDATION.MODEL-REQUIRED'| translate}}
                                </div>
                                <div *ngIf="modName?.errors?.minlength">
                                    {{'TEMPLATE.FORM.VALIDATION.MUST-3CHARACTERS-LENGTH'| translate}}</div>
                                <div *ngIf="modName?.errors?.maxlength">
                                    {{'TEMPLATE.FORM.VALIDATION.EXCEED-50CHARACTERS-LENGTH'| translate}}</div>
                                <div *ngIf="modName?.errors?.pattern">
                                    {{'TEMPLATE.FORM.VALIDATION.ALLOW-SPACE&SPECIAL-CHARACTERS'| translate}}</div>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex="48">
                            <mat-label>Date Type</mat-label>
                            <mat-select [(ngModel)]="item.dateType" name="daTypeName" #daTypeName="ngModel"
                                [compareWith]="compareFn">
                                <mat-option *ngFor="let type of dateTypes" [value]="type">
                                    {{type.displayName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex="48">
                            <mat-label>Client Time zone</mat-label>
                            <mat-select [(ngModel)]="item.Time" name="TiTypeName" #TiTypeName="ngModel"
                                [compareWith]="compareFn">
                                <mat-option *ngFor="let type of Timezone" [value]="type">
                                    {{type.displayName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div fxFlex="1 1 100%" fxLayout="row wrap" fxLayoutGap="10px">
                            <mat-label fxFlex="100">Default values</mat-label>
                            <mat-radio-group aria-label="Select an option" (change)="defaultDateTypeChange($event)"
                                [(ngModel)]="item.defaultDateType" name="datetype" #datetype="ngModel" fxFlex="48"
                                class="mt-2">
                                <mat-radio-button value="1">Today Date</mat-radio-button>
                                <mat-radio-button value="2" class="ml-2">Select a
                                    Date
                                </mat-radio-button>
                            </mat-radio-group>
                            <div fxFlex=48 class="mt-2" fxLayoutAlign="start center" *ngIf="item.defaultDateType == 2">
                                <mat-form-field appearance="outline">
                                    <mat-label>Default Date</mat-label>
                                    <input matInput [matDatepicker]="picker" [(ngModel)]="item.value"
                                        name="defaultDateName" #defaultDateName="ngModel" placeholder="Default Date">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Validation">
                    <div fxFlex="1 1 100%" fxLayout="row wrap" fxLayoutGap="10px" class="TabWidth">
                        <div fxFlex="1 1 100%" fxLayout="column" fxLayoutGap="10px">
                            <div fxLayout="row" fxLayoutGap="10px">
                                <mat-form-field appearance="outline" fxFlex="48" class="mt-2">
                                    <mat-label>Mandatory</mat-label>
                                    <mat-select [(ngModel)]="item.required" name="reQuired" required>
                                        <mat-option [value]="true">
                                            Yes
                                        </mat-option>
                                        <mat-option [value]="false">
                                            No
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" fxFlex=48 class="mt-2">
                                    <mat-label>
                                        Mandatory Required error message
                                    </mat-label>
                                    <input matInput [(ngModel)]="item.errorMessages.required" name="manName"
                                        #manName="ngModel" [disabled]="item.required === false"
                                        placeholder=" Mandatory Required error message" required>
                                    <mat-error>
                                        <div *ngIf="manName?.errors?.required">
                                            Mandatory Error Message Required
                                        </div>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutGap="10px">
                                <mat-form-field *ngIf="!item.hasMinDate" appearance="outline" fxFlex=48>
                                    <mat-label>Select a Minimum date</mat-label>
                                    <input matInput [(ngModel)]="item.minDate"
                                        (dateChange)="onDateChange($event, 'Min')" name="minDate" #minDate="ngModel"
                                        [matDatepicker]="picker">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                                <mat-form-field appearance="outline" fxFlex=48>
                                    <mat-label>
                                        Minimum Date error message
                                    </mat-label>
                                    <input matInput [(ngModel)]="item.errorMessages.minlength"
                                        [disabled]="!item.minDate" name="minName" #minName="ngModel"
                                        placeholder=" Minimum Date error message" required>
                                    <mat-error>
                                        <div *ngIf="minName?.errors?.required">
                                            Minimum Date Message Required
                                        </div>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row" fxLayoutGap="10px">
                                <mat-form-field *ngIf="!item.hasMaxDate" appearance="outline" fxFlex=48>
                                    <mat-label>Select a Maximum date</mat-label>
                                    <input matInput [(ngModel)]="item.maxDate"
                                        (dateChange)="onDateChange($event, 'Max')" name="maxDate" #maxDate="ngModel"
                                        [matDatepicker]="picker" [max]="maxDate">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                                <mat-form-field appearance="outline" fxFlex=48>
                                    <mat-label>
                                        Max Date error message
                                    </mat-label>
                                    <input matInput [(ngModel)]="item.errorMessages.maxlength"
                                        [disabled]="!item.maxDate" name="maxName" #maxName="ngModel"
                                        placeholder="Maxlength error message" required>
                                    <mat-error>
                                        <div *ngIf="maxName?.errors?.required">
                                            Minimum Date Message Required
                                        </div>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Security">
                    <div fxFlex="1 1 100%" fxLayout="column" fxLayoutGap="10px" class="TabWidth">
                        <div fxFlex="100" fxLayout="row" fxLayoutGap="10px" class="mt-2">
                            <mat-form-field appearance="outline" fxFlex="48">
                                <mat-label>{{'TEMPLATE.FORM.VISIBILITY'| translate}}</mat-label>
                                <mat-select [(ngModel)]="item.securityAttrributes.visibility" name="vTypeName"
                                    #vTypeName="ngModel" (selectionChange)="onVisibiltyChange($event)"
                                    [compareWith]="compareFn" required>
                                    <mat-option *ngFor="let type of visibility" [value]="type">
                                        {{type.displayName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline" fxFlex=48 class="mt-1">
                                <mat-label>Permission code</mat-label>
                                <input matInput [(ngModel)]="item.permission" name="permission"
                                    [disabled]="item.securityAttrributes.visibility.id===1 || item.securityAttrributes.visibility.id===0"
                                    #permission="ngModel" placeholder=" Permission code" required>
                                <mat-error>
                                    <div *ngIf="permission?.errors?.required">
                                        Permission Code Must Required
                                    </div>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row ">
                            <mat-form-field appearance="outline" fxFlex="48">
                                <mat-label>{{'TEMPLATE.FORM.DISPLAY-TYPE'| translate}}</mat-label>
                                <mat-select [(ngModel)]="item.securityAttrributes.displayType" name="dTypeName"
                                    #dTypeName="ngModel" [compareWith]="compareFn" required>
                                    <mat-option *ngFor="let type of displayTypes" [value]="type">
                                        {{type.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <mat-slide-toggle appearance="outline" fxFlex=48
                            [(ngModel)]="item.securityAttrributes.allowOverride" name="allowOverride" color="primary">
                            {{'TEMPLATE.FORM.ALLOW-OVERRIDE'| translate}}
                        </mat-slide-toggle>
                        <mat-slide-toggle appearance="outline" fxFlex=48
                            [(ngModel)]="item.securityAttrributes.encryptData" name="encryptData" color="primary">
                            {{'TEMPLATE.FORM.ENCRYPT-DATA'| translate}}
                        </mat-slide-toggle>
                    </div>
                </mat-tab>
                <mat-tab label="Responsive">
                    <div fxFlex="1 1 100%" fxLayout="row wrap" fxLayoutGap="10px" class="TabWidth">
                        <div fxFlex="1 1 100%" fxLayout="row" fxLayoutGap="10px">
                            <mat-form-field appearance="outline" fxFlex=100 class="mt-2">
                                <mat-label>Choose Breakpoint to Show Field</mat-label>
                                <mat-select [(ngModel)]="item.isActiveAt" name="showItemAt" #showItemAt="ngModel"
                                    [compareWith]="compareFn" required>
                                    <mat-option *ngFor="let bPoint of responsiveBreakPoints" [value]="bPoint">
                                        {{bPoint.breakPoint}} - {{bPoint.mediaQuery}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Others">
                    <div fxFlex="1 1 100%" fxLayout="row wrap" class="TabWidth">
                        <div fxFlex="1 1 100%" fxLayout="row wrap" fxLayoutGap="10px">
                            <mat-label fxFlex=100>Derived Details</mat-label>
                            <div fxFlex="1 1 100%" fxLayout="row" fxLayoutGap="10px" class="mt-2">
                                <mat-form-field appearance="outline" fxFlex="48">
                                    <mat-label>Derived</mat-label>
                                    <mat-select [(ngModel)]="item.isDerived" [disabled]="fieldModelNames.length === 0"
                                        (selectionChange)="onDerviedFromChange($event)" name="isderived">
                                        <mat-option [value]="true">
                                            Yes
                                        </mat-option>
                                        <mat-option [value]="false">
                                            No
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" fxFlex=48>
                                    <mat-label> Parent Field</mat-label>
                                    <mat-select [(ngModel)]="item.derivedFrom" name="paTypeName" #paTypeName="ngModel"
                                        [compareWith]="compareFn" [disabled]="!item.isDerived">
                                        <mat-option *ngFor="let type of fieldModelNames" [value]="type">
                                            {{type.modelName}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div fxFlex="1 1 100%" fxLayout="row" fxLayoutGap="10px">
                                <mat-form-field appearance="outline" fxFlex=48>
                                    <mat-label>Visibity Condition</mat-label>
                                    <input matInput [(ngModel)]="item.visibilitycond" name="visibilityCond"
                                        #visibilityCond="ngModel" placeholder=" Visisbility Condition"
                                        [disabled]="!item.isDerived" required>
                                    <mat-error>
                                        <div *ngIf="visibilityCond?.errors?.required">
                                            Visibity Condition Must Required
                                        </div>
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field appearance="outline" fxFlex=48>
                                    <mat-label>Value Condition</mat-label>
                                    <input matInput [(ngModel)]="item.valuecond" name="valueCond" #valueCond="ngModel"
                                        placeholder=" Value Condition" [disabled]="!item.isDerived" required>
                                    <mat-error>
                                        <div *ngIf="visibilityCond?.errors?.required">
                                            Value Condition Must Required
                                        </div>
                                    </mat-error>
                                </mat-form-field>
                            </div>

                        </div>
                        <div fxFlex="1 1 100%" fxLayout="row wrap" fxLayoutGap="10px">
                            <mat-label class="mt-1" fxFlex=100>Provision</mat-label>
                            <mat-form-field appearance="outline" fxFlex=48>
                                <mat-label> Connector(Authe,Autho,APP)
                                </mat-label>
                                <input matInput [(ngModel)]="item.conec" name="AuthO"
                                    placeholder="Connector(Authe,Autho,APP)">
                            </mat-form-field>
                            <mat-form-field appearance="outline" fxFlex=48>
                                <mat-label>Connector Attribute Name
                                </mat-label>
                                <input matInput [(ngModel)]="item.conec" name="Attribute"
                                    placeholder=" Connector Attribute Name">
                            </mat-form-field>
                            <mat-label class="mt-1" fxFlex=100>Extraction</mat-label>
                            <mat-form-field appearance="outline" fxFlex=48>
                                <mat-label>Authorization Server</mat-label>
                                <input matInput [(ngModel)]="item.conec" name="Authorization"
                                    placeholder=" Authorization Server">
                            </mat-form-field>
                            <mat-form-field appearance="outline" fxFlex=48>
                                <mat-label>
                                    Authorized parameter/attribute
                                </mat-label>
                                <input matInput [(ngModel)]="item.conec" name="Parameter"
                                    placeholder=" Authorized parameter/attribute">
                            </mat-form-field>
                        </div>
                    </div>
                </mat-tab>
            </div>
        </form>
    </mat-tab-group>
</div>