.mat-dialog-content {
    overflow-y: auto !important;
    overflow-x: hidden;
    width: 100%;
    padding: 0;
}

.mat-form-field {
    width: 100%;
}

.TabWidth {
    width: 76vw;
    overflow: hidden;
}
