<!-- <mat-progress-bar *ngIf="isLoading" color="primary" mode="indeterminate"></mat-progress-bar> -->
<div class="p-5 card-background" fxLayout="column" fxLayoutGap="20px">
    <div fxLayout="column" fxLayoutGap="10vh">
        <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start start">
            <mat-label style="font-size: 34px">Configure Page</mat-label>
            <mat-label style="font-size: 14px">Start creating Page by selecting Device and Navigation types
            </mat-label>
        </div>
        <div *ngIf="showDevices" fxLayout="column">
            <div fxLayoutAlign="center center">
                <mat-label>Select a Device</mat-label>
            </div>
            <div class="p-3" fxLayout="row wrap" fxLayoutGap="25px" fxFlex="100%" fxLayoutAlign="center start">
                <div *ngFor="let type of devices; let i = index" fxFlex="6%" fxLayout="column"
                    fxLayoutAlign="center center" fxLayoutGap="5px">
                    <mat-card (click)="onDeviceClick(type)"
                        [ngClass]="type.isClicked ? 'p-4' : 'p-4 card-background'"
                        fxLayoutAlign="center center">
                        <mat-icon [ngClass]="type.isClicked ? 'icons-color' : 'card-icon'">{{type.icon}}
                        </mat-icon>
                    </mat-card>
                    <mat-label fxLayout="row wrap">
                        {{type.name}}
                    </mat-label>
                </div>
            </div>
            <div fxLayoutAlign="end start">
                <button mat-stroked-button [disabled]="!enableNext" (click)="onDeviceNext()">Next</button>
            </div>
        </div>
        <div *ngIf="!showDevices" fxLayout="column">
            <div fxLayoutAlign="center center">
                <mat-label>Select Navigation</mat-label>
            </div>
            <div class="p-3" fxLayout="row wrap" fxLayoutGap="25px" fxFlex="100%" fxLayoutAlign="center start">
                <div *ngFor="let type of navTypes; let i = index" fxFlex="6%" fxLayout="column"
                    fxLayoutAlign="center center" fxLayoutGap="5px">
                    <mat-card (click)="onNavTypeClick(type)"
                        [ngClass]="type.isClicked ? 'p-4' : 'p-4 card-background'"
                        fxLayoutAlign="center center">
                        <mat-icon [ngClass]="type.isClicked ? 'icons-color' : 'card-icon'">{{type.icon}}
                        </mat-icon>
                    </mat-card>
                    <mat-label fxLayout="row wrap">
                        {{type.name}}
                    </mat-label>
                </div>
            </div>
            <div fxLayoutAlign="space-between start">
                <button mat-stroked-button (click)="onBack()">Back</button>
                <button mat-stroked-button [disabled]="!enableNext" (click)="onNavNext()" >Next</button>
            </div>
        </div>
    </div>
</div>