<div fxLayout="column" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutAlign="space-between start" fxFlexFill>
        <h1 mat-dialog-title>Edit Radiobutton</h1>
        <div mat-dialog-actions fxLayoutAlign="end start">
            <button mat-stroked-button (click)="onNoClick()">{{'GENERIC.BUTTON.CANCEL'| translate}}</button>
            <button mat-stroked-button color="primary" (click)="saveFormField()" [disabled]="!(f.form.valid) "
                cdkFocusInitial>{{'GENERIC.BUTTON.OK'| translate}}</button>
        </div>
    </div>

    <mat-tab-group fxFlexFill fxFlex="100">
        <form name="form" #f="ngForm" fxFlex="1 1 100%">
            <mat-tab label="Basic Details">
                <div fxFlex="1 1 100%" fxLayout="row wrap" fxLayoutGap="10px ">
                    <mat-form-field appearance="outline" fxFlex=49 class="mt-2">
                        <mat-label>Placeholder</mat-label>
                        <input matInput [(ngModel)]="item.label" name="PlaceHolder" placeholder="Placeholder">
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex=49 class="mt-2">
                        <mat-label>Model Name</mat-label>
                        <input matInput [(ngModel)]="item.modelName" name="modName" #modName="ngModel"
                            pattern="^[a-zA-Z0-9]+(?:.[a-zA-Z0-9]+)*$" minlength="3" maxlength="50"
                            placeholder="Model name" required>
                        <mat-hint><i>Model cannot be empty and must be unique acrosss a form group</i></mat-hint>
                        <mat-error *ngIf="modName.invalid && modName.invalid">
                            <div *ngIf="modName?.errors?.required">
                                {{'TEMPLATE.FORM.VALIDATION.MODEL-REQUIRED'| translate}}
                            </div>
                            <div *ngIf="modName?.errors?.minlength">
                                {{'TEMPLATE.FORM.VALIDATION.MUST-3CHARACTERS-LENGTH'| translate}}</div>
                            <div *ngIf="modName?.errors?.maxlength">
                                {{'TEMPLATE.FORM.VALIDATION.EXCEED-50CHARACTERS-LENGTH'| translate}}</div>
                            <div *ngIf="modName?.errors?.pattern">
                                {{'TEMPLATE.FORM.VALIDATION.ALLOW-SPACE&SPECIAL-CHARACTERS'| translate}}</div>
                        </mat-error>
                    </mat-form-field>
                </div>
            </mat-tab>
            <mat-tab label="Data">
                <div fxLayout="column" fxLayoutGap="10px">
                    <div fxFlex="100" fxLayout="column" class="mt-2 mb-2">
                        <mat-radio-group fxLayout="row" fxLayoutGap="2%" fxLayoutAlign="start center"
                            [(ngModel)]="dataChange.endPoint.id" name="dataChange">
                            <mat-radio-button *ngFor="let endPoint of endPoints" [value]="endPoint.id" color="primary">
                                {{endPoint.display_name}}
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px"
                        *ngIf="dataChange?.endPoint?.id === 1">
                        <div fxLayout="row" fxLayoutAlign="start center">
                            <mat-label fxLayoutAlign="start center">Add Option</mat-label>
                            <button mat-icon-button (click)="addOption()">
                                <mat-icon>add_circle</mat-icon>
                            </button>
                        </div>
                        <div form [formGroup]="formField">
                            <div formArrayName="options" fxLayout="row wrap" fxLayoutGap="10px">
                                <div *ngFor="let option of formField.controls.options.controls; let i=index">
                                    <div [formGroupName]="i" fxLayoutGap="10px">
                                        <mat-form-field appearance="outline" fxFlex=49>
                                            <mat-label>value</mat-label>
                                            <input matInput type="text" placeholder="Value" formControlName="id">
                                        </mat-form-field>
                                        <mat-form-field appearance="outline" fxFlex=49>
                                            <mat-label>display_name</mat-label>
                                            <input matInput type="text" placeholder="Key"
                                                formControlName="display_name">
                                        </mat-form-field>
                                        <button mat-icon-button color="warn" (click)="removeOption(i)">
                                            <mat-icon>remove_circle</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div fxFlex="100" fxLayout="column" *ngIf="dataChange?.endPoint?.id === 2">
                        <mat-form-field appearance="outline">
                            <mat-label>EndPoint</mat-label>
                            <input matInput name="gName" #gName="ngModel" [(ngModel)]="item.endPoint"
                                placeholder="Enter endPoint">
                        </mat-form-field>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Validations">
                <div fxLayout="row wrap" fxFlex="1 1 100%" fxLayoutGap="10px" fxLayoutAlign="start center">
                    <mat-form-field appearance="outline" fxFlex="48" class="mt-2">
                        <mat-label>Mandatory</mat-label>
                        <mat-select [(ngModel)]="item.required" name="ReQuired" required>
                            <mat-option [value]="true">
                                {{'GENERIC.TITLE.YES' | translate}}
                            </mat-option>
                            <mat-option [value]="false">
                                {{'GENERIC.TITLE.NO' | translate}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </mat-tab>
            <mat-tab label="Security">
                <div fxFlex="1 1 100%" fxLayout="row wrap" fxLayoutGap="10px">
                    <mat-form-field appearance="outline" fxFlex="48" class="mt-2">
                        <mat-label>{{'TEMPLATE.FORM.VISIBILITY'| translate}}</mat-label>
                        <mat-select [(ngModel)]="item.securityAttrributes.visibility" name="vTypeName"
                            #vTypeName="ngModel" (selectionChange)="onVisibiltyChange($event)" [compareWith]="compareFn"
                            required>
                            <mat-option *ngFor="let type of visibility" [value]="type">
                                {{type.display_name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngIf="item.securityAttrributes.visibility.id===2" appearance="outline" fxFlex=48
                        class="mt-2">
                        <mat-label>Permission code</mat-label>
                        <input matInput [(ngModel)]="item.permission" name="permission" #permission="ngModel"
                            placeholder="Permission code" required>
                    </mat-form-field>
                    <!-- <div fxFlex="100" fxLayout="row"> -->
                    <mat-form-field appearance="outline" fxFlex="48" class="mt-2">
                        <mat-label>{{'TEMPLATE.FORM.DISPLAY-TYPE'| translate}}</mat-label>
                        <mat-select [(ngModel)]="item.securityAttrributes.displayType" name="dTypeName"
                            #dTypeName="ngModel" [compareWith]="compareFn" required>
                            <mat-option *ngFor="let type of displayTypes" [value]="type">
                                {{type.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!-- </div> -->
                    <div fxFlex="100" fxLayout="column" fxFlexFill fxLayoutGap="10px" class="mt-2">
                        <div fxFlex="48">
                            <mat-slide-toggle [(ngModel)]="item.securityAttrributes.allowOverride" name="allowOverride"
                                color="primary">
                                {{'TEMPLATE.FORM.ALLOW-OVERRIDE'| translate}}
                            </mat-slide-toggle>
                        </div>
                        <div fxFlex="48">
                            <mat-slide-toggle [(ngModel)]="item.securityAttrributes.encryptData" name="encryptData"
                                color="primary">
                                {{'TEMPLATE.FORM.ENCRYPT-DATA'| translate}}
                            </mat-slide-toggle>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Responsive">
                <div fxFlex="1 1 100%" fxLayout="row wrap" fxLayoutGap="10px">
                    <mat-form-field appearance="outline" fxFlex=50 class="mt-2">
                        <mat-label>Choose Breakpoint to Show Field</mat-label>
                        <mat-select [(ngModel)]="item.isActiveAt" name="showItemAt" #showItemAt="ngModel"
                            [compareWith]="compareFn" required>
                            <mat-option *ngFor="let bPoint of responsiveBreakPoints" [value]="bPoint">
                                {{bPoint.breakPoint}} - {{bPoint.mediaQuery}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </mat-tab>
            <mat-tab label="Others">
                <div fxFlex="1 1 100%" fxLayout="row wrap" fxLayoutGap="10px" class="TabWidth">
                    <mat-label fxFlex=100>Derived Details</mat-label>
                    <div fxFlex="1 1 100%" fxLayout="row" fxLayoutGap="10px" class="mt-2">
                        <mat-form-field appearance="outline" fxFlex="48">
                            <mat-label>Derived</mat-label>
                            <mat-select [(ngModel)]="item.isDerived" [disabled]="fieldModelNames.length === 0"
                                (selectionChange)="onDerviedFromChange($event)" name="isderived">
                                <mat-option [value]="true">
                                    Yes
                                </mat-option>
                                <mat-option [value]="false">
                                    No
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex=48>
                            <mat-label> Parent Field</mat-label>
                            <mat-select [(ngModel)]="item.derivedFrom" name="paTypeName" #paTypeName="ngModel"
                                [compareWith]="compareFn" [disabled]="!item.isDerived">
                                <mat-option *ngFor="let type of fieldModelNames" [value]="type">
                                    {{type.modelName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxFlex="1 1 100%" fxLayout="row" fxLayoutGap="10px">
                        <mat-form-field appearance="outline" fxFlex=48>
                            <mat-label>Visibity Condition</mat-label>
                            <input matInput [(ngModel)]="item.visibilitycond" name="visibilityCond"
                                #visibilityCond="ngModel" placeholder=" Visisbility Condition"
                                [disabled]="!item.isDerived" required>
                            <mat-error>
                                <div *ngIf="visibilityCond?.errors?.required">
                                    Visibity Condition Must Required
                                </div>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex=48>
                            <mat-label>Value Condition</mat-label>
                            <input matInput [(ngModel)]="item.valuecond" name="valueCond" #valueCond="ngModel"
                                placeholder=" Value Condition" [disabled]="!item.isDerived" required>
                            <mat-error>
                                <div *ngIf="visibilityCond?.errors?.required">
                                    Value Condition Must Required
                                </div>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxFlex="1 1 100%" fxLayout="row wrap" fxLayoutGap="10px">
                        <mat-label class="mt-1" fxFlex=100>Provision</mat-label>
                        <mat-form-field appearance="outline" fxFlex=48>
                            <mat-label>Connector(Authe,Autho,APP)</mat-label>
                            <input matInput [(ngModel)]="item.conec" [ngModelOptions]="{standalone: true}"
                                placeholder="Connector(Authe,Autho,APP)">
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex=48>
                            <mat-label>Connector Attribute Name</mat-label>
                            <input matInput [(ngModel)]="item.conec" [ngModelOptions]="{standalone: true}"
                                placeholder="Connector Attribute Name">
                        </mat-form-field>
                        <mat-label class="mt-1" fxFlex=100>Extraction</mat-label>
                        <mat-form-field appearance="outline" fxFlex=48>
                            <mat-label>Authorization Server</mat-label>
                            <input matInput [(ngModel)]="item.conec" [ngModelOptions]="{standalone: true}"
                                placeholder="Authorization Server">
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex=48>
                            <mat-label> Authorized parameter/attribute</mat-label>
                            <input matInput [(ngModel)]="item.conec" [ngModelOptions]="{standalone: true}"
                                placeholder="Authorized parameter/attribute">
                        </mat-form-field>
                    </div>
                </div>
            </mat-tab>
        </form>
    </mat-tab-group>
</div>