<div fxLayout="row" class="breadcrumb p-2">
    <a routerLink="/" class="breadcrumb-item" fxLayout="row" fxLayoutAlign="start center" (click)="closeSubMenus()">
        <mat-icon>home</mat-icon>
        <span class="breadcrumb-title">Home</span>
    </a>
    <div *ngFor="let breadcrumb of breadcrumbs; let i = index;" class="breadcrumb-item" fxLayout="row"
        fxLayoutAlign="start center">
        <a *ngIf="i != (breadcrumbs.length - 1)" [routerLink]="[breadcrumb.url]">{{breadcrumb.name}}</a>
        <span *ngIf="i == (breadcrumbs.length - 1)" class="breadcrumb-title active">{{breadcrumb.name}}</span>
    </div>
</div>