.img-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  ///////
  .section-heading {
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
  }
  
  .drag-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
    background-color: #E9ECEF;
    padding: 15px;
    border-radius: 5px;
  }
  
  .item-list {
    min-height: 60px;
    border-radius: 4px;
    display: block;
  }
  
  .item-box {
    padding: 8px 10px;
    border: solid 1px #ccc;
    margin-bottom: 5px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
    border-radius: 20px;
  }
  


  .emptybox {
    border-style: dashed;
    font-size: 20px;
    border-right:none;
    padding: 20px;
}

.emptyboximg{
  border-style: dashed;
    font-size: 20px;
    padding: 20px;
}

.emptyboxtext {
  border-style: dashed;
  font-size: 20px;
  padding: 40px;
}

///////////
.drag{
  font-size: 21px;
}

.btncard {
  height:60px;
  background-color: #fff;
  color:rgba(0, 0, 0, 0.54) !important;
  flex-basis: 100px;
  border: 1px #878787 solid;
}
.toDo-cardbox {
  padding: 0px 10px 10px 10px;
  cursor: move;
}
.btnlabel{
  color: #000000de !important;
}

.card-left {
  position: fixed;
  display: flex;
  padding: 0 !important;
  float: left;
  width: auto;
  height: auto;
}

.card-right {
  margin-left: 110px !important;
  width: 93% !important;

}

@media only screen and (min-width: 1960px) and (orientation: landscape) {
  .card-right {
      width: 95% !important;
  }
}