<!-- <mat-progress-bar *ngIf="isLoading" color="primary" mode="indeterminate"></mat-progress-bar> -->

<div *ngIf="showCreate" style="display: flex;" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="stretch"
    fxLayoutGap="10px" fxFlexFill>
    <mat-card class="mat-typography todo-card  card-left card-background">
        <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todoimages" cdkDropListSortingDisabled
            [cdkDropListConnectedTo]="[doneimage,donetxt]" class="mt-2 toDo-cardlist"
            (cdkDropListDropped)="drop($event)">
            <div class="toDo-cardbox" *ngFor="let image of todoimages" cdkDrag let i="index">
                <mat-card class="btncard" fxLayout="column" fxLayoutAlign="center center">
                    <mat-icon>{{image.icon}}</mat-icon>
                    <mat-label fxLayoutAlign="center center" class="btnlabel">
                        {{image.title | titlecase }} </mat-label>
                </mat-card>
            </div>
        </div>
    </mat-card>
    <mat-card class="form-overflow mat-typography card-right" fxLayout="column" fxLayoutGap="10px">
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start center" fxLayoutGap="5px">
            <h2>{{'TEMPLATE.IMAGE.TITLE' | translate}}</h2>
            <span fxFlex="1 1 auto"></span>
            <button mat-stroked-button color="primary"
                (click)="goBack()">{{'GENERIC.BUTTON.CANCEL'| translate}}</button>
            <button *ngIf="!templateId" mat-stroked-button (click)="submitimage()"
                [disabled]="!(doneimages?.length > 0 && donetext?.length > 0)">{{'GENERIC.BUTTON.SAVE' | translate}}</button>
            <button *ngIf="templateId" mat-stroked-button (click)="update()"
                [disabled]="!(doneimages?.length > 0 || donetext?.length > 0)">{{'GENERIC.BUTTON.UPDATE'| translate}}</button>
            <button *ngIf="templateId" mat-stroked-button color="primary"
                [disabled]="!(doneimages?.length > 0 && donetext?.length > 0)" (click)="delete()">Delete</button>

            <button mat-stroked-button color="primary" [disabled]="!(doneimages?.length > 0 || donetext?.length > 0)"
                (click)="onViewClick()">{{'GENERIC.BUTTON.VIEW' | translate}}</button>
            <button mat-stroked-button (click)="openEditFlex(templateConfig,12 )"
                [disabled]="!(doneimages?.length > 0 || donetext?.length > 0)">
                <mat-icon class="menu">settings</mat-icon>
            </button>
        </div>
        <form name="form" #f="ngForm" fxLayout="column" fxLayoutAlign="space-between start" novalidate>
            <div fxLayout="row wrap" fxFlexFill fxLayoutAlign="space-between start" fxLayoutGap="10px">
                <mat-form-field fxFlex="100">
                    <mat-label>{{'TEMPLATE.NAME'| translate}}</mat-label>
                    <input matInput placeholder="{{'GENERIC.TITLE.ENTER-TEMPLATE-NAME'| translate}}" name="tempName"
                        #tempName="ngModel" [(ngModel)]="config.name" required>
                    <mat-error *ngIf="tempName.touched && !tempName.valid" class="full-width">
                        <div *ngIf="tempName?.errors?.required">
                            {{'TEMPLATE.VALIDATION.TYPE-REQUIRED' | translate}}</div>
                    </mat-error>
                </mat-form-field>
            </div>
        </form>
        <div [fxLayout.gt-xs]="templateConfig?.layout?.name" fxLayout.xs="column">
            <div [fxFlex]="templateConfig?.layoutColumn?.flex">
                <div fxLayout="column" fxFlex="1 1 100%" cdkDropList fxLayoutAlign="start center"
                    #doneimage="cdkDropList" [cdkDropListData]="doneimages" [cdkDropListConnectedTo]="[todoList]"
                    class="example-list" (cdkDropListDropped)="drop($event)" fxLayoutGap="5px">
                    <div fxLayoutAlign="center center" fxLayout="column" fxFlexFill *ngIf="doneimages?.length === 0"
                        class="icons-color" [ngClass]="donetext?.length > 0 ? 'emptyboximg':'emptybox'">
                        <mat-label>{{'TEMPLATE.IMAGE.DRAG&DROP-TEXT-FIELD-ITEMS' | translate}}
                        </mat-label>
                    </div>
                    <div class="example-box done-box" *ngFor="let item of doneimages; let i = index" cdkDrag
                        fxLayout="row" fxLayoutGap="3px">
                        <div *ngIf="item?.id === 1 " fxLayoutAlign="start start">
                            <img [src]="item?.source?.value" [height]="item?.imgHeight" [width]="item?.imgWidth"
                                [ngStyle]="{'border-radius': item?.imageRadius + '%'}" alt="image">
                            <button mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu" *ngIf="item?.id === 1">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="openEditDialog(item,i)">
                                    <mat-icon>edit</mat-icon>
                                    <span>{{'GENERIC.BUTTON.EDIT' | translate}}</span>
                                </button>
                                <button mat-menu-item (click)="removeImg(i)">
                                    <mat-icon class="delete">delete</mat-icon>
                                    <span>{{'GENERIC.BUTTON.DELETE' | translate}}</span>
                                </button>
                            </mat-menu>
                        </div>
                    </div>
                </div>
            </div>
            <div fxLayout="column" fxFlex="1 1 100%" cdkDropList #donetxt="cdkDropList" [cdkDropListData]="donetext"
                [cdkDropListConnectedTo]="[todoList]" class="example-list" (cdkDropListDropped)="drop($event)"
                fxLayoutGap="5px">
                <div fxLayoutAlign="center center" fxLayout="column" fxFlexFill *ngIf="donetext?.length === 0"
                    class="emptyboxtext icons-color">
                    <mat-label>{{'TEMPLATE.IMAGE.DRAG&DROP-TEXT-FIELD-ITEMS' | translate}}
                    </mat-label>
                </div>
                <div fxLayout="row wrap" fxFlexFill fxLayoutGap="5px" fxFlex="1 1 100%">
                    <div class="example-box done-box" *ngFor="let item of donetext; let i = index" cdkDrag fxFlex='48'
                        fxLayoutGap="10px">
                        <div fxLayout="row" fxLayoutAlign="start start">
                            <mat-form-field [appearance]="templateConfig.fieldStyle.name" *ngIf="item?.id === 2">
                                <mat-label>{{item.label}}</mat-label>
                                <input matInput type="text" class="form-control" value="{{item.name}}">
                            </mat-form-field>
                            <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="item?.id === 2"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="openEditDialog(item,i)">
                                    <mat-icon>edit</mat-icon>
                                    <span>{{'GENERIC.BUTTON.EDIT' | translate}}</span>
                                </button>
                                <button mat-menu-item (click)="removeText(i)">
                                    <mat-icon class="delete">delete</mat-icon>
                                    <span>{{'GENERIC.BUTTON.DELETE' | translate}}</span>
                                </button>
                            </mat-menu>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
</div>
<mat-card *ngIf="!showCreate">
    <app-template-banner-view-cmp (viewMode)="updateView($event)">
    </app-template-banner-view-cmp>
</mat-card>