<button mat-icon-button [matMenuTriggerFor]="userMenu" #userMenuTrigger="matMenuTrigger">
    <mat-icon>account_circle</mat-icon>
</button>

<mat-menu #userMenu="matMenu" [overlapTrigger]="false" class="toolbar-dropdown-menu user-menu">
    <!--<span (mouseleave)="userMenuTrigger.closeMenu()">-->
    <mat-card fxLayout="row" fxLayoutAlign="space-around center" class="user-info p-0">
        <div fxLayout="column" fxLayoutAlign="center center">
            <img [src]="loggedInUser.imageUrl" *ngIf="loggedInUser&&loggedInUser.imageUrl" alt="user-image">
            <h2 *ngIf="loggedInUser&&loggedInUser.name">{{loggedInUser.name}}</h2>
            <h3 class="secondary-text-color">Role</h3>
            <p class="secondary-text-color">Member since May. 2016</p>
        </div>
    </mat-card>
    <mat-divider></mat-divider>
    <a mat-menu-item routerLink="profile">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
    </a>
    <a mat-menu-item (click)="openSettings()">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
    </a>
    <a mat-menu-item routerLink="/">
        <mat-icon>lock</mat-icon>
        <span>Lock screen</span>
    </a>
    <a mat-menu-item routerLink="help">
        <mat-icon>help</mat-icon>
        <span>Help</span>
    </a>
    <mat-divider></mat-divider>
    <a mat-menu-item (click)="logout()">
        <mat-icon>power_settings_new</mat-icon>
        <span>Log out</span>
    </a>
    <!--</span>-->
</mat-menu>