<app-content-header [icon]="'supervisor_account'" [title]="'Menu Configuration'"
    [desc]="'View information about the user, search, add, edit any Configuration.'" [hideBreadcrumb]="false"
    [hasBgImage]="true" [class]="'pb-5'"></app-content-header>
<mat-progress-bar *ngIf="isLoading" color="primary" mode="indeterminate"></mat-progress-bar>
<div class="page-content">
    <mat-card>
        <div fxLayout="row" fxLayoutAlign="space-between start">
            <mat-card-title>{{'GENERIC.TITLE.MENU' | translate}}</mat-card-title>
        </div>
        <div fxLayout="column">
            <div fxLayout="row" fxFlex=100>
                <mat-form-field fxFlex="100">
                    <mat-label>{{'GENERIC.TITLE.TENANT' | translate}}</mat-label>
                    <mat-select [(ngModel)]="tenant" name="tenantName" #tenantName="ngModel" required>
                        <mat-option *ngFor="let tenant of tenants" [value]="tenant">
                            {{tenant.display_name | translate}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="tenantName.touched && !tenantName.valid" class="full-width">
                        <div *ngIf="!!tenantName.errors?.required">
                            {{'CONFIG.AUTH-TYPES.CONFIGURATION.TENANT-REQUIRED' | translate}} </div>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <app-template-tree-create-cmp *ngIf="dataloaded" [parentProperty]="parentProp" [childProperty]="childProp"
            [displayLabel]="displayLabel" [permissions]="menuModel" [isItemSelectable]="isItemSelectable"
            [hasIcon]="hasMenuIcon" [hasMultipleSelection]="hasMultipleSelection" (selection)="getSelection($event)">
        </app-template-tree-create-cmp>
        <div fxLayout="column" fxLayoutAlign="end end" fxLayoutGap="10px" class="icons-float">
            <button class="add-edit-btn" routerLink="./../new" [queryParams]="{ isCreate: 1}" mat-mini-fab
                aria-label="Example icon-button with a heart icon">
                <mat-icon>add</mat-icon>
            </button>
            <button class="add-edit-btn" routerLink="./../new" [disabled]="!isEditable" [queryParams]="{ isCreate: 0}"
                mat-mini-fab aria-label="Example icon-button with a heart icon">
                <mat-icon>edit</mat-icon>
            </button>
        </div>
    </mat-card>
</div>