<!-- RK :: why it is not a page View component ? -->
<!-- TO-DO :: Merge page view and app-route cmp based on input   -->
<mat-progress-bar *ngIf="isLoading" color="primary" mode="indeterminate"></mat-progress-bar>
<div class="overflow-page">
    <div class="page-content" fxLayout="column" fxLayoutGap="10px" *ngIf="pageItems">
        <div *ngFor="let pitem of pageItems.layoutItems">

            <app-template-form-view-cmp *ngIf="pitem?.details?.type?.id === 1" [pageFormValue]="formValue"
                (formValue)="getFormValue($event)" style="padding: 0px 5px;" fxFlex="1 1 100%"
                [mobileLayout]="layoutFlex" [item]="pitem">
            </app-template-form-view-cmp>

            <app-template-card-view-cmp *ngIf="pitem?.details?.type?.id === 2" fxFlex="1 1 100%" [item]="pitem">
            </app-template-card-view-cmp>

            <app-template-tab-cmp *ngIf="pitem?.details?.type?.id === 3" fxFlex="1 1 100%"
                (treeSelection)="getTreeSelection($event)" (tabIndexChange)="onTabChange($event)" [config]="pitem">
            </app-template-tab-cmp>

            <app-template-pageaction-view-cmp *ngIf="pitem?.details?.type?.id === 5" fxFlex="1 1 100%"
                (emitClick)="getPageAction($event)" [item]="pitem">
            </app-template-pageaction-view-cmp>
            <!-- RK :: why it is create component ? -->
            <!-- Create and View are in same component -->
            <app-template-stepper-create-cmp *ngIf="pitem?.details?.type?.id === 7" fxFlex="1 1 100%" [config]="pitem">
            </app-template-stepper-create-cmp>

            <app-template-banner-view-cmp *ngIf="pitem?.details?.type?.id === 12" fxFlex="1 1 100%" [banner]="pitem">
            </app-template-banner-view-cmp>
        </div>
    </div>
</div>