<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<mat-card fxLayout="column">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start start">
        <h2 *ngIf="!showView" fxFlex="1 1 100%">{{'TEMPLATE.GRID.CREATE'| translate}}</h2>
        <h2 *ngIf="showView && this.config && !this.config.isPageBuilderView" fxFlex="1 1 100%">Preview</h2>
        <span fxFlex="1 1 100%"></span>
        <div *ngIf="!showView" fxLayout="row" fxLayoutGap="5px">
            <button mat-stroked-button color="primary"
                (click)="goBack()">{{'GENERIC.BUTTON.CANCEL'| translate}}</button>
            <button mat-stroked-button (click)="submit()">{{'GENERIC.BUTTON.SAVE'| translate}}</button>
            <button mat-stroked-button (click)="onViewClick()">{{'GENERIC.BUTTON.VIEW'| translate}}</button>
            <button mat-stroked-button (click)="openSettings()">
                <mat-icon>settings</mat-icon>
            </button>
        </div>
        <button *ngIf="showView && this.config && !this.config.isPageBuilderView" mat-stroked-button
            routerLink="./../../home">{{'GENERIC.BUTTON.BACK'| translate}}</button>
    </div>

    <!-- <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
        <mat-form-field fxFlex="40%">
            <input placeholder="Enter Data endpoint" matInput [(ngModel)]="grid.dataEndpoint">
        </mat-form-field>
        <mat-form-field fxFlex="40%">
            <input placeholder="Enter Column endpoint" matInput [(ngModel)]="grid.columnEndpoint">
        </mat-form-field>
        <button mat-raised-button (click)="getData()"> Get Data </button>
    </div> -->
    <form name="form" #f="ngForm" fxLayout="column" fxLayoutAlign="space-between start" novalidate>
        <div fxLayout="row wrap" fxFlexFill fxLayoutAlign="space-between start" fxLayoutGap="10px">
            <mat-form-field fxFlex="100">
                <mat-label>{{'TEMPLATE.NAME'| translate}}</mat-label>
                <input matInput placeholder="{{'GENERIC.TITLE.ENTER-TEMPLATE-NAME'| translate}}" name="tempName"
                    #tempName="ngModel" [(ngModel)]="config.name" required>
                <mat-error *ngIf="tempName.touched && !tempName.valid" class="full-width">
                    <div *ngIf="tempName?.errors?.required">
                        {{'TEMPLATE.VALIDATION.TYPE-REQUIRED' | translate}}</div>
                </mat-error>
            </mat-form-field>
        </div>
    </form>
    <div fxLayout="row" fxFlex="1 1 100%">
        <div fxLayout="column" fxFlex="1 1 100%">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event)" [placeholder]="placeholderForFilter">
            </mat-form-field>
            <table *ngIf="tableData" mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
                <ng-container *ngIf="gridSettings.hasRowSelection" matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>
                <ng-container *ngFor="let column of initColumns;">
                    <div *ngIf="column.name !== 'select'">
                        <ng-container [matColumnDef]="column.name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!column.isSortable">
                                {{column.display_name}}
                            </th>
                            <td mat-cell *matCellDef="let element"> {{element[column.name]}}</td>
                        </ng-container>
                    </div>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div [hidden]="!gridSettings.hasPagination">
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]">
                </mat-paginator>
            </div>
        </div>
        <div *ngIf="!showView" fxFlex="1 1 2%">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu class="p-3" #menu="matMenu">
                <div fxLayout="column" fxLayoutGap="5px">
                    <button mat-menu-item [matMenuTriggerFor]="visible" (click)="$event.stopPropagation(); false;"
                        aria-label="Example icon-button with a menu">
                        {{'GENERIC.BUTTON.VISIBLE'| translate}} </button>
                    <mat-menu class="p-3" #visible="matMenu">
                        <div *ngFor="let item of initColumns" class="mb-1">
                            <mat-checkbox *ngIf="item.display_name" value="{{item}}" [checked]="item.isVisible"
                                (change)="onCheckboxChange(item, $event, 0)">
                                {{item.display_name}}</mat-checkbox>
                        </div>
                    </mat-menu>
                    <button mat-menu-item [matMenuTriggerFor]="sortable" (click)="$event.stopPropagation(); false;"
                        aria-label="Example icon-button with a menu">
                        Sortable </button>
                    <mat-menu class="p-3" #sortable="matMenu">
                        <div *ngFor="let item of initColumns" class="mb-1">
                            <mat-checkbox *ngIf="item.display_name && item.isVisible" value="{{item}}"
                                [checked]="item.isSortable" (change)="onCheckboxChange(item, $event, 1)">
                                {{item.display_name}}</mat-checkbox>
                        </div>
                    </mat-menu>
                    <button mat-menu-item [matMenuTriggerFor]="searchable" (click)="$event.stopPropagation(); false;"
                        aria-label="Example icon-button with a menu">
                        {{'GENERIC.BUTTON.SERCHABLE'| translate}} </button>
                    <mat-menu class="p-3" #searchable="matMenu">
                        <div *ngFor="let item of initColumns" class="mb-1">
                            <mat-checkbox *ngIf="item.display_name && item.isVisible" value="{{item}}"
                                [checked]="item.isSearchable" (change)="onCheckboxChange(item, $event, 2)">
                                {{item.display_name}}</mat-checkbox>
                        </div>
                    </mat-menu>
                </div>
            </mat-menu>
        </div>
    </div>
</mat-card>