<div class="p-5 card-background" fxLayout="column" fxLayoutGap="20px">
    <div fxLayout="column" fxLayoutGap="10vh">
        <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start start">
            <mat-label style="font-size: 34px">{{'TEMPLATE.WIZARD.CREATE-TEMPLATE'| translate}}</mat-label>
            <mat-label style="font-size: 14px">{{'TEMPLATE.WIZARD.SELECT-COMPONENT'| translate}}</mat-label>
        </div>
        <mat-tab-group mat-align-tabs="center">
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-label class="color-label">{{'TEMPLATE.WIZARD.BASIC'| translate}}</mat-label>
                </ng-template>
                <div class="p-3" fxLayout="row wrap" fxLayoutGap.lt-lg="3em" fxLayoutGap="2em" fxFlex="100%" fxLayoutAlign="center start">
                    <div *ngFor="let type of basicTypes; let i = index" fxFlex="6%" fxLayout="column"
                        fxLayoutAlign="center center" fxLayoutGap="5px">
                        <mat-card (click)="onCardClick(type)" (dblclick)="onCardDblClick(type)"
                            [ngClass]="type.isClicked ? 'p-4 active-card' : 'p-4 card-background'"
                            fxLayoutAlign="center center">
                            <mat-icon [ngClass]="type.isClicked ? 'icons-color' : 'card-icon'">{{type.icon}}
                            </mat-icon>
                        </mat-card>
                        <mat-label fxLayout="row wrap">
                            {{type.name | translate}}
                        </mat-label>
                    </div>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-label class="color-label">{{'TEMPLATE.WIZARD.ADVANCED'| translate}}</mat-label>
                </ng-template>
                <div class="p-3" fxLayout="row wrap" fxLayoutGap.lt-lg="3em" fxLayoutGap="2em" fxFlex="100%" fxLayoutAlign="center start">
                    <div *ngFor="let type of advancedTypes; let i = index" fxFlex="6%" fxLayout="column"
                        fxLayoutAlign="center center" fxLayoutGap="5px">
                        <mat-card (click)="onCardClick(type)" (dblclick)="onCardDblClick(type)"
                            [ngClass]="type.isClicked ? 'p-4 active-card' : 'p-4 card-background'"
                            fxLayoutAlign="center center">
                            <mat-icon [ngClass]="type.isClicked ? 'icons-color' : 'card-icon'">{{type.icon}}
                            </mat-icon>
                        </mat-card>
                        <mat-label fxLayout="row wrap">
                            {{type.name | translate}}
                        </mat-label>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div fxLayoutAlign="end start">
        <button mat-stroked-button (click)="onNext()"
            [disabled]="!enableNext">{{'GENERIC.BUTTON.NEXT'| translate}}</button>
    </div>
</div>