@import "../../theme/styles/variables";


.top-toolbar {
    position: relative;
    height: $top-toolbar-height;
    z-index: 1;
}

.pin {
    width: 24px;
    height: 24px;
    cursor: pointer;
    fill: currentColor;
}

.sidenav {
    width: $sidenav-width;
    overflow: hidden;
    border: none !important;
}

.header {
    position: relative;
    z-index: 2;
    transition: 0.3s;

    &.over {
        z-index: 99;
    }
}

.search-bar {
    form {
        input {
            height: 28px;
            border: none;
            padding: 0;
            border-radius: 15px;
            outline: none;
            color: #444;
            width: 0;
            overflow: hidden;
            transition: 0.3s;

            &.show {
                padding: 0 8px;
                width: 250px;
            }
        }
    }
}

.footer {
    height: $footer-toolbar-height/2 + 4px;
    position: relative;
    z-index: 3;
    margin-top: $footer-toolbar-height/2;
    font-size: 1em;

    sup {
        font-size: 0.9em;
        margin-right: 5px
    }
}


.options {
    position: fixed;
    width: $sidenav-width;
    z-index: 999999;

    .op-header {
        height: $top-toolbar-height;
        padding: 0 14px;
    }

    .control {
        padding: 6px 14px;

        div {
            padding: 6px 0;
        }

        h4 {
            border-bottom: 1px solid #ccc;
            margin: 12px 0 6px 0;
        }

        .skin-primary {
            width: 46px;
            height: 46px;
            padding: 0;
            overflow: hidden;
            cursor: pointer;

            .skin-secondary {
                width: 0;
                height: 0;
                padding: 0;
                border-bottom: 46px solid;
                border-left: 46px solid transparent;
            }

            &.indigo-light {
                background-color: #3F51B5;
                border: 1px solid #3F51B5;

                .skin-secondary {
                    border-bottom-color: #ececec;
                }
            }

            &.teal-light {
                background-color: #009688;
                border: 1px solid #009688;

                .skin-secondary {
                    border-bottom-color: #ececec;
                }
            }

            &.red-light {
                background-color: #F44336;
                border: 1px solid #F44336;

                .skin-secondary {
                    border-bottom-color: #ececec;
                }
            }

            &.gray-light {
                background-color: #757575;
                border: 1px solid #757575;

                .skin-secondary {
                    border-bottom-color: #ececec;
                }
            }

            &.blue-dark {
                background-color: #0277bd;
                border: 1px solid #0277bd;

                .skin-secondary {
                    border-bottom-color: #262626;
                }
            }

            &.green-dark {
                background-color: #388E3C;
                border: 1px solid #388E3C;

                .skin-secondary {
                    border-bottom-color: #262626;
                }
            }

            &.pink-dark {
                background-color: #D81B60;
                border: 1px solid #D81B60;

                .skin-secondary {
                    border-bottom-color: #262626;
                }
            }

            &.gray-dark {
                background-color: #607D8B;
                border: 1px solid #607D8B;

                .skin-secondary {
                    border-bottom-color: #262626;
                }
            }
        }
    }

    .mat-radio-group {
        display: inline-flex;
        flex-direction: column;

        .mat-radio-button {
            margin: 2px 0;
        }
    }

    .mat-slide-toggle {
        height: auto;
    }

    .ps {
        height: calc(100% - #{$top-toolbar-height});
    }
}

.op-image {
    box-shadow: 0 0 2px #ccc;
    border: 2px solid;
    border-color: transparent;
    cursor: pointer;
    transition: 0.2s;
}

.options-icon {
    position: fixed;
    top: 120px;
    right: 0;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, .7);
    color: #fff;
    cursor: pointer;
    z-index: 99999;

    .mat-icon {
        -webkit-animation: spin 8s linear infinite;
        -moz-animation: spin 8s linear infinite;
        animation: spin 8s linear infinite;
    }
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.back-to-top {
    position: fixed;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 999999;
    right: 20px;
    bottom: 20px;
    opacity: .5;
    color: #fff;
    background-color: rgba(0, 0, 0, .75);
    border-radius: 50%;
    transition: 0.3s;

    &:hover {
        opacity: 0.9;
    }
}
