.stepper-title {
    font-size: 16px;
    font-weight: 500;
}

.emptybox {
    border-style: dashed;
    // color: #878787;
    font-size: 20px;
    height: 100vh !important;
}

.card-height-100vh {
    height: 100vh !important;
    overflow: auto;
}