<mat-progress-bar *ngIf="isLoading" color="primary" mode="indeterminate"></mat-progress-bar>
<div class="page-content" fxFlex="1 1 100%" >
    <div fxLayout="column" fxLayoutGap="10px" fxFlexFill>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="stretch" fxLayoutGap="10px" fxFlexFill>
            <mat-card *ngIf="!(showView)"  fxFlex="1 1 25%" class="mat-typography todo-card card-background">
                <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="stepperTodoItems"
                    [cdkDropListConnectedTo]="[doneList]" class="toDo-list card-height-100vh"
                    (cdkDropListDropped)="drop($event)" cdkDropListSortingDisabled>
                    <div class="toDo-box" *ngFor="let item of stepperTodoItems" cdkDrag>
                        {{item.details.name | uppercase}}
                    </div>
                </div>
            </mat-card>
            <div fxFlex="!(showView) ? 100 : 75" fxFlex="1 1 75%" cdkDropList #doneList="cdkDropList"
                [cdkDropListData]="stepperDoneItems" [cdkDropListConnectedTo]="[todoList]"
                (cdkDropListDropped)="drop($event)" fxFlexFill fxLayout="column">
                <mat-card fxLayout="column" fxLayoutGap="6px">
                    <form name="form" #f="ngForm" fxLayout="column" novalidate>
                        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start start">
                            <h2 *ngIf="!(showView)" fxFlex="1 1 100%">{{'TEMPLATE.STEPPER.TITLE' | translate}}</h2>
                            <h2 *ngIf="showView && this.config && !this.config.isPageBuilderView" fxFlex="1 1 100%">
                                Preview
                            </h2>
                            <span fxFlex="1 1 100%"></span>
                            <div fxLayout="row" fxLayoutGap="5px">
                                <button mat-stroked-button color="primary"
                                    (click)="goBack()">{{'GENERIC.BUTTON.CANCEL'| translate}}</button>
                                <button *ngIf="!(showView)" mat-stroked-button
                                    [disabled]="stepperDoneItems?.length === 0"
                                    (click)="resetDoneItems()">{{'GENERIC.BUTTON.RESET' | translate}}</button>
                                <!-- TO-DO hide save button in edit  -->
                                <span *ngIf="!templateId">
                                    <button *ngIf="!(showView)" mat-stroked-button
                                        [disabled]="stepperDoneItems?.length === 0 || !f?.form?.valid"
                                        (click)="submit()">{{'GENERIC.BUTTON.SAVE' | translate}}</button>
                                </span>
                                <button *ngIf="templateId" mat-stroked-button
                                    [disabled]="stepperDoneItems?.length === 0 || !f?.form?.valid"
                                    (click)="update()">{{'GENERIC.BUTTON.UPDATE' | translate}}</button>
                                    <button *ngIf="templateId" mat-stroked-button color="primary" [disabled]="stepperDoneItems?.length === 0 || !f?.form?.valid"
                                       (click)="delete()">Delete</button>                                 
                                <button *ngIf="!(showView) || templateId" mat-stroked-button
                                    [disabled]="stepperDoneItems?.length === 0"
                                    (click)="onViewClick()">{{'GENERIC.BUTTON.VIEW' | translate}}</button>
                                <button
                                    *ngIf="showView && !stepperView?.isTemplateView && this.config && !this.config.isPageBuilderView"
                                    mat-stroked-button
                                    (click)="showView = !showView">{{'GENERIC.BUTTON.VIEW' | translate}}</button>
                            </div>
                        </div>
                        <div *ngIf="!showView" fxLayout="row wrap" fxFlexFill fxLayoutAlign="space-between start"
                            fxLayoutGap="10px">
                            <mat-form-field fxFlex="100">
                                <mat-label>{{'TEMPLATE.NAME'| translate}}</mat-label>
                                <input matInput placeholder="{{'GENERIC.TITLE.ENTER-TEMPLATE-NAME'| translate}}"
                                    name="tempName" #tempName="ngModel" [(ngModel)]="config.name" >
                                <mat-error *ngIf="tempName.touched && !tempName.valid" class="full-width">
                                    <div *ngIf="tempName?.errors?.required">
                                        {{'TEMPLATE.VALIDATION.TYPE-REQUIRED' | translate}}</div>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </form>
                    <mat-label class="stepper-title"
                        *ngIf="(showView && stepperView?.isTemplateView) || (config && config?.isPageBuilderView)">
                        {{config?.isPageBuilderView?config?.details?.name : stepperView?.details?.name}}
                    </mat-label>
                    <div *ngIf="!(showView)" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="30px">
                        <mat-form-field fxFlex="1 1 48%">
                            <mat-label>{{'TEMPLATE.STEPPER.STEPPER-VIEW'| translate}}</mat-label>
                            <mat-select [(ngModel)]="selectedStepper" required name="stepperView" #stepperView="ngModel"
                                [compareWith]="compareFn">
                                <mat-option *ngFor="let stepper of steppers" [value]="stepper">
                                    {{stepper.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
                            {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
                        </button>
                        <button mat-raised-button (click)="isEditable = !isEditable">
                            {{!isEditable ? 'Enable edit mode' : 'Disable edit mode'}}
                        </button>
                    </div>
                    <div fxLayoutAlign="center center" fxLayout="column" fxFlexFill
                        *ngIf="(stepperDoneItems.length === 0 && selectedStepper) && !(showView)"
                        class="emptybox icons-color">
                        <mat-label>{{'TEMPLATE.STEPPER.CREATE-STEPPER-DRAG&DROP-ITEMS'| translate}}</mat-label>
                    </div>
                    <mat-horizontal-stepper *ngIf="selectedStepper.id === 1" [linear]="isLinear" #stepper>
                        <ng-template matStepperIcon="edit">
                            <mat-icon>check</mat-icon>
                        </ng-template>
                        <div
                            *ngFor="let stepperAttr of stepperDoneItems; let i = index; let first = first;let last = last;">
                            <mat-step [completed]="checkFormValid()" [editable]="isEditable" cdkDrag>
                                <ng-template matStepLabel>{{stepperAttr?.details?.name}}
                                    <button *ngIf="!(showView)" mat-button (click)="removeStep(i)" class="delete"
                                        matTooltip="delete">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </ng-template>
                                <div>
                                    <app-template-form-view-cmp (multipleForms)="getMultipleFormValue($event)"
                                        (formValue)="getFormValue($event)" (isFormInvalid)="getFormValid($event)"
                                        style="padding: 0px 5px;" fxFlex="1 1 100%" [item]="stepperAttr"
                                        [multipleForm]="stepperFormGroup.controls" [formIndex]="i"
                                        *ngIf="stepperAttr?.details?.type?.id === 1">
                                    </app-template-form-view-cmp>
                                    <app-template-card-view-cmp fxFlex="1 1 100%" [item]="stepperAttr"
                                        *ngIf="stepperAttr?.details?.type?.id === 2">
                                    </app-template-card-view-cmp>
                                    <!-- <app-template-tab-cmp fxFlex="1 1 100%" [config]="stepperAttr"
                                        *ngIf="stepperAttr?.details?.type?.id === 3">
                                    </app-template-tab-cmp> -->
                                    <app-template-pageaction-view-cmp fxFlex="1 1 100%" [item]="stepperAttr"
                                        *ngIf="stepperAttr?.details?.type?.id === 5">
                                    </app-template-pageaction-view-cmp>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="10px">
                                    <button mat-raised-button matStepperPrevious *ngIf="!first">Back</button>
                                    <button mat-raised-button matStepperNext *ngIf="!last"
                                        (click)="onStepperNext(i)">{{'GENERIC.BUTTON.NEXT' | translate}}</button>
                                </div>
                            </mat-step>
                        </div>
                    </mat-horizontal-stepper>
                    <mat-vertical-stepper *ngIf="selectedStepper.id === 2" [linear]="isLinear" #stepper>
                        <ng-template matStepperIcon="edit">
                            <mat-icon>check</mat-icon>
                        </ng-template>
                        <div
                            *ngFor="let stepperAttr of stepperDoneItems; let i = index; let first = first;let last = last;">
                            <mat-step [completed]="checkFormValid()" [editable]="isEditable" cdkDrag>
                                <ng-template matStepLabel>{{stepperAttr?.details?.name}}
                                    <button mat-button (click)="removeStep(i)" class="delete" matTooltip="delete">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </ng-template>
                                <div>
                                    <app-template-form-view-cmp (multipleForms)="getMultipleFormValue($event)"
                                        (formValue)="getFormValue($event)" (isFormInvalid)="getFormValid($event)"
                                        style="padding: 0px 5px;" fxFlex="1 1 100%" [item]="stepperAttr"
                                        [multipleForm]="stepperFormGroup.controls" [formIndex]="i"
                                        *ngIf="stepperAttr?.details?.type?.id === 1">
                                    </app-template-form-view-cmp>
                                    <app-template-card-view-cmp fxFlex="1 1 100%" [item]="stepperAttr"
                                        *ngIf="stepperAttr?.details?.type?.id === 2">
                                    </app-template-card-view-cmp>
                                    <app-template-pageaction-view-cmp fxFlex="1 1 100%" [item]="stepperAttr"
                                        *ngIf="stepperAttr?.details?.type?.id === 5">
                                    </app-template-pageaction-view-cmp>
                                </div>
                                <div fxLayout="row" fxLayoutAlign="end start" fxLayoutGap="10px">
                                    <button mat-raised-button matStepperPrevious
                                        *ngIf="!first">{{'GENERIC.BUTTON.BACK' | translate}}</button>
                                    <button mat-raised-button matStepperNext *ngIf="!last"
                                        (click)="onStepperNext(i)">{{'GENERIC.BUTTON.NEXT' | translate}}</button>
                                </div>
                            </mat-step>
                        </div>
                    </mat-vertical-stepper>
                </mat-card>
            </div>
        </div>
    </div>
</div>