<mat-card>
    <div fxLayout="row" fxLayoutAlign="space-between start">
        <h2 fxFlex="1 1 100%">{{'GENERIC.TITLE.VIEW'| translate}}</h2>
        <span fxFlex="1 1 100%"></span>
        <div fxLayout="row" fxLayoutGap="5px">
            <button mat-stroked-button (click)="gotoCreate()">{{'GENERIC.BUTTON.BACK'| translate}}</button>
        </div>
    </div>
    <div *ngFor="let pitem of pageItems.layoutItems; let i = index">
        <app-template-form-view-cmp [multipleForm]="mulipleFormGroup" (multipleForms)="getMultipleFormValue($event)"
            (formValue)="getFormValue($event)" [formIndex]="i" style="padding: 0px 5px;" fxFlex="1 1 100%"
            [item]="pitem" *ngIf="pitem?.details?.type?.id === 1">
        </app-template-form-view-cmp>
        <app-template-card-view-cmp fxFlex="1 1 100%" [item]="pitem" *ngIf="pitem?.details?.type?.id === 2">
        </app-template-card-view-cmp>
        <app-template-tab-cmp fxFlex="1 1 100%" [config]="pitem" *ngIf="pitem?.details?.type?.id === 3">
        </app-template-tab-cmp>
        <app-template-grid-create-cmp fxFlex="1 1 100%" *ngIf="pitem?.details?.type?.id === 4" [item]="pitem">
        </app-template-grid-create-cmp>
        <app-template-pageaction-view-cmp (emitClick)="getPageAction($event)" fxFlex="1 1 100%" [item]="pitem"
            *ngIf="pitem?.details?.type?.id === 5">
        </app-template-pageaction-view-cmp>
        <app-template-stepper-create-cmp fxFlex="1 1 100%" *ngIf="pitem?.details?.type?.id === 7" [config]="pitem">
        </app-template-stepper-create-cmp>
        <app-template-tree-create-cmp fxFlex="1 1 100%" *ngIf="pitem?.details?.type?.id === 10" [config]="pitem">
        </app-template-tree-create-cmp>
        <app-template-banner-view-cmp fxFlex="1 1 100%" [banner]="pitem" *ngIf="pitem?.details?.type?.id === 12">
        </app-template-banner-view-cmp>
        <app-create-list fxFlex="1 1 100%" *ngIf="pitem?.details?.type?.id === 13" [listConfig]="pitem?.config">
        </app-create-list>
    </div>
</mat-card>