.favorites-container {
    position: relative;
    font-size: 14px;

    &:after {
        font-family: 'Material Icons';
        content: "\e87d";
        font-size: 24px;
        position: absolute;
        right: -14px;
        top: 12px;
        pointer-events: none;
        cursor: pointer;
    }

    .mat-form-field {
        width: 0 !important;
        margin: 0 8px;
    }
}