<div class="mat-typography">
    <mat-tree *ngIf="dataSource" [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
            <li class="mat-tree-node">
                <!-- use a disabled button to provide padding for tree leaf -->
                <button mat-icon-button disabled></button>
                <mat-checkbox [checked]="checklistSelection.isSelected(node)" [disabled]="isDisabled"
                    (change)="todoLeafItemSelectionToggle(node)">
                    <i [ngClass]="{'permission-button': node.permissionType.name == 'Button', 
                        'permission-page': node.permissionType.name == 'Page', 
                        'permission-module': node.permissionType.name == 'Module'}">
                    </i>{{node.name | translate }}</mat-checkbox>
            </li>
        </mat-tree-node>
        <!-- This is the tree node template for expandable nodes -->
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
            <li>
                <div class="mat-tree-node">
                    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
                        <mat-icon class="mat-icon-rtl-mirror">
                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                    </button>
                    <mat-checkbox [checked]="descendantsAllSelected(node)" [disabled]="isDisabled"
                        [indeterminate]="descendantsPartiallySelected(node)" (change)="todoItemSelectionToggle(node)">
                        <i [ngClass]="{'permission-button': node.permissionType.name == 'Button', 
                            'permission-page': node.permissionType.name == 'Page',
                             'permission-module': node.permissionType.name == 'Module'}">
                        </i>{{node.name | translate}}
                    </mat-checkbox>
                </div>
                <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
                    <ng-container matTreeNodeOutlet></ng-container>
                </ul>
            </li>
        </mat-nested-tree-node>
    </mat-tree>
</div>