<div fxLayout="column" fxLayoutGap="10px">
    <div fxLayout="row" fxFlex="1 1 100" fxLayoutAlign="start start">
        <h1 mat-dialog-title fxFlex="1 1 100">{{ selectedTemplate?.type?.name | titlecase }}
            {{'GENERIC.TITLE.FLEX' | translate}}</h1>
        <span fxFlex="1 1 auto"></span>
        <div fxLayoutAlign="satrt cenetr" fxLayoutGap="5px">
            <button mat-stroked-button (click)="onNoClick()">{{'GENERIC.BUTTON.NO-THANKS'| translate}}</button>
            <button mat-stroked-button (click)="saveFormField()"
                cdkFocusInitial>{{'GENERIC.BUTTON.SAVE'| translate}}</button>
        </div>
    </div>
    <form name="form" #f="ngForm" fxLayout="column" fxLayoutGap="5px" novalidate>
        <div *ngIf="selectedTemplate.config === 1">
            <div fxLayout="row wrap" fxLayoutGap="10px">
                <mat-form-field appearance="outline" fxFlex="48">
                    <mat-label>{{'TEMPLATE.CONFIGURATION.RESPONSIVE-LAYOUT' | translate}}</mat-label>
                    <mat-select [(ngModel)]="selectedTemplate.isResponsive" [compareWith]="compareFn"
                        (selectionChange)="onResponsiveChange()" name="responsiveFields" #responsiveFields="ngModel"
                        required>
                        <mat-option *ngFor="let yayNay of yesNo" [value]="yayNay">
                            {{yayNay.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="responsiveFields.touched && !responsiveFields.valid" class="full-width">
                        <div *ngIf="responsiveFields?.errors?.required">Value is Required</div>
                    </mat-error>
                </mat-form-field>
                <mat-form-field *ngIf="selectedTemplate?.isResponsive?.id === 1" appearance="outline" fxFlex=48>
                    <mat-label>{{'TEMPLATE.CONFIGURATION.SELECT-LAYOUT' | translate}}</mat-label>
                    <mat-select [(ngModel)]="selectedTemplate.layout" name="layoutName" #layoutName="ngModel" required
                        [compareWith]="compareFn">
                        <mat-option *ngFor="let layout of layouts" [value]="layout">
                            {{layout.dispalyName}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="layoutName.touched && !layoutName.valid" class="full-width">
                        <div *ngIf="layoutName?.errors?.required">
                            {{'TEMPLATE.CONFIGURATION.VALIDATION-LAYOUT-REQUIRED' | translate}}</div>
                    </mat-error>
                </mat-form-field>
                <mat-form-field *ngIf="selectedTemplate?.isResponsive?.id === 1 && selectedTemplate.layout.id === 0"
                    appearance="outline" fxFlex=48>
                    <mat-label>{{'TEMPLATE.CONFIGURATION.SELECT-NO-OF-COLUMNS' | translate}}</mat-label>
                    <mat-select [(ngModel)]="selectedTemplate.layoutColumn" name="layoutColumn" #layoutColumn="ngModel"
                        required [compareWith]="compareFn">
                        <mat-option *ngFor="let lytClmn of layoutColumns" [value]="lytClmn">
                            {{lytClmn.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="layoutColumn.touched && !layoutColumn.valid" class="full-width">
                        <div *ngIf="layoutColumn?.errors?.required">
                            {{'TEMPLATE.CONFIGURATION.VALIDATION.NO-OF-COLUMNS-REQUIRED' | translate}}</div>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="48">
                    <mat-label>Form display order</mat-label>
                    <mat-select [(ngModel)]="selectedTemplate.flexOrder" [compareWith]="compareFn" name="fxOrder"
                        #fxOrder="ngModel" required>
                        <mat-option *ngFor="let align of formAlign" [value]="align">
                            {{align.display_name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="responsiveFields.touched && !responsiveFields.valid" class="full-width">
                        <div *ngIf="responsiveFields?.errors?.required">Value is Required</div>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div *ngIf="selectedTemplate.config === 2">
            <div fxLayout="row wrap" fxLayoutGap="10px">
                <mat-form-field appearance="outline" fxFlex="48">
                    <mat-label>{{'TEMPLATE.CONFIGURATION.TEMPLATE-NATURE' | translate}}</mat-label>
                    <mat-select [(ngModel)]="selectedTemplate.templateNature" name="templateNtr" #templateNtr="ngModel"
                        required [compareWith]="compareFn">
                        <mat-option *ngFor="let templateNature of formTemplateNature" [value]="templateNature">
                            {{templateNature.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="templateNtr.touched && !templateNtr.valid" class="full-width">
                        <div *ngIf="templateNtr?.errors?.required">
                            {{'TEMPLATE.CONFIGURATION.VALIDATION.TYPE-REQUIRED' | translate}}</div>
                    </mat-error>
                </mat-form-field>
                <mat-form-field *ngIf="selectedTemplate.type.id === 1" appearance="outline" fxFlex="48">
                    <mat-label>Select Form Fields Style</mat-label>
                    <mat-select [(ngModel)]="selectedTemplate.fieldStyle" name="styleFields" #styleFields="ngModel"
                        required [compareWith]="compareFn">
                        <mat-option *ngFor="let style of formFieldStyles" [value]="style">
                            {{style.display_name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="styleFields.touched && !styleFields.valid" class="full-width">
                        <div *ngIf="styleFields?.errors?.required">
                            {{'TEMPLATE.CONFIGURATION.VALIDATION.VALUE-REQUIRED' | translate}}</div>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="48">
                    <mat-label>{{'TEMPLATE.CONFIGURATION.VALIDATION.ERROR-MESSAGES-DISPLAY' | translate}}</mat-label>
                    <mat-select [(ngModel)]="selectedTemplate.errorMessages" name="errorTexts" #errorTexts="ngModel"
                        required [compareWith]="compareFn">
                        <mat-option *ngFor="let text of displayErrorMessages" [value]="text">
                            {{text.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="errorTexts.touched && !errorTexts.valid" class="full-width">
                        <div *ngIf="errorTexts?.errors?.required">
                            {{'TEMPLATE.CONFIGURATION.VALIDATION.VALUE-REQUIRED' | translate}}</div>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>
</div>