.applications {
    width: 260px;

    .mat-card {
        padding: 0;

        .mat-button {
            height: 100%;
            line-height: 1.7;
            font-weight: 400;
            width: 100%;
            border-radius: 0;

            .mat-button-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;

                .mat-icon {
                    padding: 8px;
                    color: #fff;
                    border-radius: 4px;
                }
            }
        }
    }
}

.items-display {
    display: contents !important;
}