<app-content-header [hideBreadcrumb]="false" [hasBgImage]="true" [class]="'pb-2'"></app-content-header>
<mat-progress-bar *ngIf="isLoading" color="primary" mode="indeterminate"></mat-progress-bar>
<div class="page-content" *ngIf="config && cmpAttr" fxLayout="column" fxLayoutGap="10px">
    <app-template-form-create-cmp *ngIf="template?.details?.type?.id === 1" [config]="config"
        [cmpLayoutItems]="cmpAttr">
    </app-template-form-create-cmp>

    <app-template-card-create-cmp *ngIf="template?.details?.type?.id === 2" [config]="config"
        [cmpLayoutItems]="cmpAttr">
    </app-template-card-create-cmp>

    <app-template-tab-cmp *ngIf="template?.details?.type?.id === 3" [config]="config">
    </app-template-tab-cmp>

    <!-- <app-template-grid-view-cmp *ngIf="template?.details?.type?.id === 4">
    </app-template-grid-view-cmp> -->

    <app-template-pageaction-create-cmp *ngIf="template?.details?.type?.id === 5" [config]="config"
        [cmpLayoutItems]="cmpAttr">
    </app-template-pageaction-create-cmp>

    <app-template-stepper-create-cmp *ngIf="template?.details?.type?.id === 7" [config]="config">
    </app-template-stepper-create-cmp>

    <app-template-bottom-sheet-create-cmp *ngIf="template?.details?.type?.id === 8" [config]="config">
    </app-template-bottom-sheet-create-cmp>

    <app-template-dialog-cmp *ngIf="template?.details?.type?.id === 9" [config]="config"></app-template-dialog-cmp>

    <app-template-tree-create-cmp *ngIf="template?.details?.type?.id === 10" [config]="config">
    </app-template-tree-create-cmp>

    <app-template-banner-create-cmp *ngIf="template?.details?.type?.id === 12" [config]="config"
        [cmpLayoutItems]="cmpAttr">
    </app-template-banner-create-cmp>

</div>