<div class="page-content" fxLayout="column" fxLayoutGap="10px">
    <div *ngIf="!banner" fxLayout="row" fxLayoutAlign="space-between start" fxFlexFill>
        <h2>{{'GENERIC.TITLE.PREVIEW' | translate}}</h2>
        <button *ngIf="!imagedata?.isTemplateView" fxLayoutAlign="end end" mat-stroked-button
            (click)="updateMode()">{{'GENERIC.BUTTON.BACK' | translate}}</button>
        <button *ngIf="imagedata?.isTemplateView" fxLayoutAlign="end end" mat-stroked-button
            routerLink="./../../home">{{'GENERIC.BUTTON.BACK' | translate}}</button>
    </div>
    <div [fxLayout.gt-xs]="imagedata?.details?.layout?.name" fxLayout.xs="column">
        <div [fxFlex]="imagedata?.details?.layoutColumn?.flex">
            <div fxLayout="column" fxFlex="1 1 100%" fxLayoutAlign="start center">
                <div *ngIf="imagedata?.attributes?.imageAttributes">
                    <div *ngFor="let item of imagedata?.attributes?.imageAttributes">
                        <div *ngIf="item.id === 1">
                            <img [src]="item?.source?.value" [height]="item?.imgHeight" [width]="item?.imgWidth"
                                [ngStyle]="{'border-radius': item?.imageRadius + '%'}" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div fxLayout="column" fxFlex="1 1 100%">
            <div fxLayout="row wrap" fxFlexFill fxLayoutGap="0.5%" fxLayoutAlign="start center">
                <div *ngFor="let item of imagedata?.attributes?.textAttributes" fxLayout="row"
                    fxLayoutAlign="space-between end" fxFlex="49">
                    <mat-form-field *ngIf="item.id === 2" fxFlexFill
                        [appearance]="imagedata?.details?.fieldStyle?.name">
                        <mat-label>{{item.label}}</mat-label>
                        <input matInput type="text" class="form-control" value="{{item.name}}"
                            pattern="{{item.pattern}}">
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
</div>