.text-style {
    white-space: pre-wrap
}

::ng-deep .mat-bottom-sheet-container {
    padding: 0px !important;
}


.card-icon {
    font-size: 30px;
    height: 30px;
    width: 30px;
}


mat-card {
    cursor: pointer;
}

.p-2rem {
    padding: 2rem;
}

.color-label {
    color: #e8eaf6;
}