<!-- <mat-progress-bar *ngIf="isLoading" color="primary" mode="indeterminate"></mat-progress-bar> -->
<div class="p-5 card-background" fxLayout="column" fxLayoutGap="20px">
    <div fxLayout="column" fxLayoutGap="10vh">
        <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start start">
            <mat-label style="font-size: 34px">{{'PRE-AUTH.WIZARD.CONFIGURE-AUTHENTICATION'| translate}}</mat-label>
            <mat-label style="font-size: 14px">{{'PRE-AUTH.WIZARD.CREATE-AUTHENTICATION-SELECT-APP'| translate}}
            </mat-label>
        </div>
        <div *ngIf="showAuth" fxLayout="column">
            <div class="p-3" fxLayout="row wrap" fxLayoutGap="25px" fxFlex="100%" fxLayoutAlign="center start">
                <div *ngFor="let type of appTypes; let i = index" fxFlex="6%" fxLayout="column"
                    fxLayoutAlign="center center" fxLayoutGap="5px">
                    <mat-card (click)="onAuthCardClick(type)" (dblclick)="onAuthCardDbClick(type)"
                        [ngClass]="type.isClicked ? 'p-4' : 'p-4 card-background'" fxLayoutAlign="center center">
                        <mat-icon [ngClass]="type.isClicked ? 'icons-color' : 'card-icon'"><i
                                class={{getIconOfAppType(type.id)}}></i>
                        </mat-icon>
                    </mat-card>
                    <mat-label fxLayout="row wrap">
                        {{type.display_name}}
                    </mat-label>
                </div>
            </div>
            <div fxLayoutAlign="end start">
                <button mat-stroked-button [disabled]="!enableNext" (click)="onAppNext()">Next</button>
            </div>
        </div>
        <div *ngIf="!showAuth" fxLayout="column">
            <div class="p-3" fxLayout="row wrap" fxLayoutGap="25px" fxFlex="100%" fxLayoutAlign="center start">
                <div *ngFor="let type of userTypes; let i = index" fxFlex="6%" fxLayout="column"
                    fxLayoutAlign="center center" fxLayoutGap="5px">
                    <mat-card (click)="onUserCardClick(type)" (dblclick)="onUserDbCardClick(type)"
                        [ngClass]="type.isClicked ? 'p-4' : 'p-4 card-background'" fxLayoutAlign="center center">
                        <mat-icon [ngClass]="type.isClicked ? 'icons-color' : 'card-icon'">
                            {{getIconOfUserType(type.id)}}
                        </mat-icon>
                    </mat-card>
                    <mat-label fxLayout="row wrap">
                        {{type.display_name}}
                    </mat-label>
                </div>
            </div>
            <div fxLayoutAlign="space-between start">
                <button *ngIf="!showAuth" mat-stroked-button
                    (click)="onUserBack()">{{'GENERIC.BUTTON.BACK'| translate}}</button>
                <button mat-stroked-button [disabled]="!enableNext"
                    (click)="onUserNext()">{{'GENERIC.BUTTON.NEXT'| translate}}</button>
            </div>
        </div>
    </div>
</div>