<mat-drawer-container class="landing-container h-100">
    <mat-drawer-content>
        <mat-toolbar class="landing-toolbar mat-elevation-z4">
            <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <a routerLink="/" fxLayout="row" fxLayoutAlign="start center">
                        <img src="assets/img/ae-logo.svg" alt="logo">
                    </a>
                </div>
            </div>
        </mat-toolbar>
        <div class="pb-3"></div>
        <div class="page-content">
            <mat-progress-bar *ngIf="isLoading" color="primary" mode="indeterminate"></mat-progress-bar>
            <mat-card>
                <div fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="10px">
                    <mat-card-title>{{'REGISTER.CHECK-OUT.CHECKOUT-USER'| translate}}</mat-card-title>
                    <div fxLayout="row" fxLayoutAlign="end center" fxFlex.xs="1 0 100%" fxLayoutGap="0.5em"
                        style="padding: 0px 10px;">
                        <button  mat-raised-button (click)="goBack()">
                            <mat-icon>arrow_back</mat-icon> {{'GENERIC.BUTTON.BACK' | translate}}
                        </button>
                        <button mat-raised-button routerLink="/" color="accent">
                            <mat-icon>home</mat-icon> {{'GENERIC.BUTTON.HOME' | translate}}
                        </button>
                    </div>
                </div>
                <div class="pb-2"></div>
                <mat-card-content fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutGap="10px">
                    <div fxFlex=60 fxFlexOrder="3" fxFlexFill fxLayoutGap="10px">
                        <div fxLayout="row" fxLayoutAlign.xs="stretch" fxLayoutAlign="center center"
                            fxLayoutGap="0.5em">
                            <mat-form-field fxFlex=50 fxFlex.xs="100">
                                <input matInput placeholder="{{'REGISTER.USER.REGISTRATION-NUMBER'| translate}}"[(ngModel)]="registerNumber"  name="register" autocomplete="off" #register="ngModel" required>
                                <mat-error *ngIf="register.touched && register.invalid" class="full-width">
                                    <div *ngIf="!!register.errors?.required">{{'REGISTER.USER.REGISTER-REQUIRED' | translate}}</div>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div fxLayout.xs="column" fxLayoutGap="1em" fxLayoutAlign.xs="center center"
                            fxLayoutAlign="center center">
                            <button mat-raised-button color="primary">{{'GENERIC.BUTTON.SUBMIT' | translate}}</button>
                        </div>
                    </div>
                    <mat-label fxShow.xs="true" fxFlexOrder="2" fxShow="false">or</mat-label>
                    <div fxFlex=20 fxFlexOffset.xs=10 fxFlexOffset.gt-xs=20 fxLayout="column"
                        fxLayoutAlign="center center" fxFlexOrder="1" style="width:200px;height:200px"
                        fxLayoutGap="10px">
                        <mat-label>Scan your QR Code</mat-label>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-drawer-content>
</mat-drawer-container>