<div class="mat-typography" fxLayout="column">
    <form [formGroup]="basicForm" fxLayout="column" fxLayoutGap="10px">
        <!-- Button view -->
        <app-template-pageaction-view-cmp *ngIf="buttonData" fxFlexOrder="1" fxFlex="1 1 100%" [item]="buttonData">
        </app-template-pageaction-view-cmp>

        <!-- Form view  -->
        <div [fxFlexOrder]="layout?.flexOrder?.order" [fxFlex]="layout.name === 'column' ? '0 0 0%' : '1 1 100%'"
            [fxLayout]="layout.name" fxLayoutAlign="start start" [fxLayoutGap]="layout.flexGap" fxFlexFill>
            <div *ngFor="let basicField of basicFields" fxLayout="row"
                [fxFlex]="(layout.name === 'column') || (basicField?.controlType === 'label') ? '1 1 100%' : layout.flex"
                fxFlexFill>
                <app-formfield-render-cmp *ngIf="media.isActive(basicField?.isActiveAt?.breakPoint)" fxFlex="1 1 100%"
                    [basicField]="basicField" [pathSegments]="basicField.pathSegments" [basicForm]="basicForm"
                    [template]="template">
                </app-formfield-render-cmp>
            </div>
        </div>
        <mat-hint *ngIf="!item"><i>*{{'TEMPLATE.FORM.SAME-EMPTY-NAME-NOT-SHOWN' | translate}}</i>
        </mat-hint>
    </form>
</div>