<app-content-header [hideBreadcrumb]="false" [hasBgImage]="true" [class]="'pb-2'"></app-content-header>
<mat-progress-bar *ngIf="isLoading" color="primary" mode="indeterminate"></mat-progress-bar>
<div class="page-content">
    <mat-card>
        <div fxLayout="row" fxLayoutAlign="start start">
            <mat-card-title *ngIf="isCreatePage === '1'; else editPage">
                {{'CONFIG.USER-MANAGEMENT.MENU.CREATE'| translate}}</mat-card-title>
            <ng-template #editPage>
                <mat-card-title>Edit</mat-card-title>
            </ng-template>
            <span fxFlex="1 1 100%"></span>
            <div fxLayout="row" fxLayoutGap="5px">
                <button mat-raised-button routerLink="./../home">{{'GENERIC.BUTTON.BACK' | translate}}</button>
                <button mat-raised-button color="primary" *ngIf="isCreatePage === '1'"
                    (click)="submit()">{{'GENERIC.BUTTON.SAVE' | translate}}</button>
                <button mat-raised-button color="primary" *ngIf="isCreatePage === '0'"
                    (click)="update()">{{'GENERIC.BUTTON.UPDATE' | translate}}</button>
            </div>
        </div>
        <div fxLayout="column">
            <mat-form-field fxFlex="100">
                <input matInput placeholder="{{'CONFIG.USER-MANAGEMENT.MENU.NAME'| translate}}"
                    [(ngModel)]="menuItem.display_name" name="appName" #appName="ngModel" required>
                <mat-error *ngIf="appName?.touched && !appName?.valid" class="full-width">
                    <div *ngIf="appName?.errors?.required">
                        {{'TEMPLATE.VALIDATION.TYPE-REQUIRED' | translate}}</div>
                </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="100">
                <mat-label>Permission Level</mat-label>
                <mat-select [(ngModel)]="menuItem.pemission_level_id" (selectionChange)="updateParents($event)">
                    <mat-option *ngFor="let icon of permissionLevels" [value]=icon.id>
                        {{icon.display_name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div fxFlex="100" fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start center">
                <mat-form-field fxFlex=48>
                    <mat-label>Parent</mat-label>
                    <mat-select [(ngModel)]="menuItem.parent_code" name="color" #color="ngModel">
                        <mat-option [value]="null">None</mat-option>
                        <mat-option *ngFor="let pMenu of parentItems " [value]="pMenu.code">
                            {{pMenu.display_name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="48">
                    <mat-label>Permission Code</mat-label>
                    <span matPrefix *ngIf="menuItem.parent_code">
                        {{menuItem.parent_code}} - &nbsp;</span>
                    <input matInput placeholder=" Permission Code" [(ngModel)]="menuItem.strip_code" name="pCode"
                        #pCode="ngModel" required>
                    <mat-error *ngIf="pCode?.touched && !pCode?.valid">
                        <div *ngIf="pCode?.errors?.required">
                            Permission code is required
                        </div>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </mat-card>
</div>