.footer {
    position:fixed;
    bottom:0px; 
  }
  .non-footer {
      position: relative;
  }

  .form-overflow {
    overflow: auto;
}

.toDo-list {
    border: solid 1px #ccc;
    border-radius: 4px;
    overflow: auto;

}

.todo-card {
    height: 100%;
}

.done-box {
    cursor: move;
}

.toDo-box {
    padding: 15px 10px;
    border-bottom: solid 1px #ccc;
    cursor: move;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.form-group .form-control {
    font-size: inherit;
    background-color: inherit;
}

.mat-form-field {
    width: 100%;
}

.delete {
    color: #ec4d4d !important;
}

.emptybox{
    border-style: dashed;
    color: #878787;
    font-size: 20px;
}
/////////////
.img-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  

  .exam-user-details {
    font-size: 1em !important;
    font-weight: 400;
  }

  .user-exam-prop {
    width: 11em;
    font-size: 1em;
    font-weight: 300;
  }