<app-content-header [icon]="'supervisor_account'" [title]="'Landing page Configuration'"
  [desc]="'View information about the Pre Authentication, search, add, edit any Configuration.'"
  [hideBreadcrumb]="false" [hasBgImage]="true" [class]="'pb-5'"></app-content-header>
<mat-progress-bar *ngIf="isLoading" color="primary" mode="indeterminate"></mat-progress-bar>
<div class="page-content">
  <mat-card>
    <div fxLayout="row" fxLayoutAlign="space-between start">
      <mat-card-title>{{'GENERIC.TITLE.HOME' | translate}}</mat-card-title>
      <div fxLayout="row" fxLayoutAlign="end center" fxFlex.xs="1 0 100%" fxLayoutGap="0.5em"
        style="padding: 0px 10px;">
        <div><button mat-raised-button color="primary" routerLink="./new">{{'GENERIC.BUTTON.NEW' | translate}}</button>
        </div>
      </div>
    </div>
    <div class="mat-typography">
      <mat-form-field style="width: 100%">
        <input matInput (keyup)="applyFilter($event)" placeholder="{{'GRID.FILTER' | translate}}">
      </mat-form-field>

      <table mat-table [dataSource]="dataSource" matSort style="width: 100%;"
        [ngClass]="{'add-top-padding': !showDefaultFilter}">
        <ng-container *ngFor="let header of headers">
          <ng-container matColumnDef="{{header.columnName}}">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{header.display_name | translate | uppercase}} </th>
            <td mat-cell *matCellDef="let element">
              <p>{{element[header.columnName] | translate}}</p>
            </td>
          </ng-container>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row style="cursor:pointer;" *matRowDef="let row; columns: displayedColumns;"
          (click)="selectedRowItem(row)">
        </tr>
      </table>
      <div *ngIf="noData | async" class="no-records" fxLayoutAlign="center center">
        <mat-label>{{'GENERIC.TITLE.NO-RECORDS-FOUND' | translate}}</mat-label>
      </div>
      <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]">
      </mat-paginator>
    </div>
  </mat-card>
</div>