<div fxLayout="column">
    <mat-progress-bar *ngIf="isLoading" color="primary" mode="indeterminate"></mat-progress-bar>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start start" class="mb-3">
        <h3 fxFlex="1 1 100"> Config</h3>
        <span fxFlex="1 1 auto"></span>
        <div fxLayout="row" fxLayoutGap="5px">
            <button mat-stroked-button (click)="onNoClick()">{{'GENERIC.BUTTON.NO-THANKS'| translate}}</button>
            <button mat-stroked-button (click)="onYesClick()" color="primary"
                cdkFocusInitial>{{'GENERIC.BUTTON.OK'| translate}}</button>
        </div>
    </div>
    <div fxFlex="100%" fxLayoutGap="10px" fxLayout="row wrap">
        <mat-form-field fxFlex=48 appearance="outline">
            <mat-label>Enter End Point</mat-label>
            <input matInput [(ngModel)]="cardConfig.endPoint" name="endPoint" #endPoint="ngModel"
                placeholder="Enter End Point">
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex=48>
            <mat-label>{{'TEMPLATE.CONFIGURATION.SELECT-LAYOUT' | translate}}</mat-label>
            <mat-select [(ngModel)]="cardConfig.layout" name="layoutName" #layoutName="ngModel" required
                [compareWith]="compareFn">
                <mat-option *ngFor="let layout of layouts" [value]="layout">
                    {{layout.dispalyName}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="layoutName.touched && !layoutName.valid" class="full-width">
                <div *ngIf="layoutName?.errors?.required">
                    {{'TEMPLATE.CONFIGURATION.VALIDATION-LAYOUT-REQUIRED' | translate}}</div>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex=48 *ngIf="cardConfig?.layout?.id === 0">
            <mat-label>{{'TEMPLATE.CONFIGURATION.SELECT-NO-OF-COLUMNS' | translate}}</mat-label>
            <mat-select [(ngModel)]="cardConfig.layoutColumn" name="layoutColumn" #layoutColumn="ngModel" required
                [compareWith]="compareFn">
                <mat-option *ngFor="let lytClmn of layoutColumns" [value]="lytClmn">
                    {{lytClmn.name}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="layoutColumn.touched && !layoutColumn.valid" class="full-width">
                <div *ngIf="layoutColumn?.errors?.required">
                    {{'TEMPLATE.CONFIGURATION.VALIDATION.NO-OF-COLUMNS-REQUIRED' | translate}}</div>
            </mat-error>
        </mat-form-field>
    </div>
</div>