<div fxLayout="column">
    <app-content-header [hideBreadcrumb]="false" [hasBgImage]="true" [class]="'pb-2'"></app-content-header>
    <mat-progress-bar *ngIf="isLoading" color="primary" mode="indeterminate"></mat-progress-bar>
    <div class="page-content ">
        <mat-card fxLayout="column" fxLayoutAlign="stretch">
            <div fxLayout="row" fxLayoutAlign="space-between start">
                <mat-card-title>{{'CONFIG.USER-MANAGEMENT.ROLE.TITLE.ROLE-CONFIGURATION'| translate}}</mat-card-title>
                <div fxLayout="row " fxLayoutAlign="space-between end" fxLayoutGap="10px">
                    <button mat-raised-button routerLink="./../../">{{'GENERIC.BUTTON.BACK' | translate}}</button>
                    <button mat-raised-button (click)="saveSelectedConfig()"
                        color="primary">{{'GENERIC.BUTTON.SAVE' | translate}}</button>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em" fxFlex>
                <mat-form-field fxFlex="50">
                    <input matInput type="text" placeholder="{{'CONFIG.USER-MANAGEMENT.ROLE.ROLE-NAME'| translate}}"
                        [(ngModel)]="name" name="Name" autocomplete="off" #Name="ngModel" minlength="5" maxlength="50"
                        required>
                    <mat-error *ngIf="Name.touched && Name.invalid" class="full-width">
                        <div *ngIf="Name.errors?.required">{{'CONFIG.USER-MANAGEMENT.ROLE.REQUIRED' | translate}}</div>
                        <div *ngIf="Name.errors?.minlength">{{'CONFIG.USER-MANAGEMENT.ROLE.MIN-LENGTH' | translate}}
                        </div>
                        <div *ngIf="Name.errors?.maxlength">{{'CONFIG.USER-MANAGEMENT.ROLE.MAX-LENGTH' | translate}}
                        </div>
                    </mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput type="text"
                        placeholder="{{'CONFIG.USER-MANAGEMENT.ROLE.ROLE-DESCRIPTION'| translate}}"
                        [(ngModel)]="description">
                </mat-form-field>
            </div>
            <div fxLayout="row" fxFlexAlign="space-between start" fxFlexFill fxLayoutGap="5px">
                <mat-form-field fxFlex="33">
                    <mat-label>{{'GENERIC.TITLE.APPLICATION-TYPE' | translate}}</mat-label>
                    <mat-select [(ngModel)]="selectedApplicationType" name="applicationType" autocomplete="off"
                        #applicationType="ngModel" required>
                        <mat-option *ngFor="let applicationtypeOption of applicationTypes"
                            [value]="applicationtypeOption.id">
                            {{applicationtypeOption.display_name | translate}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="applicationType.touched && applicationType.invalid" class="full-width">
                        <div *ngIf="applicationType.errors?.required">
                            {{'CONFIG.USER-MANAGEMENT.ROLE.APPLICATIONTYPE-REQUIRED' | translate}}</div>
                    </mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="33">
                    <mat-label>{{'GENERIC.TITLE.TENANT' | translate}}</mat-label>
                    <mat-select [(ngModel)]="tenant.id" name="Tenant" autocomplete="off" #Tenant="ngModel" required>
                        <mat-option *ngFor="let tenant of tenants" [value]="tenant.id">
                            {{tenant.display_name | translate}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="Tenant.touched && Tenant.invalid" class="full-width">
                        <div *ngIf="Tenant.errors?.required">
                            {{'CONFIG.USER-MANAGEMENT.ROLE.TENANT-REQUIRED' | translate}}</div>
                    </mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="33">
                    <mat-label>{{'GENERIC.TITLE.USER-TYPE' | translate}}</mat-label>
                    <mat-select [(ngModel)]="userType.id" name="usertype" autocomplete="off" #usertype="ngModel"
                        required>
                        <mat-option *ngFor="let usertype of userTypes" [value]="usertype.id">
                            {{usertype.display_name | translate}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="usertype.touched && usertype.invalid" class="full-width">
                        <div *ngIf="usertype.errors?.required">
                            {{'CONFIG.USER-MANAGEMENT.ROLE.USERTYPE-REQUIRED' | translate}}</div>
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-tab-group fxFlexFill>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <i class="material-icons">apps</i>
                            <mat-label>{{'CONFIG.USER-MANAGEMENT.ROLE.SET-UP'| translate}}</mat-label>
                        </ng-template>

                        <form name="firstForm" #firstForm="ngForm" novalidate>
                            <ng-template matStepLabel>
                                <i class="material-icons">group_work</i>
                                <mat-label> {{'CONFIG.USER-MANAGEMENT.ROLE.AUTHENTICATION'| translate}}</mat-label>
                            </ng-template>
                            <app-template-tree-create-cmp *ngIf="dataloaded" [parentProperty]="parentProp"
                                [childProperty]="childProp" [displayLabel]="displayLabel" [permissions]="menuModel"
                                [isItemSelectable]="isItemSelectable" [hasIcon]="hasMenuIcon"
                                [hasMultipleSelection]="hasMultipleSelection" (selection)="getSelection($event)">
                            </app-template-tree-create-cmp>
                        </form>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <i class="material-icons">apps</i>
                            <mat-label>Module 2... N</mat-label>
                        </ng-template>
                        <app-template-tree-create-cmp *ngIf="dataloaded" [parentProperty]="parentProp"
                            [childProperty]="childProp" [displayLabel]="displayLabel" [permissions]="menuModel"
                            [isItemSelectable]="isItemSelectable" [hasIcon]="hasMenuIcon"
                            [hasMultipleSelection]="hasMultipleSelection" (selection)="getSelection($event)">
                        </app-template-tree-create-cmp>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </mat-card>
    </div>
</div>