.users-wrapper{
    position:relative; 
    min-height: 150px;
}
.user-toolbar{
    background: transparent !important;
    height: 40px;
    margin-top: -40px;
}
.user-details{
    position: relative;
   .user-name{
        font-weight: 400;
        text-transform: uppercase;
    }    
}
.user-content{
    .more-btn{
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
    }
    .user-img{
        position: relative;
        text-align: center;
        .social-icons a{
            color: #fff;  
        }
        img{
            border-radius: 50%;
            width: 80px;
            height: 80px;
            &.blocked{
                opacity: 0.5;
            }
        }
        .mat-icon.block-icon{
            position: absolute;
            top: -8px;
            left: -8px;            
            font-size: 96px;
            height: 96px;
            width: 96px;            
        }
    }
    .info-list{
        position: relative;
        span{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-left: 8px;
        }
        p{
            padding: 2px 0;
            &:first-child{
                padding-top: 8px;
            }
            &:last-child{
                padding-bottom: 8px;
            }
        } 
        &.blocked{
            opacity: 0.5;
        }
    }    
}
.user-search{
    width: 0;
    overflow: hidden;
    transition: 0.3s;
    font-size: 14px;
    .mat-form-field{
        width: 100% !important;
        text-align: center !important;
        height: 36px;        
    }
    .mat-form-field-infix{
        padding: 5px;
        width: 100px;
    }
    .mat-input-element{
        text-align: center;
    }
    &.show{
        width: 100%;
        overflow: visible;
    }
}
.user-spinner{
    position: absolute;
    top:0; right: 0; bottom: 0; left:0;
}

// .material-icons {
//     vertical-align: middle;
//     padding-right: 2px;
//     font-size: 18px;
// }


.card-wh {
    width: 98%;
    min-height: 93vh;
    // color: #ffffff;
}

::ng-deep .mat-tab-label .mat-tab-label-content {
    font-size: 1.2em;
    font-weight: 600;
}
.margin-10px{
    margin: 10px;
}