<div class="page-content">
  <div fxLayout="column" fxLayout.lt-md="column" *ngIf="registerType === 'face'" fxLayoutGap="10px">
    <div fxLayout="row" fxLayout.xs="column" fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10px">
      <div fxFlex=60>
        webcam
      </div>
    </div>
  </div>

  <div *ngIf="registerType === 'fingerPrint'" fxLayout="row" fxLayoutAlign="center center">
    <p>scanning.......</p>
  </div>
  <div *ngIf="registerType === 'phone'" fxLayout="row" fxLayoutAlign="center center" fxLayout.lt-md="column"
    fxLayoutGap="10px">
    <mat-form-field fxFlex=80>
      <input matInput placeholder="Enter OTP">
    </mat-form-field>
    <button mat-raised-button>Submit</button>
  </div>
  <div *ngIf="registerType === 'qrCode'">
qr-code
  </div>
  <div *ngIf="registerType === 'gmail'">
    <p>gmail</p>
  </div>
  <div *ngIf="registerType === 'fb'">
    <p>fb</p>
  </div>
  <div *ngIf="registerType === 'github'">
    <p>github</p>
  </div>
</div>