<div fxLayout="column">
    <app-content-header [hideBreadcrumb]="false" [hasBgImage]="true" [class]="'pb-2'"></app-content-header>
    <mat-progress-bar *ngIf="isLoading" color="primary" mode="indeterminate"></mat-progress-bar>
    <div class="page-content">
        <mat-card fxLayout="column " fxLayoutGap="1em" fxLayoutAlign="stretch">
            <div fxLayout="row wrap" fxLayoutAlign="space-between start">
                <mat-card-title>{{'GENERIC.TITLE.ROLE-CONFIGURATION' | translate}}</mat-card-title>
                <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="10px">
                    <button mat-raised-button routerLink="./../../..">{{'GENERIC.BUTTON.BACK' | translate}}</button>
                    <button mat-raised-button (click)="updateSelectedConfig()" *ngIf="isEditable"
                        color="primary">{{'GENERIC.BUTTON.SAVE' | translate}}</button>
                    <button mat-raised-button (click)="isEditable = !isEditable" color="primary"
                        *ngIf="!isEditable">{{'GENERIC.BUTTON.MODIFY' | translate}}</button>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="1em" fxFlex>
                <mat-form-field fxFlex="50">
                    <input matInput type="text" placeholder="{{'CONFIG.USER-MANAGEMENT.ROLE.ROLE-NAME'| translate}}"
                        [(ngModel)]="selectedItem.name" [disabled]="!isEditable" name="Name" autocomplete="off"
                        #Name="ngModel" minlength="5" maxlength="50" required>
                    <mat-error *ngIf="Name.touched && Name.invalid" class="full-width">
                        <div *ngIf="Name.errors?.required">{{'CONFIG.USER-MANAGEMENT.ROLE.REQUIRED' | translate}}</div>
                        <div *ngIf="Name.errors?.minlength">{{'CONFIG.USER-MANAGEMENT.ROLE.MIN-LENGTH' | translate}}
                        </div>
                        <div *ngIf="Name.errors?.maxlength">{{'CONFIG.USER-MANAGEMENT.ROLE.MAX-LENGTH' | translate}}
                        </div>
                    </mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput type="text"
                        placeholder="{{'CONFIG.USER-MANAGEMENT.ROLE.ROLE-DESCRIPTION'| translate}}"
                        [(ngModel)]="selectedItem.description" [disabled]="!isEditable">
                </mat-form-field>
            </div>
            <div fxLayout="row" fxFlexAlign="space-between start" fxFlexFill fxLayoutGap="1em" *ngIf="selectedItem">
                <mat-form-field fxFlex="33">
                    <mat-label>{{'GENERIC.TITLE.APPLICATION-TYPE' | translate}}</mat-label>
                    <mat-select [(ngModel)]="selectedItem.applicationType.id" [disabled]="true">
                        <mat-option *ngFor="let applicationtype of applicationTypes" [value]="applicationtype.id">
                            {{applicationtype.display_name | translate}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="33">
                    <mat-label>{{'GENERIC.TITLE.TENANT' | translate}}</mat-label>
                    <mat-select [(ngModel)]="selectedItem.tenant.id" [disabled]="true">
                        <mat-option *ngFor="let tenant of tenants" [value]="tenant.id">
                            {{tenant.display_name | translate}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="33">
                    <mat-label>{{'GENERIC.TITLE.USER-TYPE' | translate}}</mat-label>
                    <mat-select [(ngModel)]="selectedItem.userType.id" [disabled]="true">
                        <mat-option *ngFor="let usertype of userTypes" [value]="usertype.id">
                            {{usertype.display_name | translate}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <mat-tab-group fxFlexFill>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <i class="material-icons">apps</i>
                            <mat-label>{{'CONFIG.USER-MANAGEMENT.ROLE.SET-UP'| translate}}</mat-label>
                        </ng-template>
                        <form name="firstForm" #firstForm="ngForm" novalidate>
                            <ng-template matStepLabel>
                                <i class="material-icons">group_work</i>
                                <mat-label> {{'CONFIG.USER-MANAGEMENT.ROLE.AUTHENTICATION'| translate}}</mat-label>
                            </ng-template>


                            <app-template-tree-create-cmp *ngIf="dataLoaded && selecetdList"
                                [parentProperty]="parentProp" [childProperty]="childProp" [displayLabel]="displayLabel"
                                [permissions]="menuModel" [isItemSelectable]="isItemSelectable" [hasIcon]="hasMenuIcon"
                                [treeSelection]="selecetdList" [isDisabled]="!isEditable"
                                (selection)="getSelection($event)">
                            </app-template-tree-create-cmp>

                        </form>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <i class="material-icons">apps</i>
                            <mat-label>
                                <mat-label>Module 2... N</mat-label>
                            </mat-label>
                        </ng-template>

                        <app-template-tree-create-cmp *ngIf="dataLoaded && selecetdList" [parentProperty]="parentProp"
                            [childProperty]="childProp" [displayLabel]="displayLabel" [permissions]="menuModel"
                            [isItemSelectable]="isItemSelectable" [hasIcon]="hasMenuIcon" [treeSelection]="selecetdList"
                            [isDisabled]="!isEditable" (selection)="getSelection($event)">
                        </app-template-tree-create-cmp>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </mat-card>
    </div>

</div>