<div fxLayout="column" fxLayoutAlign="start center">
    <div fxLayout="row" fxLayoutAlign="space-between start" fxFlexFill>
        <h1 mat-dialog-title>Edit Textarea</h1>
        <div mat-dialog-actions fxLayoutAlign="end start">
            <button mat-stroked-button (click)="onNoClick()">{{'GENERIC.BUTTON.CANCEL'| translate}}</button>
            <button mat-stroked-button color="primary" [disabled]="!f.form.valid" (click)="saveFormField()"
                cdkFocusInitial>{{'GENERIC.BUTTON.OK'| translate}}</button>
        </div>
    </div>
    <mat-tab-group>
        <form name="form" #f="ngForm">
            <div fxLayout="column" fxLayoutGap="15px">
                <mat-tab label="Basic Details">
                    <div fxFlex="1 1 100%" fxLayout="row wrap" fxLayoutGap="10px " class="TabWidth">
                        <mat-form-field appearance="outline" fxFlex=48 class="mt-2">
                            <mat-label>Placeholder</mat-label>
                            <input matInput [(ngModel)]="item.label" name="PlaceHolder" placeholder="Placeholder">
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex=48 class="mt-2">
                            <mat-label>Model Name</mat-label>
                            <input matInput [(ngModel)]="item.modelName" name="modName" #modName="ngModel"
                                pattern="^[a-zA-Z0-9]+(?:.[a-zA-Z0-9]+)*$" minlength="3" maxlength="50"
                                placeholder="Model name" required>
                            <mat-hint><i>Model cannot be empty and must be unique acrosss a form group</i></mat-hint>
                            <mat-error *ngIf="modName.invalid && modName.invalid">
                                <div *ngIf="modName?.errors?.required">
                                    {{'TEMPLATE.FORM.VALIDATION.MODEL-REQUIRED'| translate}}
                                </div>
                                <div *ngIf="modName?.errors?.minlength">
                                    {{'TEMPLATE.FORM.VALIDATION.MUST-3CHARACTERS-LENGTH'| translate}}</div>
                                <div *ngIf="modName?.errors?.maxlength">
                                    {{'TEMPLATE.FORM.VALIDATION.EXCEED-50CHARACTERS-LENGTH'| translate}}</div>
                                <div *ngIf="modName?.errors?.pattern">
                                    {{'TEMPLATE.FORM.VALIDATION.ALLOW-SPACE&SPECIAL-CHARACTERS'| translate}}</div>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex="48">
                            <mat-label>Data Type</mat-label>
                            <mat-select [(ngModel)]="item.dataType" name="daTypeName" #daTypeName="ngModel"
                                [compareWith]="compareFn" required>
                                <mat-option *ngFor="let type of dataTypes" [value]="type">
                                    {{type.display_name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex=48>
                            <mat-label>Default value</mat-label>
                            <input matInput [(ngModel)]="item.value" name="DefaultValue" placeholder="Default value">
                        </mat-form-field>
                        <div fxFlex=48 fxLayoutAlign="start center">
                            <mat-slide-toggle name="showHidePswrd" #showHidePswrd="ngModel"
                                [(ngModel)]="item.showHideAction" color="primary"
                                [disabled]="item.dataType.id === 2 ||item.dataType.id === 1">
                                <mat-label>Show/Hide Password action</mat-label>
                            </mat-slide-toggle>
                        </div>
                        <div fxFlex="1 1 100%" fxLayout="row" fxLayoutGap="10px" class="mt-2">
                            <mat-form-field appearance="outline" fxFlex="48">
                                <mat-label>{{'Auto Generated'| translate}}</mat-label>
                                <mat-select [(ngModel)]="item.securityAttrributes.displayType" name="aTypeName"
                                    #aTypeName="ngModel" [compareWith]="compareFn">
                                    <mat-option *ngFor="let type of autogenerated" [value]="type">
                                        {{type.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Validations">
                    <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start center" class="TabWidth">
                        <div fxFlex="1 1 100%" fxLayout="row" fxLayoutGap="10px">
                            <mat-form-field appearance="outline" fxFlex="48" class="mt-2">
                                <mat-label>Mandatory</mat-label>
                                <mat-select [(ngModel)]="item.required" name="mandatoryField" required>
                                    <mat-option [value]="true">
                                        Yes
                                    </mat-option>
                                    <mat-option [value]="false">
                                        No
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline" fxFlex=48 class="mt-2">
                                <mat-label>
                                    Mandatory Error Message
                                </mat-label>
                                <input matInput [(ngModel)]="item.errorMessages.required" name="ReQuireed"
                                    [disabled]="item.required === false" placeholder=" Required error message">
                            </mat-form-field>
                        </div>
                        <div fxFlex="1 1 100%" fxLayout="row" fxLayoutGap="10px">
                            <mat-form-field appearance="outline" fxFlex=48
                                *ngIf="item?.dataType?.id === 1 || item?.dataType?.id === 3">
                                <mat-label>Min Length</mat-label>
                                <input matInput type="number" [(ngModel)]="item.minlength" name="MinLength"
                                    placeholder="Minlength">
                            </mat-form-field>
                            <mat-form-field appearance="outline" fxFlex=48 *ngIf="item?.dataType?.id === 2">
                                <mat-label>Min Value</mat-label>
                                <input matInput type="number" [(ngModel)]="item.minlength" name="MinValue"
                                    placeholder="Minimum Value">
                            </mat-form-field>
                            <mat-form-field appearance="outline" fxFlex=48>
                                <mat-label *ngIf="item?.dataType?.id === 2 ; else stringOrPswrd">
                                    Min Value error message</mat-label>
                                <ng-template #stringOrPswrd>
                                    <mat-label>
                                        Minlength error message</mat-label>
                                </ng-template>
                                <input matInput [(ngModel)]="item.errorMessages.minlength" name="MinLengthError"
                                    [disabled]="!item.minlength" placeholder=" Minlength error message">
                            </mat-form-field>
                        </div>
                        <div fxFlex="1 1 100%" fxLayout="row" fxLayoutGap="10px">
                            <mat-form-field appearance="outline" fxFlex=48
                                *ngIf="item?.dataType?.id === 1 || item?.dataType?.id === 3">
                                <mat-label>Maxlength</mat-label>
                                <input matInput type="number" [(ngModel)]="item.maxlength" name="MaxLength"
                                    placeholder=" Maxlength">
                            </mat-form-field>
                            <mat-form-field appearance="outline" fxFlex=48 *ngIf="item?.dataType?.id === 2">
                                <mat-label>Max Value</mat-label>
                                <input matInput type="number" [(ngModel)]="item.maxlength" name="MaxValue"
                                    placeholder=" Maximum Value">
                            </mat-form-field>
                            <mat-form-field appearance="outline" fxFlex=48>
                                <mat-label *ngIf="item?.dataType?.id === 2 ">
                                    Max Value error message
                                </mat-label>
                                <mat-label *ngIf="item?.dataType?.id === 1">
                                    Maxlength error message
                                </mat-label>
                                <input matInput [(ngModel)]="item.errorMessages.maxlength" name="MaxLengthError"
                                    [disabled]="!item.maxlength" placeholder=" Maxlength error message">
                            </mat-form-field>
                        </div>
                        <div fxFlex="1 1 100%" fxLayout="row" fxLayoutGap="10px">
                            <mat-form-field appearance="outline" fxFlex=48>
                                <mat-label>Regex Pattern</mat-label>
                                <input matInput [(ngModel)]="item.pattern" name="RegexPattern"
                                    placeholder=" Regex Pattern">
                            </mat-form-field>
                            <mat-form-field appearance="outline" fxFlex=48>
                                <mat-label>Regex error message
                                </mat-label>
                                <input matInput [(ngModel)]="item.errorMessages.invalid" name="RegexError"
                                    [disabled]="!item.pattern" placeholder=" Regex error message">
                            </mat-form-field>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Security">
                    <div fxFlex="1 1 100%" fxLayout="row wrap" fxLayoutGap="10px" class="TabWidth">
                        <div fxFlex="100" fxLayout="row" fxLayoutGap="10px">
                            <mat-form-field appearance="outline" fxFlex="48" class="mt-2">
                                <mat-label>{{'TEMPLATE.FORM.VISIBILITY'| translate}}</mat-label>
                                <mat-select [(ngModel)]="item.securityAttrributes.visibility" name="vTypeName"
                                    #vTypeName="ngModel" (selectionChange)="onVisibiltyChange($event)"
                                    [compareWith]="compareFn">
                                    <mat-option *ngFor="let type of visibility" [value]="type">
                                        {{type.display_name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline" fxFlex=48 class="mt-2">
                                <mat-label>Permission code</mat-label>
                                <input matInput [(ngModel)]="item.permission" name="permission"
                                    [disabled]="item.securityAttrributes.visibility.id===1 || item.securityAttrributes.visibility.id===0"
                                    #permission="ngModel" placeholder=" Permission code" required>
                            </mat-form-field>
                        </div>
                        <div fxFlex="100" fxLayout="row">
                            <mat-form-field appearance="outline" fxFlex="48">
                                <mat-label>{{'TEMPLATE.FORM.DISPLAY-TYPE'| translate}}</mat-label>
                                <mat-select [(ngModel)]="item.securityAttrributes.displayType" name="dTypeName"
                                    #dTypeName="ngModel" [compareWith]="compareFn">
                                    <mat-option *ngFor="let type of displayTypes" [value]="type">
                                        {{type.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxFlex="48" fxLayout="column" fxLayoutGap="10px">
                            <mat-slide-toggle fxFlex="48" appearance="outline"
                                [(ngModel)]="item.securityAttrributes.allowOverride" name="allowOverride"
                                color="primary">
                                {{'TEMPLATE.FORM.ALLOW-OVERRIDE'| translate}}
                            </mat-slide-toggle>

                            <mat-slide-toggle appearance="outline" fxFlex=48
                                [(ngModel)]="item.securityAttrributes.encryptData" name="encryptData" color="primary">
                                {{'TEMPLATE.FORM.ENCRYPT-DATA'| translate}}
                            </mat-slide-toggle>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Responsive">
                    <div fxFlex="1 1 100%" fxLayout="row" fxLayoutGap="10px" class="TabWidth">
                        <div fxFlex="1 1 100%" fxLayout="row" fxLayoutGap="10px">
                            <mat-form-field appearance="outline" fxFlex=100 class="mt-2">
                                <mat-label>Choose Breakpoint to Show Field</mat-label>
                                <mat-select [(ngModel)]="item.isActiveAt" name="showItemAt" #showItemAt="ngModel"
                                    [compareWith]="compareFn" required>
                                    <mat-option *ngFor="let bPoint of responsiveBreakPoints" [value]="bPoint">
                                        {{bPoint.breakPoint}} - {{bPoint.mediaQuery}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Others">
                    <div fxFlex="1 1 100%" fxLayout="row wrap" fxLayoutGap="10px" class="TabWidth">
                        <mat-label fxFlex=100>Derived Details</mat-label>
                        <div fxFlex="1 1 100%" fxLayout="row" fxLayoutGap="10px" class="mt-2">
                            <mat-form-field appearance="outline" fxFlex="48">
                                <mat-label>Derived</mat-label>
                                <mat-select [(ngModel)]="item.isDerived" name="DerivedField"
                                    [disabled]="fieldModelNames.length === 0"
                                    (selectionChange)="onDerviedFromChange($event)" >
                                    <mat-option [value]="true">
                                        Yes
                                    </mat-option>
                                    <mat-option [value]="false">
                                        No
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field appearance="outline" fxFlex=48>
                                <mat-label> Parent Field</mat-label>
                                <mat-select [(ngModel)]="item.derivedFrom" name="paTypeName" #paTypeName="ngModel"
                                    [compareWith]="compareFn" [disabled]="!item.isDerived">
                                    <mat-option *ngFor="let type of fieldModelNames" [value]="type">
                                        {{type.modelName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxFlex="1 1 100%" fxLayout="row" fxLayoutGap="10px">
                            <mat-form-field appearance="outline" fxFlex=48>
                                <mat-label>Visibity Condition</mat-label>
                                <input matInput [(ngModel)]="item.visibilitycond" name="VisibilityCondition"
                                    placeholder=" Visisbility Condition'" [disabled]="!item.isDerived">
                            </mat-form-field>
                            <mat-form-field appearance="outline" fxFlex=48>
                                <mat-label>Value Condition</mat-label>
                                <input matInput [(ngModel)]="item.valuecond" name="ValueCondition"
                                    placeholder=" Value Condition" [disabled]="!item.isDerived">
                            </mat-form-field>
                        </div>
                        <div fxFlex="1 1 100%" fxLayout="row wrap" fxLayoutGap="10px">
                            <mat-label class="mt-1" fxFlex=100>Provision</mat-label>
                            <mat-form-field appearance="outline" fxFlex=48>
                                <mat-label>Connector(Authe,Autho,APP)
                                </mat-label>
                                <input matInput [(ngModel)]="item.conec" [ngModelOptions]="{standalone: true}"
                                    placeholder=" Connector(Authe,Autho,APP)">
                            </mat-form-field>
                            <mat-form-field appearance="outline" fxFlex=48>
                                <mat-label>Connector Attribute Name
                                </mat-label>
                                <input matInput [(ngModel)]="item.conec" [ngModelOptions]="{standalone: true}"
                                    placeholder=" Connector Attribute Name">
                            </mat-form-field>
                            <mat-label class="mt-1" fxFlex=100>Extraction</mat-label>
                            <mat-form-field appearance="outline" fxFlex=48>
                                <mat-label>Authorization Server</mat-label>
                                <input matInput [(ngModel)]="item.conec" [ngModelOptions]="{standalone: true}"
                                    placeholder=" Authorization Server">
                            </mat-form-field>
                            <mat-form-field appearance="outline" fxFlex=48>
                                <mat-label>
                                    Authorized parameter/attribute
                                </mat-label>
                                <input matInput [(ngModel)]="item.conec" [ngModelOptions]="{standalone: true}"
                                    placeholder=" Authorized parameter/attribute">
                            </mat-form-field>
                        </div>
                    </div>
                </mat-tab>
            </div>
        </form>
    </mat-tab-group>
</div>