<div [fxFlex]="listConfig?.layout?.name === 'column' ? '0 0 0%' : '1 1 100%'" [fxLayout]="listConfig?.layout?.name"
    fxLayoutAlign="start start" [fxLayoutGap]="listConfig?.layoutColumn?.flexGap" fxFlexFill>
    <div *ngFor="let item of listElements"
        [fxFlex]="(listConfig?.layout?.name === 'column')? '1 1 100%' : listConfig?.layoutColumn?.flex">
        <app-template-card-view-cmp [item]="item"></app-template-card-view-cmp>
    </div>
</div>