<div fxLayout="column" class="page-content" fxLayoutAlign="start center" fxLayoutGap="10px">
    <div fxFlexFill [fxLayout]="butnTemplate?.layout?.name" [fxLayoutAlign]="butnTemplate?.layout?.alignment">
        <div *ngFor="let item of butnTemplate?.attributes" style="padding: 3px;">
            <button *ngIf="item.id === 1" mat-button [color]="item.color" [type]="item.type.name"
                [disabled]="!formStatus" (click)="this[item.type.name](item)">{{item.label}}</button>
            <button *ngIf="item.id === 2" mat-raised-button [color]="item.color" [type]="item.type.name"
                (click)="this[item.type.name](item)">{{item.label}}</button>
            <button *ngIf="item.id === 3" mat-stroked-button [color]="item.color" [type]="item.type.name"
                (click)="this[item.type.name](item)">{{item.label}}</button>
            <button *ngIf="item.id === 4" mat-flat-button [color]="item.color" [type]="item.type.name"
                (click)="this[item.type.name](item)">{{item.label}}</button>
        </div>
    </div>
</div>