<mat-progress-bar *ngIf="isLoading" color="primary" mode="indeterminate"></mat-progress-bar>
<div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="stretch" fxLayoutGap="10px" fxFlexFill>
    <mat-card *ngIf="!showView" fxFlex="30" class="mat-typography todo-card card-background">
        <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="tabTodoItems" [cdkDropListConnectedTo]="[doneList]"
            class="toDo-list card-height-100vh" (cdkDropListDropped)="drop($event)" cdkDropListSortingDisabled>
            <div class="toDo-box" *ngFor="let item of tabTodoItems" cdkDrag>{{item.details.name | uppercase}}</div>
        </div>
    </mat-card>
    <mat-card fxFlex="showView ? '100' : '70'" class="form-overflow mat-typography" fxLayout="column">
        <form name="form" #f="ngForm" fxLayout="column" novalidate>
            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start start">
                <h2 *ngIf="!showView" fxFlex="1 1 100%">{{'TEMPLATE.TAB.TITLE'| translate}}</h2>
                <h2 *ngIf="showView && this.config && !this.config.isPageBuilderView" fxFlex="1 1 100%">Preview</h2>
                <span fxFlex="1 1 100%"></span>
                <div *ngIf="!showView" fxLayout="row" fxLayoutGap="5px">
                    <button mat-stroked-button color="primary"
                        (click)="goBack()">{{'GENERIC.BUTTON.CANCEL'| translate}}</button>
                    <button *ngIf="!templateId" mat-stroked-button
                        [disabled]="selectedTabContent.length < 1  || !f.form.valid" color="primary"
                        (click)="submit()">{{'GENERIC.BUTTON.SAVE' | translate}}</button>
                    <button *ngIf="templateId" mat-stroked-button
                        [disabled]="selectedTabContent.length < 1  || !f.form.valid" color="primary"
                        (click)="update()">{{'GENERIC.BUTTON.UPDATE'| translate}}</button>
                        <button *ngIf="templateId" mat-stroked-button color="primary" [disabled]="!(done.length > 0)"
                            (click)="delete()">Delete</button>    
                    <button mat-stroked-button (click)="onViewClick()">{{'GENERIC.BUTTON.VIEW' | translate}}</button>
                    <button mat-stroked-button (click)="resetTabGroup()">{{'GENERIC.BUTTON.RESET' | translate}}</button>
                </div>
                <button *ngIf="showView && this.config && !this.config.isPageBuilderView" mat-stroked-button
                    (click)="showView = !showView">{{'GENERIC.BUTTON.BACK'| translate}}</button>
            </div>

            <div *ngIf="!showView" fxLayout="row wrap" fxFlexFill fxLayoutAlign="space-between start"
                fxLayoutGap="10px">
                <mat-form-field fxFlex="100">
                    <mat-label>{{'TEMPLATE.NAME'| translate}}</mat-label>
                    <input matInput placeholder="{{'GENERIC.TITLE.ENTER-TEMPLATE-NAME'| translate}}" name="tempName"
                        #tempName="ngModel" [(ngModel)]="config.name" required>
                    <mat-error *ngIf="tempName.touched && !tempName.valid" class="full-width">
                        <div *ngIf="tempName?.errors?.required">
                            {{'TEMPLATE.VALIDATION.TYPE-REQUIRED' | translate}}</div>
                    </mat-error>
                </mat-form-field>
            </div>
        </form>
        <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="selectedTabContent"
            [cdkDropListConnectedTo]="[todoList]" class="example-list" (cdkDropListDropped)="drop($event)">
            <div *ngFor="let tb of tabs;let j = index" style="margin-bottom: 25px">
                <mat-tab-group mat-align-tabs="{{tabs[0]?.align?.name}}" [selectedIndex]="selectedTab"
                    (selectedIndexChange)="tabChange($event)" [color]="tb.color.name"
                    [backgroundColor]="tb.backgroundColor.name" [headerPosition]="tb.headerPosition.name" fxFlex="100">
                    <div *ngFor="let mtTab of tb.tab; let t = index;">
                        <mat-tab [disabled]="mtTab.isDisabled">
                            <ng-template mat-tab-label>
                                <mat-icon *ngIf="mtTab.icon" class="example-tab-icon">{{mtTab.icon}}</mat-icon>
                                <mat-label class="mr-3">{{mtTab.label}}</mat-label>
                                <button *ngIf="!showView" mat-icon-button (click)="removeTab(t)" class="delete">
                                    <mat-icon>delete_outline</mat-icon>
                                </button>
                                <button *ngIf="!showView" mat-icon-button (click)="editTab(mtTab,t,true)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </ng-template>

                            <div fxLayoutAlign="center center" fxLayout="column" fxFlexFill
                                *ngIf="selectedTabContent.length === 0" class="emptybox icons-color">
                                <mat-label>
                                    {{'TEMPLATE.TAB.DRAG&DROP-TAB-CONTENT' | translate}} </mat-label>
                            </div>
                            <div *ngFor="let tabAttr of selectedTabContent; let i = index">
                                <mat-label *ngIf="!showView">{{tabAttr?.details?.name}}
                                    <button mat-button (click)="removeTabItem(i)" class="delete" matTooltip="delete">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </mat-label>
                                <div>
                                    <app-template-form-view-cmp (multipleForms)="getMultipleFormValue($event)"
                                        (formValue)="getFormValue($event)" (isFormInvalid)="getFormValid($event)"
                                        style="padding: 0px 5px;" fxFlex="1 1 100%" [item]="tabAttr"
                                        [multipleForm]="tabFormGroup?.controls" [formIndex]="i"
                                        *ngIf="tabAttr?.details?.type?.id === 1">
                                    </app-template-form-view-cmp>
                                    <app-template-card-view-cmp fxFlex="1 1 100%" [item]="tabAttr"
                                        *ngIf="tabAttr?.details?.type?.id === 2">
                                    </app-template-card-view-cmp>
                                    <app-template-pageaction-view-cmp fxFlex="1 1 100%" [item]="tabAttr"
                                        *ngIf="tabAttr?.details?.type?.id === 5">
                                    </app-template-pageaction-view-cmp>
                                    <app-template-stepper-create-cmp fxFlex="1 1 100%"
                                        *ngIf="tabAttr?.details?.type?.id === 7" [config]="tabAttr">
                                    </app-template-stepper-create-cmp>
                                    <app-template-tree-create-cmp fxFlex="1 1 100%" [treeSelection]="selectedNodeIds"
                                        (selection)="getSelection($event)" *ngIf="tabAttr?.details?.type?.id === 10"
                                        [config]="tabAttr">
                                    </app-template-tree-create-cmp>
                                </div>
                            </div>
                        </mat-tab>
                    </div>
                </mat-tab-group>
                <div *ngIf="!showView">
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="addTab()">
                            <mat-icon>add_circle_outline</mat-icon>
                            <span>{{'TEMPLATE.TAB.ADDTAB' | translate}}</span>
                        </button>
                        <button mat-menu-item (click)="editTab(tb,j,false)">
                            <mat-icon>edit</mat-icon>
                            <span>{{'GENERIC.BUTTON.EDIT'| translate}}</span>
                        </button>
                    </mat-menu>
                </div>
                <div style="margin-top: 1em"></div>
                <mat-divider *ngIf=" this.config && !this.config.isPageBuilderView"></mat-divider>
            </div>
        </div>
    </mat-card>
</div>