.mat-button {
    min-width: 0px !important;
    padding: 0px !important;
}

::ng-deep .mat-form-field-wrapper {
    width: 100% !important;
}

.stroked-button {
    margin-top: 3px;
    height: 53px;
}

::ng-deep .mat-form-field-appearance-standard .mat-form-field-flex {
    padding-top: 0px !important;
}

.card-drop {
    // width: 200px;
    // height: 200px;
    margin: 0px 10px 10px 10px;
    overflow: auto;
}

.emptybox {
    border-style: dashed;
    // color: #878787;
    font-size: 20px;
    height: 100vh !important;
}


.card-height-100vh {
    height: 100vh !important;
    overflow: auto;
}
