<mat-drawer-container class="landing-container h-100">
    <mat-drawer-content>
        <mat-toolbar class="landing-toolbar mat-elevation-z4">
            <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <a routerLink="/" fxLayout="row" fxLayoutAlign="start center">
                        <img src="assets/img/ae-logo.svg" alt="logo">
                    </a>
                </div>
            </div>
        </mat-toolbar>
        <div class="pb-3"></div>
        <div class="page-content mat-typography">
            <mat-progress-bar *ngIf="isLoading" color="primary" mode="indeterminate"></mat-progress-bar>
            <mat-card>
                <div fxLayout="row wrap" fxLayout.sm="row" fxLayoutAlign="space-between start" fxLayoutGap="10px">
                    <mat-card-title>{{'REGISTER.USER.NEW-VISITOR'| translate}}</mat-card-title>
                    <div fxLayout="row" fxLayoutAlign.xs="end start" fxFlex.xs="1 0 100%" fxLayoutGap="0.5em"
                        style="padding: 0px 10px;">
                        <button mat-raised-button (click)="goBack()">
                            <mat-icon>arrow_back</mat-icon> {{'GENERIC.BUTTON.BACK' | translate}}
                        </button>
                        <button mat-raised-button routerLink="/" color="accent">
                            <mat-icon>home</mat-icon> {{'GENERIC.BUTTON.HOME' | translate}}
                        </button>
                        <button mat-raised-button (click)="submitDetails()" color="accent">
                            {{'GENERIC.BUTTON.SAVE' | translate}}
                        </button>
                    </div>
                </div>
                <div class="pb-2"></div>
                <mat-card-content>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between start"
                        fxLayoutAlign.xs="stretch" fxLayoutGap="1em" fxLayoutGap.xs="0.5em">
                        <mat-form-field fxFlex=50>
                            <input matInput [(ngModel)]="user.firstName"
                                placeholder="{{'REGISTER.USER.FIRST-NAME'| translate}}" name="firstname"
                                #firstname="ngModel" minlength="5" maxlength="50" pattern="^[a-zA-Z_ ]*$" required>
                            <mat-error *ngIf="firstname.touched && !firstname.valid">
                                <div *ngIf="!!firstname.errors?.required"> {{'REGISTER.USER.NAME-REQUIRED'| translate}} </div>
                                <div *ngIf="!!firstname.errors?.minlength"> {{'REGISTER.USER.MIN-LENGTH'| translate}}
                                </div>
                                <div *ngIf="!!firstname.errors?.pattern">{{'REGISTER.USER.PATTERN'| translate}} </div>
                            </mat-error>
                        </mat-form-field>
                  
                        <mat-form-field fxFlex=50>
                            <input matInput [(ngModel)]="user.lastName" name="lastname" #lastname="ngModel"
                                minlength="5" maxlength="50" pattern="^[a-zA-Z_ ]*$"
                                placeholder="{{'REGISTER.USER.LAST-NAME'| translate}}" required>
                            <mat-error *ngIf="lastname.touched && !lastname.valid">
                                <div *ngIf="!!lastname.errors?.required">  {{'REGISTER.USER.NAME-REQUIRED'| translate}}  </div>
                                <div *ngIf="!!lastname.errors?.minlength">   {{'REGISTER.USER.MIN-LENGTH'| translate}}
                                </div>
                                <div *ngIf="!!lastname.errors?.pattern">{{'REGISTER.USER.PATTERN'| translate}} </div>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between start"
                        fxLayoutAlign.xs="stretch" fxLayoutGap="1em" fxLayoutGap.xs="0.5em">
                        <mat-form-field fxFlex=50>
                            <input matInput [(ngModel)]="user.email" name="EMail" #EMail="ngModel"
                                placeholder="{{'REGISTER.USER.EMAIL'| translate}}"
                                pattern="^[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}$" required>
                            <mat-error *ngIf="EMail.touched && !EMail.valid">
                                <div *ngIf="!!EMail.errors?.required">{{'REGISTER.USER.EMAIL-REQUIRED'| translate}}  </div>
                                <div *ngIf="!!EMail.errors?.pattern">{{'REGISTER.USER.EMAIL-INVALID'| translate}}  </div>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex=50>
                            <input matInput [(ngModel)]="user.phone" name="Phone" #Phone="ngModel" minlength="10" maxlength="13"
                            pattern="^([+][9][1]|[9][1]|[0]){0,1}([7-9]{1})([0-9]{9})$"
                                placeholder="{{'REGISTER.USER.PHONE'| translate}}" required>
                            <mat-error *ngIf="Phone.touched && !Phone.valid">
                                <div *ngIf="!!Phone.errors?.required">{{'REGISTER.USER.PHONE-REQUIRED'| translate}}  </div>
                                <div *ngIf="!!Phone.errors?.pattern">{{'REGISTER.USER.PHONE-PATTERN'| translate}}  </div>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="pb-3"></div>

                    <div class="pb-3"></div>

                    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" fxLayoutAlign.xs="stretch"
                        fxLayoutGap="1em" *ngIf="permissionsLoaded">
                        <button mat-raised-button #gmail id="gmail" (click)="itemclick(gmail)"
                            [appDisplayPermission]="'A01-01-01'">{{'GENERIC.BUTTON.GMAIL' | translate}}</button>
                        <button mat-raised-button color="primary" #face id="face" (click)="itemclick(face)"
                            [appDisplayPermission]="'A01-01-05'">{{'GENERIC.BUTTON.FACE' | translate}}</button>
                        <button mat-raised-button color="accent" #fingerPrint id="fingerPrint"
                            (click)="itemclick(fingerPrint)"
                            [appDisplayPermission]="'A01-01-08'">{{'GENERIC.BUTTON.FINGER-PRINT' | translate}}</button>
                        <!-- <button mat-raised-button color="warn" #qrCode id="qrCode" (click)="itemclick(qrCode)"
                            [appDisplayPermission]="'A01-01-03'">{{'GENERIC.BUTTON.QR-CODE' | translate}}</button> -->
                        <button mat-raised-button color="primary" #fb id="fb" (click)="itemclick(fb)"
                            [appDisplayPermission]="'A01-01-02'">{{'CONFIG.GLOBAL.FACEBOOK' | translate}}</button>
                        <!-- <button mat-raised-button color="accent" #uIdPassword id="uIdPassword"
                            (click)="itemclick(uIdPassword)"
                            [appDisplayPermission]="'A01-01-04'">{{'CONFIG.GLOBAL.USERIDPASSWORD' | translate}}</button> -->
                        <button mat-raised-button color="warn" #firebaseUI id="firebaseUI"
                            (click)="itemclick(firebaseUI)"
                            [appDisplayPermission]="'A01-01-06'">{{'CONFIG.GLOBAL.FIREBASEUI' | translate}}</button>
                        <button mat-raised-button color="primary" #gitHub id="gitHub" (click)="itemclick(gitHub)"
                            [appDisplayPermission]="'A01-01-07'">{{'CONFIG.GLOBAL.GITHUB' | translate}}</button>
                        <button mat-raised-button color="accent" #phone id="phone" (click)="itemclick(phone)"
                            [appDisplayPermission]="'A01-01-09'">{{'CONFIG.GLOBAL.PHONENUMBER' | translate}}</button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-drawer-content>
</mat-drawer-container>