<mat-progress-bar *ngIf="isLoading" color="primary" mode="indeterminate"></mat-progress-bar>
<app-content-header [hideBreadcrumb]="false" [hasBgImage]="true" [class]="'pb-2'"></app-content-header>
<div class="page-content" fxLayout="column" fxLayoutGap="10px">
    <div *ngIf="!showPagePreview" style="display: flex;" class="mat-typography" fxLayout="row" fxLayout.lt-md="column"
        fxLayoutAlign="stretch" fxLayoutGap="10px" fxFlexFill>
        <mat-card style="overflow-y: auto;" *ngIf="pageDetails?.page_code" class="todo-card card-left card-background"
            fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px">
            <div>
                <input type="text" class="search-bar" placeholder="Search page items..."
                    (input)="filterPageItems($event)">
            </div>
            <mat-accordion class="card-scrol">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="expansion-panel-drag-header" fxLayoutAlign="start center" fxLayoutGap="4px">
                                <mat-icon>assignment</mat-icon>
                                <mat-label> {{'GENERIC.TITLE.FORMS' | translate}} </mat-label>
                            </span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div *ngIf="formTemplates.length > 0; else formTempNill" cdkDropList #todoPagesList="cdkDropList"
                        [cdkDropListData]="formTemplates" [cdkDropListConnectedTo]="[pageDone]" class="toDo-list"
                        (cdkDropListDropped)="drop($event)">
                        <div *ngFor="let item of formTemplates">
                            <div class="toDo-box" fxFlex="1 1 100%" cdkDrag fxLayoutAlign="space-between center">
                                {{item.details.name | titlecase}}
                            </div>
                        </div>
                    </div>
                    <ng-template #formTempNill>
                        <mat-label fxLayoutAlign="center center">{{'GENERIC.TITLE.NO-ITEMS' | translate}}</mat-label>
                    </ng-template>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="expansion-panel-drag-header" fxLayoutAlign="start center" fxLayoutGap="4px">
                                <mat-icon>web_asset</mat-icon>
                                <mat-label>{{'GENERIC.TITLE.CARDS' | translate}}</mat-label>
                            </span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div *ngIf="cardTemplates.length > 0; else cardTempNill" cdkDropList #todoPagesList="cdkDropList"
                        [cdkDropListData]="cardTemplates" [cdkDropListConnectedTo]="[pageDone , toDolistElements]"
                        class="toDo-list" (cdkDropListDropped)="drop($event)">
                        <div *ngFor="let item of cardTemplates">
                            <div class="toDo-box" fxFlex="1 1 100%" cdkDrag fxLayoutAlign="space-between center">
                                {{item.details.name | titlecase}}
                            </div>
                        </div>
                    </div>
                    <ng-template #cardTempNill>
                        <mat-label fxLayoutAlign="center center">{{'GENERIC.TITLE.NO-ITEMS' | translate}}</mat-label>
                    </ng-template>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="expansion-panel-drag-header" fxLayoutAlign="start center" fxLayoutGap="4px">
                                <mat-icon>tab</mat-icon>
                                <mat-label> {{'GENERIC.TITLE.TABS' | translate}}</mat-label>
                            </span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div *ngIf="tabTemplates.length > 0; else tabTempNill" cdkDropList #todoPagesList="cdkDropList"
                        [cdkDropListData]="tabTemplates" [cdkDropListConnectedTo]="[pageDone]" class="toDo-list"
                        (cdkDropListDropped)="drop($event)">
                        <div *ngFor="let item of tabTemplates">
                            <div class="toDo-box" fxFlex="1 1 100%" cdkDrag fxLayoutAlign="space-between center">
                                {{item.details.name | titlecase}}
                            </div>
                        </div>
                    </div>
                    <ng-template #tabTempNill>
                        <mat-label fxLayoutAlign="center center">{{'GENERIC.TITLE.NO-ITEMS' | translate}}</mat-label>
                    </ng-template>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="expansion-panel-drag-header" fxLayoutAlign="start center" fxLayoutGap="4px">
                                <mat-icon>view_module</mat-icon>
                                <mat-label> {{'GENERIC.TITLE.TABLES' | translate}}</mat-label>
                            </span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div *ngIf="gridTemplates.length > 0; else gridTempNill" cdkDropList #todoPagesList="cdkDropList"
                        [cdkDropListData]="gridTemplates" [cdkDropListConnectedTo]="[pageDone]" class="toDo-list"
                        (cdkDropListDropped)="drop($event)">
                        <div *ngFor="let item of gridTemplates">
                            <div class="toDo-box" fxFlex="1 1 100%" cdkDrag fxLayoutAlign="space-between center">
                                {{item.details.name | titlecase}}
                            </div>
                        </div>
                    </div>
                    <ng-template #gridTempNill>
                        <mat-label fxLayoutAlign="center center">{{'GENERIC.TITLE.NO-ITEMS' | translate}}</mat-label>
                    </ng-template>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="expansion-panel-drag-header" fxLayoutAlign="start center" fxLayoutGap="4px">
                                <mat-icon>keyboard</mat-icon>
                                <mat-label> {{'GENERIC.TITLE.BUTTONS' | translate}}</mat-label>
                            </span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div *ngIf="buttonTemplates.length > 0; else btnTempNill" cdkDropList #todoPagesList="cdkDropList"
                        [cdkDropListData]="buttonTemplates" [cdkDropListConnectedTo]="[pageDone]" class="toDo-list"
                        (cdkDropListDropped)="drop($event)">
                        <div *ngFor="let item of buttonTemplates">
                            <div class="toDo-box" fxFlex="1 1 100%" cdkDrag fxLayoutAlign="space-between center">
                                {{item.details.name | titlecase}}
                            </div>
                        </div>
                    </div>
                    <ng-template #btnTempNill>
                        <mat-label fxLayoutAlign="center center">{{'GENERIC.TITLE.NO-ITEMS' | translate}}</mat-label>
                    </ng-template>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="expansion-panel-drag-header" fxLayoutAlign="start center" fxLayoutGap="4px">
                                <mat-icon>format_list_numbered</mat-icon>
                                <mat-label> {{'GENERIC.TITLE.STEPPER' | translate}}</mat-label>
                            </span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div *ngIf="stepperTemplates.length > 0; else stepperTempNill" cdkDropList
                        #todoPagesList="cdkDropList" [cdkDropListData]="stepperTemplates"
                        [cdkDropListConnectedTo]="[pageDone]" class="toDo-list" (cdkDropListDropped)="drop($event)">
                        <div *ngFor="let item of stepperTemplates">
                            <div class="toDo-box" fxFlex="1 1 100%" cdkDrag fxLayoutAlign="space-between center">
                                {{item.details.name | titlecase}}
                            </div>
                        </div>
                    </div>
                    <ng-template #stepperTempNill>
                        <mat-label fxLayoutAlign="center center">{{'GENERIC.TITLE.NO-ITEMS' | translate}}</mat-label>
                    </ng-template>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="expansion-panel-drag-header" fxLayoutAlign="start center" fxLayoutGap="4px">
                                <mat-icon>maximize</mat-icon>
                                <mat-label> {{'GENERIC.TITLE.NAVIGATION' | translate}}</mat-label>
                            </span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div *ngIf="navTemplates.length > 0; else navTempNill" cdkDropList #todoPagesList="cdkDropList"
                        [cdkDropListData]="navTemplates" [cdkDropListConnectedTo]="[pageDone]" class="toDo-list"
                        (cdkDropListDropped)="drop($event)">
                        <div *ngFor="let item of navTemplates">
                            <div class="toDo-box" fxFlex="1 1 100%" cdkDrag fxLayoutAlign="space-between center">
                                {{item.details.name | titlecase}}
                            </div>
                        </div>
                    </div>
                    <ng-template #navTempNill>
                        <mat-label fxLayoutAlign="center center">{{'GENERIC.TITLE.NO-ITEMS' | translate}}</mat-label>
                    </ng-template>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="expansion-panel-drag-header" fxLayoutAlign="start center" fxLayoutGap="4px">
                                <mat-icon>account_tree</mat-icon>
                                <mat-label> {{'GENERIC.TITLE.TREE' | translate}}</mat-label>
                            </span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div *ngIf="treeTemplates.length > 0; else treeTempNill" cdkDropList #todoPagesList="cdkDropList"
                        [cdkDropListData]="treeTemplates" [cdkDropListConnectedTo]="[pageDone]" class="toDo-list"
                        (cdkDropListDropped)="drop($event)">
                        <div *ngFor="let item of treeTemplates">
                            <div class="toDo-box" fxFlex="1 1 100%" cdkDrag fxLayoutAlign="space-between center">
                                {{item.details.name | titlecase}}
                            </div>
                        </div>
                    </div>
                    <ng-template #treeTempNill>
                        <mat-label fxLayoutAlign="center center">{{'GENERIC.TITLE.NO-ITEMS' | translate}}</mat-label>
                    </ng-template>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="expansion-panel-drag-header" fxLayoutAlign="start center" fxLayoutGap="4px">
                                <mat-icon>payment</mat-icon>
                                <mat-label> {{'GENERIC.TITLE.BANNER' | translate}} </mat-label>
                            </span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div *ngIf="bannerTemplates.length > 0; else bannerTempNill" cdkDropList
                        #todoPagesList="cdkDropList" [cdkDropListData]="bannerTemplates"
                        [cdkDropListConnectedTo]="[pageDone]" class="toDo-list" (cdkDropListDropped)="drop($event)">
                        <div *ngFor="let item of bannerTemplates">
                            <div class="toDo-box" fxFlex="1 1 100%" cdkDrag fxLayoutAlign="space-between center">
                                {{item.details.name | titlecase}}
                            </div>
                        </div>
                    </div>
                    <ng-template #bannerTempNill>
                        <mat-label fxLayoutAlign="center center">{{'GENERIC.TITLE.NO-ITEMS' | translate}}</mat-label>
                    </ng-template>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <span class="expansion-panel-drag-header" fxLayoutAlign="start center" fxLayoutGap="4px">
                                <mat-icon>list</mat-icon>
                                <mat-label> List </mat-label>
                            </span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div *ngIf="listTemplate.length > 0; else ListTempNill" cdkDropList #todoPagesList="cdkDropList"
                        [cdkDropListData]="listTemplate" [cdkDropListConnectedTo]="[pageDone]" class="toDo-list"
                        (cdkDropListDropped)="drop($event)">
                        <div *ngFor="let item of listTemplate">
                            <div class="toDo-box" fxFlex="1 1 100%" cdkDrag fxLayoutAlign="space-between center">
                                {{item.details.name | titlecase}}
                            </div>
                        </div>
                    </div>
                    <ng-template #ListTempNill>
                        <mat-label fxLayoutAlign="center center">{{'GENERIC.TITLE.NO-ITEMS' | translate}}</mat-label>
                    </ng-template>
                </mat-expansion-panel>
                <!-- </div> -->
            </mat-accordion>

            <!-- List Drag Item -->
            <div cdkDropList #todoPagesList="cdkDropList" [cdkDropListData]="listTemplate"
                [cdkDropListConnectedTo]="[pageDone]" class="toDo-list" (cdkDropListDropped)="drop($event)">
                <div *ngFor="let item of listTemplate">
                    <div class="toDo-box" fxFlex="1 1 100%" cdkDrag fxLayoutAlign="space-between center">
                        {{item?.details?.name}}
                    </div>
                </div>
            </div>
        </mat-card>
        <mat-card [ngClass]="pageDetails?.page_code? 'card-right' : 'card-right100'"
            class="form-overflow mat-typography" fxLayout="column" fxLayoutGap="10px">
            <form name="form" fxLayout="column" #f="ngForm">
                <div fxLayout="row" fxLayoutAlign="space-between start">
                    <h2 fxFlex="1 1 100%">Page</h2>
                    <span fxFlex="1 1 100%"></span>
                    <div fxLayout="row" fxLayoutGap="5px">
                        <button mat-stroked-button color="primary" (click)="goBack()">
                            {{'GENERIC.BUTTON.BACK' | translate}}</button>
                        <button mat-stroked-button color="primary"
                            (click)="showPreview()">{{'GENERIC.BUTTON.VIEW' | translate}}</button>
                        <button *ngIf="!pageId" mat-stroked-button (click)="submitPage()"
                            [disabled]="(pageElements?.length === 0 || !f.form.valid)">{{'GENERIC.BUTTON.CREATE' | translate}}</button>
                        <button *ngIf="pageId" mat-stroked-button (click)="UpdatePage()"
                            [disabled]="(pageElements?.length === 0 || !f.form.valid)">{{'GENERIC.BUTTON.UPDATE' | translate}}</button>
                    </div>
                </div>
                <div fxLayout="row wrap" fxLayout="space-between start" fxLayoutGap="10px">
                    <mat-form-field appearance="outline" fxFlex="48">
                        <mat-label>{{'BUILDER.PAGE.ENTER-NAME' | translate}}</mat-label>
                        <input matInput placeholder="Enter page name" [(ngModel)]="pageDetails.name" name="pageName"
                            #pageName="ngModel" required>
                        <mat-error *ngIf="pageName?.touched && !pageName?.valid">
                            <div *ngIf="pageName?.errors?.required">
                                {{'BUILDER.PAGE.VALIDATION.PAGE-NAME-REQUIRED' | translate}}
                            </div>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="48">
                        <mat-label>{{'BUILDER.PAGE.ENTER-URL' | translate}}</mat-label>
                        <input matInput placeholder="Enter page URL" [(ngModel)]="pageDetails.router_link"
                            name="pageUrl" #pageUrl="ngModel" required>
                        <mat-error *ngIf="pageUrl?.touched && !pageUrl?.valid">
                            <div *ngIf="pageUrl?.errors?.required">
                                {{'BUILDER.PAGE.VALIDATION.URL-REQUIRED' | translate}}
                            </div>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="48">
                        <mat-label>Select parent Group</mat-label>
                        <mat-select [(ngModel)]="pageDetails.parent_code" name="pgGrp" #pgGrp="ngModel" required>
                            <mat-option *ngFor="let pGp of pageGroups" [value]="pGp.value">
                                {{pGp.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="48">
                        <mat-label>Page Permission Code</mat-label>
                        <span matPrefix *ngIf="pageDetails.parent_code">
                            {{pageDetails.parent_code}} - &nbsp;</span>
                        <input matInput placeholder="Enter Permission Code" [(ngModel)]="pageDetails.page_code"
                            name="pCode" #pCode="ngModel" required>
                        <mat-error *ngIf="pCode?.touched && !pCode?.valid">
                            <div *ngIf="pCode?.errors?.required">
                                Permission code is required
                            </div>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="48">
                        <mat-label>Select View config</mat-label>
                        <mat-select [(ngModel)]="pageDetails.pageViewConfig" name="viewPageConfig"
                            #viewPageConfig="ngModel" (selectionChange)="onPageViewConfigChange($event.value)" required
                            [compareWith]="compareFn">
                            <mat-option *ngFor="let config of viewConfig" [value]="config">
                                {{config.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </form>
            <div fxLayout="column" fxFlex="1 1 100%" id="pageElements_1" cdkDropList #pageDone="cdkDropList"
                [cdkDropListData]="pageElements" [cdkDropListConnectedTo]="[todoPagesList]" class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div fxLayoutAlign="center center" fxLayout="column" fxFlexFill *ngIf="pageElements?.length === 0"
                    class="emptybox icons-color">
                    <mat-label>{{'BUILDER.PAGE.DRAG&DROP-PAGE-ITEMS' | translate}}
                    </mat-label>
                </div>
                <div *ngFor="let pitem of pageElements; let i = index" fxLayout="column" cdkDrag
                    style="border-radius: 7px">
                    <div *ngIf="pitem?.details?.type?.id !== 13" class="card-background card-border mb-1"
                        style="border-radius: 5px" fxLayoutAlign="space-between center" fxFlex="1 1 100%">
                        <mat-label fxFlex="1 1 100%" style="margin-left: 10px;">{{pitem?.details?.name}}</mat-label>
                        <span fxFlex="1 1 100%"></span>
                        <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="removeItem(i)">
                                <mat-icon class="delete">delete</mat-icon>
                                <span>{{'GENERIC.BUTTON.DELETE'| translate}}</span>
                            </button>
                        </mat-menu>
                    </div>
                    <app-template-form-view-cmp style="padding: 10px;" fxFlex="1 1 100%" [item]="pitem"
                        *ngIf="pitem?.details?.type?.id === 1">
                    </app-template-form-view-cmp>
                    <app-template-card-view-cmp fxFlex="1 1 100%" [item]="pitem" *ngIf="pitem?.details?.type?.id === 2">
                    </app-template-card-view-cmp>
                    <app-template-tab-cmp fxFlex="1 1 100%" [config]="pitem" *ngIf="pitem?.details?.type?.id === 3">
                    </app-template-tab-cmp>
                    <app-template-grid-create-cmp fxFlex="1 1 100%" *ngIf="pitem?.details?.type?.id === 4"
                        [item]="pitem"></app-template-grid-create-cmp>
                    <app-template-pageaction-view-cmp fxFlex="1 1 100%" [item]="pitem"
                        *ngIf="pitem?.details?.type?.id === 5">
                    </app-template-pageaction-view-cmp>
                    <app-template-stepper-create-cmp fxFlex="1 1 100%" *ngIf="pitem?.details?.type?.id === 7"
                        [config]="pitem">
                    </app-template-stepper-create-cmp>
                    <app-template-tree-create-cmp fxFlex="1 1 100%" *ngIf="pitem?.details?.type?.id === 10"
                        [config]="pitem"></app-template-tree-create-cmp>
                    <app-template-banner-view-cmp fxFlex="1 1 100%" [banner]="pitem"
                        *ngIf="pitem?.details?.type?.id === 12">
                    </app-template-banner-view-cmp>
                </div>
            </div>
            <div [hidden]="!showListDropArea" fxLayout="row" fxFlex="1 1 100%">
                <div fxLayout="column" fxFlex="1 1 99%" id="listElements_1" cdkDropList #toDolistElements="cdkDropList"
                    [cdkDropListData]="listElements" [cdkDropListConnectedTo]="[todoPagesList]" class="example-list"
                    (cdkDropListDropped)="drop($event)">
                    <div fxFlexFill fxLayoutAlign="center center" *ngIf="!hasConfig" fxLayout="column"
                        class="emptybox icons-color">
                        <mat-label>List items</mat-label>
                    </div>
                    <div fxLayout="column" *ngIf="hasConfig" cdkDrag class="card-border mb-1"
                        style="border-radius: 7px">
                        <app-create-page-list [listConfig]="listConfig" [listElements]="listElements"></app-create-page-list>
                    </div>
                </div>
                <div>
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="removeListItem()">
                            <mat-icon class="delete">delete</mat-icon>
                            <span>Delete</span>
                        </button>
                        <button mat-menu-item (click)="openCardConfig()">
                            <mat-icon class="delete">settings</mat-icon>
                            <span>Configuration</span>
                        </button>
                    </mat-menu>
                </div>
            </div>
        </mat-card>
    </div>

    <div *ngIf="showPagePreview">
        <app-page-view-cmp [pageItems]="pageItems" (showCreate)="updateView($event)"></app-page-view-cmp>
    </div>
</div>