.form-overflow {
    overflow: auto;
}


.todo-card {
    height: 100%;
}

.done-box {
    cursor: move;
}


.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.form-group .form-control {
    font-size: inherit;
    background-color: inherit;
}

.mat-form-field {
    width: 100%;
}

.delete {
    color: #ec4d4d !important;
}

.mat-button {
    min-width: 0px !important;
    padding: 0px !important;
}

::ng-deep .mat-form-field-wrapper {
    width: 100% !important;
}

.date-picker-icons-height {
    height: 15.5px !important
}

.stroked-button {
    margin-top: 3px;
    height: 53px;
}

::ng-deep .mat-form-field-appearance-standard .mat-form-field-flex {
    padding-top: 0px !important;
}

.card-drop {
    // width: 200px;
    // height: 200px;
    margin: 0px 10px 10px 10px;
    overflow: auto;
}

.content-h {
    transform: translate3d(0px, 0px, 0px);
    will-change: transform;
    position: relative;
    background: #fff;
    z-index: 2;
    height: 80px;
    padding-left: 10px;

}

.image-icon-h {
    margin-top: -45px;
    background-color: #007bff !important;
    border-radius: 50%;
    color: #fff !important;
    min-width: 40px !important;
    height: 40px !important;
    position: absolute;
    text-align: center;
    margin-left: -43px;
    padding: 0 !important;
    line-height: 0 !important;
    z-index: 99;
}

.card-del-edit-header {
    margin: 0px 14px;
    border-radius: 4px;
    padding-left: 10px;
}

.card-sub-mb-0 {
    margin-bottom: 0px !important;
}

.example-card {
    min-height: 400px;
}

.card-layout-drop {
    cursor: move;
    border: 2px solid black;
    margin: 0px 0px 5px 0px;
}

.min-height-100 {
    min-height: 100px;
}

.emptybox {
    border-style: dashed;
    font-size: 20px;
    padding: 8.5%;
}



.expansion-panel-drag-header {
    font-size: 17px;
}

.btncard {
    height: 60px;
    // padding: 20px !important;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.54) !important;
    flex-basis: 100px;
    border: 1px #878787 solid;
    min-width: 100px;
    cursor: move;
}


.toDo-cardbox {
    padding: 15px 10px 0px 10px;
    cursor: move;
}

.btnlabel {
    color: #000000de !important;
}

.no-items {
    font-size: 16px;
    font-weight: 500;
    color: red;
    padding: 10px;
    border: 1px solid red;
    background-color: white;
    border-radius: 10px;
}

.search-bar {
    height: 26px;
    border: none;
    padding: 0px 4px;
    border-radius: 20px;
}

::ng-deep.mat-form-field-prefix,
.mat-form-field-suffix {
    top: 0px !important;
}


.card-left {
    position: fixed;
    display: flex;
    float: left;
    width: auto;
    height: auto;
}

.card-right {
    margin-left: 220px !important;
    width: 93% !important;
}

@media only screen and (min-width: 1960px) and (orientation: landscape) {
    .card-right {
        width: 95% !important;
    }
}

.card-right100 {
    width: 100% !important;
}

.card-scrol {
    max-height: 450px;
    overflow-y: auto;
    width: 180px;
}

[hidden] {
    display: none !important;
}