<mat-sidenav-container class="h-100">
    <div fxLayout="column" fxLayoutAlign="center center" class="h-100">
        <div class="my-logo">
            <h1 style=" opacity: 0;"></h1>
        </div>
        <div class="mytitle-text"> Sudheeksha</div>
        <firebase-ui (signInSuccessWithAuthResult)="successCallback($event)" (signInFailure)="errorCallback($event)">
        </firebase-ui>
    </div>
</mat-sidenav-container>