.firbase-ui-container{
    margin-top: 1em;
    margin-bottom: 1em;
}


.logo-dimensions {
    height: 58px !important;
    width: 60px !important;
    animation: mymove 1s infinite;
}

h2 {
    font-size: 2em;
    background-image: linear-gradient(to right,  #ef00f3 , #1a3af5 );
    // background: linear-gradient(to right,#ef00f3 10%,#ef00f3 20% , #1a3af5 60%);
    background-clip: text;
    font-weight: 500;

    color: transparent; 
}
 

h1 {
    font-size: 2em;
    background-image: linear-gradient(to right, #ffff 10%,#fff 50%,#5f6465 60%);
    background-clip: text;
    font-weight: 500;
    color: transparent;
    animation: textclip 2.5s linear infinite;
    display: inline-block;
    background-size: 200% auto;


@keyframes textclip {
    from {
        background-position: 200% center
    }
}
}




#loading {
    animation: rotation 10s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}