<mat-progress-bar *ngIf="isLoading" color="primary" mode="indeterminate"></mat-progress-bar>
<div *ngIf="showCreate" style="display: flex;" fxLayout="row" fxLayoutAlign="stretch" fxLayout.lt-md="column"
    fxLayoutGap="10px" fxFlexFill>
    <mat-card class="mat-typography todo-card  card-left card-background">
        <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="buttons" [cdkDropListConnectedTo]="[doneList]"
            class="mt-2 toDo-cardlist" (cdkDropListDropped)="drop($event)" cdkDropListSortingDisabled>
            <div class="toDo-cardbox" *ngFor="let button of buttons" cdkDrag>
                <mat-card class="btncard" fxLayout="column" fxLayoutAlign="center center">
                    <mat-icon>keyboard</mat-icon>
                    <mat-label fxLayoutAlign="center center" class="btnlabel">
                        {{button.label}} </mat-label>
                </mat-card>
            </div>
        </div>
    </mat-card>
    <mat-card class="form-overflow card-right" fxLayout="column">
        <form name="form" #f="ngForm" fxLayout="column" novalidate>
            <div fxLayout="row" fxLayoutAlign="start start">
                <h2 fxFlex="1 1 100%">{{'TEMPLATE.PAGE-ACTION.TITLE' | translate}}</h2>
                <span fxFlex="1 1 auto"></span>
                <div fxLayout="row" fxLayoutGap="5px">
                    <button mat-stroked-button color="primary"
                        (click)="goBack()">{{'GENERIC.BUTTON.CANCEL'| translate}}</button>
                    <button mat-stroked-button color="primary" (click)="onViewClick()">
                        {{'GENERIC.BUTTON.VIEW'| translate}}</button>
                    <button *ngIf="!templateId" mat-stroked-button (click)="submitButtons()"
                        [disabled]="!(buttonsDone.length > 0) || !f.form.valid">{{'GENERIC.BUTTON.SAVE'| translate}}</button>
                    <button *ngIf="templateId" mat-stroked-button (click)="updateButtons()"
                        [disabled]="!(buttonsDone.length > 0) || !f.form.valid">{{'GENERIC.BUTTON.UPDATE'| translate}}</button>
                    <button *ngIf="templateId" mat-stroked-button color="primary"
                        [disabled]="!(buttonsDone.length > 0) || !f.form.valid" (click)="delete()">Delete</button>
                    <button mat-stroked-button [matMenuTriggerFor]="menu" [disabled]=" !(buttonsDone.length > 0)">
                        <mat-icon class="menu">settings</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item
                            (click)="openConfig(config)">{{'TEMPLATE.PAGE-ACTION.CONFIGURATION'| translate}}
                        </button>
                    </mat-menu>
                </div>
            </div>

            <div fxLayout="row wrap" fxFlexFill fxLayoutAlign="space-between start" fxLayoutGap="10px">
                <mat-form-field fxFlex="100">
                    <mat-label>{{'TEMPLATE.NAME'| translate}}</mat-label>
                    <input matInput placeholder="{{'GENERIC.TITLE.ENTER-TEMPLATE-NAME'| translate}}" name="tempName"
                        #tempName="ngModel" [(ngModel)]="config.name" required>
                    <mat-error *ngIf="tempName.touched && !tempName.valid" class="full-width">
                        <div *ngIf="tempName?.errors?.required">
                            {{'TEMPLATE.VALIDATION.TYPE-REQUIRED' | translate}}</div>
                    </mat-error>
                </mat-form-field>
            </div>
        </form>
        <div style="padding: 10px" fxLayoutGap="10px" fxFlex="1 1 100%" cdkDropList #doneList="cdkDropList"
            [cdkDropListData]="buttonsDone" [cdkDropListConnectedTo]="[todoList]" class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div fxLayoutAlign="center center" fxLayout="column" fxFlexFill *ngIf="buttonsDone.length === 0"
                class="emptybox icons-color">
                <mat-label>{{'TEMPLATE.PAGE-ACTION.DRAG&DROP-BUTTON-ITEMS'| translate}} </mat-label>
            </div>
            <div class="card-border" *ngIf="buttonsDone.length > 0">
                <div [fxLayout]="layout?.name" [fxLayoutAlign]="layout?.alignment" style="min-height: 150px;">
                    <div *ngFor="let item of buttonsDone;let j = index" cdkDrag class="example-box done-box">
                        <div style="padding: 3px">
                            <button *ngIf="item.id === 1" mat-button [color]="item.color"
                                [type]="item.type.name">{{item.label}}</button>
                            <button *ngIf="item.id === 2" mat-raised-button [color]="item.color"
                                [type]="item.type.name">{{item.label}}</button>
                            <button *ngIf="item.id === 3" mat-stroked-button [type]="item.type.name"
                                [color]="item.color">{{item.label}}</button>
                            <button *ngIf="item.id === 4" mat-flat-button [color]="item.color"
                                [type]="item.type.name">{{item.label}}</button>
                            <button mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="openEditDialog(item)">
                                    <mat-icon>edit</mat-icon>
                                    <span>{{'GENERIC.BUTTON.EDIT'| translate}}</span>
                                </button>
                                <button mat-menu-item (click)="removeButton(j)">
                                    <mat-icon class="delete">delete</mat-icon>
                                    <span>{{'GENERIC.BUTTON.DELETE'| translate}}</span>
                                </button>
                            </mat-menu>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
</div>
<mat-card *ngIf="!showCreate">
    <div fxLayout="row" fxLayoutAlign="space-between start" fxFlexFill>
        <h2>Preview</h2>
        <button fxLayoutAlign="end end" mat-stroked-button (click)="showCreate = !showCreate">Back</button>
    </div>
    <app-template-pageaction-view-cmp></app-template-pageaction-view-cmp>
</mat-card>