.mat-button {
    min-width: 0px !important;
    padding: 0px !important;
}

::ng-deep .mat-form-field-wrapper {
    width: 100% !important;
}

.date-picker-icons-height {
    height: 15.5px !important
}

.stroked-button {
    margin-top: 3px;
    height: 53px;
}

::ng-deep .mat-form-field-appearance-standard .mat-form-field-flex {
    padding-top: 0px !important;
}

.card-drop {
    // width: 200px;
    // height: 200px;
    margin: 0px 10px 10px 10px;
    overflow: auto;
}

.content-h {
    transform: translate3d(0px, 0px, 0px);
    will-change: transform;
    position: relative;
    background: #fff;
    z-index: 2;
    height: 80px;
    padding-left: 10px;

}

.image-icon-h {
    margin-top: -45px;
    background-color: #007bff !important;
    border-radius: 50%;
    color: #fff !important;
    min-width: 40px !important;
    height: 40px !important;
    position: absolute;
    text-align: center;
    margin-left: -43px;
    padding: 0 !important;
    line-height: 0 !important;
    z-index: 99;
}

.card-del-edit-header {
    margin: 0px 14px;
    border-radius: 4px;
    padding-left: 10px;
}

.card-sub-mb-0 {
    margin-bottom: 0px !important;
}

.example-card {
    min-height: 400px;
}

.card-layout-drop {
    cursor: move;
    border: 2px solid black;
    margin: 0px 0px 5px 0px;
}

.min-height-100 {
    min-height: 100px;
}

.emptybox {
    border-style: dashed;
    font-size: 20px;
    padding: 40px;
}

///////
.drag {
    font-size: 21px;
}

.btncard {
    height: 60px;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.54) !important;
    flex-basis: 70px;
    border: 1px #878787 solid;
}


.toDo-cardbox {
    padding: 0px 10px 10px 10px;
    cursor: move;
}

.btnlabel {
    color: #000000de !important;
}

.card-left {
    position: fixed;
    display: flex;
    padding: 0 !important;
    float: left;
    width: auto;
    height: auto;
}

.card-right {
    margin-left: 110px !important;
    width: 93% !important;

}

@media only screen and (min-width: 1960px) and (orientation: landscape) {
    .card-right {
        width: 95% !important;
    }
}
    