<app-content-header [hideBreadcrumb]="false" [hasBgImage]="true" [class]="'pb-2'"></app-content-header>
<mat-progress-bar *ngIf="isLoading" color="primary" mode="indeterminate"></mat-progress-bar>
<div class="page-content">
    <mat-card>
        <div fxLayout="row" fxLayoutAlign="start start">
            <mat-card-title *ngIf="isCreatePage === '1'; else editPage">
                {{'CONFIG.USER-MANAGEMENT.MENU.CREATE'| translate}}</mat-card-title>
            <ng-template #editPage>
                <mat-card-title>Edit</mat-card-title>
            </ng-template>
            <span fxFlex="1 1 100%"></span>
            <div fxLayout="row" fxLayoutGap="5px">
                <button mat-raised-button routerLink="./../home">{{'GENERIC.BUTTON.BACK' | translate}}</button>
                <button mat-raised-button color="primary" *ngIf="isCreatePage === '1'"
                    (click)="submit()">{{'GENERIC.BUTTON.SAVE' | translate}}</button>
                <button mat-raised-button color="primary" *ngIf="isCreatePage === '0'"
                    (click)="update()">{{'GENERIC.BUTTON.UPDATE' | translate}}</button>
            </div>
        </div>
        <div fxLayout="column">
            <mat-form-field fxFlex="100">
                <input matInput placeholder="{{'CONFIG.USER-MANAGEMENT.MENU.NAME'| translate}}"
                    [(ngModel)]="menuItem.display_name" name="appName" #appName="ngModel" required>
                <mat-error *ngIf="appName?.touched && !appName?.valid" class="full-width">
                    <div *ngIf="appName?.errors?.required">
                        {{'TEMPLATE.VALIDATION.TYPE-REQUIRED' | translate}}</div>
                </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="100">
                <mat-label>{{'CONFIG.USER-MANAGEMENT.MENU.SELECT-ICON'| translate}}</mat-label>
                <mat-select [(ngModel)]="menuItem.icon">
                    <mat-select-trigger fxLayoutGap="5px">
                        <mat-icon *ngIf="menuItem?.icon" style="vertical-align: middle !important;">
                            {{menuItem?.icon}}</mat-icon>
                    </mat-select-trigger>
                    <mat-option *ngFor="let icon of iconList" [value]=icon.ligature>
                        <div fxLayout="row " fxLayoutAlign="space-between center"> <span>{{icon.name}} </span>
                            <mat-icon>{{icon.ligature}}</mat-icon>
                        </div>
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div fxFlex="100" fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start center">
                <mat-radio-group [(ngModel)]="menuItem.has_sub_menu" fxLayoutGap="5px" fxFlex=48>
                    <mat-label matTooltip="This menu item will be displayed in parent dropdown">Has Submenu ?:
                    </mat-label>
                    <mat-radio-button class="example-radio-button" *ngFor="let result of yesRNo" [value]="result.id">
                        {{result.display_name}}
                    </mat-radio-button>
                </mat-radio-group>
                <mat-form-field fxFlex=48>
                    <mat-label>{{'CONFIG.USER-MANAGEMENT.MENU.PARENT-MENU'| translate}}</mat-label>
                    <mat-select [(ngModel)]="menuItem.parent_id" name="color" #color="ngModel">
                        <mat-option [value]="null">None</mat-option>
                        <mat-option *ngFor="let pMenu of parentItems " [value]="pMenu.id">
                            {{pMenu.display_name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="48" *ngIf="menuItem?.has_sub_menu">
                    <mat-label>Select Page Group</mat-label>
                    <mat-select [(ngModel)]="pageDetails.pageGroup" name="pgGrp" #pgGrp="ngModel"
                        (selectionChange)="pagePermissionChange($event.value)" required>
                        <mat-option *ngFor="let pGp of pageGroups" [value]="pGp">
                            {{pGp.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div *ngIf="!menuItem?.has_sub_menu" fxLayout="row wrap" fxFlex=100 fxLayoutGap="10px">
                <mat-form-field fxFlex=48>
                    <mat-label>{{'CONFIG.USER-MANAGEMENT.MENU.SELECT-PAGE'| translate}}</mat-label>
                    <mat-select [(ngModel)]="pageDetails.page" name="page" #page="ngModel"
                        (selectionChange)="pageChange($event)" required>
                        <mat-option *ngFor="let pName of childPages" [value]="pName">
                            {{pName.display_name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="page?.touched && !page?.valid" class="full-width">
                        <div *ngIf="page?.errors?.required">
                            {{'CONFIG.USER-MANAGEMENT.MENU.VALIDATION.PAGE-REQUIRED'| translate}}</div>
                    </mat-error>
                </mat-form-field>
                <mat-form-field fxFlex=48>
                    <input disabled=true matInput placeholder="Permission code" [(ngModel)]="menuItem.permission_code"
                        name="appName" #appName="ngModel" required>
                </mat-form-field>
            </div>
        </div>
    </mat-card>
</div>