@import "../../../styles/mixins";

.menu-expand-icon {
    position: absolute;
    right: 10px;
    top: 13px;
}

.menu-item {
    font-weight: 600;

    .mat-button {
        padding: 0;
        padding-top: 6px;
        padding-bottom: 6px;
        width: 100%;
        font-weight: 400;
        border-radius: 0;

        .menu-icon {
            margin-right: 12px;
            //padding: 7px;
            //border-radius: 50%;
        }

        &.expanded {
            .menu-expand-icon {
                -webkit-transform: rotate(360deg);
                -moz-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }
    }

    .mat-button-wrapper {
        padding-left: 16px;
    }
}

.sub-menu {
    @include menu-level-padding('ltr');
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.25s ease-out;
    -moz-transition: max-height 0.25s ease-out;
    transition: max-height 0.25s ease-out;

    .mat-button {
        padding-left: 20px;
    }

    &.show {
        max-height: 900px;
        -webkit-transition: max-height 0.25s ease-in;
        -moz-transition: max-height 0.25s ease-in;
        transition: max-height 0.25s ease-in;
    }
}