<div fxLayout="column">
    <app-content-header [hideBreadcrumb]="false" [hasBgImage]="true" [class]="'pb-2'"></app-content-header>
    <mat-progress-bar *ngIf="isLoading" color="primary" mode="indeterminate"></mat-progress-bar>
    <div class="page-content ">
        <mat-card>
            <div class="pb-3" fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="10px">
                <mat-card-title>{{'CONFIG.AUTH-TYPES.TITLE.CONFIGURATIONTYPES' | translate}}</mat-card-title>
                <div fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="10px">
                    <button mat-raised-button routerLink="./../../"> {{'GENERIC.BUTTON.BACK' | translate}} </button>
                    <button mat-raised-button color="primary" (click)="isEditable = !isEditable"
                        *ngIf="!isEditable">{{'GENERIC.BUTTON.MODIFY' | translate}}</button>
                    <button mat-raised-button color="primary" (click)="saveSelecteditems()"
                        *ngIf="isEditable">{{'GENERIC.BUTTON.SAVE' | translate}}</button>
                </div>
            </div>
            <mat-card-content>
                <div fxLayout="row">
                    <mat-form-field fxFlex=100>
                        <mat-label>{{'GENERIC.TITLE.TENANT' | translate}}</mat-label>
                        <mat-select [(ngModel)]="Tenant.id" [disabled]="true">
                            <mat-option *ngFor="let tenant of tenants" [value]="tenant.id">
                                {{tenant.display_name | translate}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="1em">
                    <mat-form-field class="example-full-width" fxFlex="50">
                        <input matInput placeholder="{{'CONFIG.AUTH-TYPES.CONFIGURATION.NAME' | translate}}"
                            [(ngModel)]="selectedConfig.name" name="Name" autocomplete="off" #Name="ngModel"
                            minlength="5" maxlength="50" required [disabled]="!isEditable">
                        <mat-error *ngIf="Name.touched && Name.invalid" class="full-width">
                            <div *ngIf="Name.errors?.required">
                                {{'CONFIG.AUTH-TYPES.CONFIGURATION.REQUIRED' | translate}}</div>
                            <div *ngIf="Name.errors?.minlength">
                                {{'CONFIG.AUTH-TYPES.CONFIGURATION.MIN-LENGTH' | translate}}</div>
                            <div *ngIf="Name.errors?.maxlength">
                                {{'CONFIG.AUTH-TYPES.CONFIGURATION.MAX-LENGTH' | translate}}</div>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="example-full-width" fxFlex="50">
                        <input matInput placeholder="{{'CONFIG.AUTH-TYPES.CONFIGURATION.DESCRIPTION' | translate}}"
                            [(ngModel)]="selectedConfig.description" [disabled]="!isEditable">
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="1em">
                    <mat-form-field fxFlex=50>
                        <mat-label>{{'GENERIC.TITLE.APPLICATION-TYPE' | translate}}</mat-label>
                        <mat-select [(ngModel)]="selectedConfig.applicationType.id" [disabled]="true">
                            <mat-option *ngFor="let apptype of appTypes" [value]="apptype.id">
                                {{apptype.display_name | translate}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field fxFlex=50>
                        <mat-label>{{'GENERIC.TITLE.USER-TYPE' | translate}}</mat-label>
                        <mat-select [(ngModel)]="selectedConfig.userType.id" [disabled]="true">
                            <mat-option *ngFor="let usertype of userTypes" [value]="usertype.id">
                                {{usertype.display_name | translate}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="column" fxLayoutAlign="stretch">
                    <mat-card-header>
                        <mat-card-title>{{'GENERIC.TITLE.PERMISSIONS' | translate}}</mat-card-title>
                    </mat-card-header>
                    <app-template-tree-create-cmp *ngIf="preAuthConfigPermissions && authCodes"
                        [treeSelection]="authCodes" [permissions]=preAuthConfigPermissions [isDisabled]="!isEditable"
                        (selection)="getSelection($event)"></app-template-tree-create-cmp>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>