<div class="page-content">
    <div fxLayout="column" fxLayoutAlign="stretch">
        <mat-card class="card card-background" mat-elevation-z2 fxLayout="column" fxFlexFill fxLayoutAlign="stretch">
            <div *ngFor="let attr of cardAttributes; let i = index" fxLayout="column" fxLayoutGap="10px">
                <div [fxLayout]="attr.properties.layout.name" [fxLayoutAlign]="attr?.properties?.alignment"
                    [fxLayoutGap]="attr?.properties?.layout?.name === 'row' ? '10px' : '0px'" *ngIf="attr?.id === 1">
                    <span>{{attr.header.title}}</span>
                    <span>{{attr.header.subtitle}}</span>
                </div>
                <mat-card-content class="card-layout-drop min-height-100" [fxLayoutAlign]="attr?.properties?.alignment"
                    *ngIf="attr?.id === 2">
                    <div fxLayout="column">
                        <mat-label fxLayoutAlign="start center">
                            {{attr.content.text}}
                        </mat-label>
                        <!-- <span [fxLayoutAlign]="attr?.properties?.alignment" *ngIf="attr.content.hasImage"> <img
                                [height]="attr?.content?.imgHeight" [width]="attr?.content?.imgWidth"
                                [src]="attr.content.imageUrl" alt="image"> </span> -->
                    </div>
                </mat-card-content>
                <div *ngIf="attr?.id === 3" fxLayoutAlign="center center"> <img class="mb-3 mt-1"
                        [height]="attr?.image?.imgHeight" [width]="attr?.image?.imgWidth"
                        [ngStyle]="{'border-radius': attr.image.imageRadius + '%'}" [src]="attr.image?.imageUrl"
                        alt="image"> </div>
                <div fxFlex="1 1 100%" *ngIf="attr?.id === 4" class="mb-2" [fxLayoutAlign]="attr?.properties?.alignment"
                    fxFlexFill>
                    <mat-label class="ml-1"> {{attr.Footer.text}} </mat-label>
                    <mat-icon> {{attr.Footer.iconName}} </mat-icon>
                </div>
            </div>
            <app-template-pageaction-view-cmp fxFlex="1 1 100%" fxLayout="column" *ngIf="buttonData"
                [item]="buttonData">
            </app-template-pageaction-view-cmp>
        </mat-card>
    </div>
</div>