<div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start start" class="mb-3">
        <h3 fxFlex="1 1 100"> Edit {{item?.name | titlecase }}</h3>
        <span fxFlex="1 1 auto"></span>
        <div fxLayout="row" fxLayoutGap="5px">
            <button mat-stroked-button (click)="onNoClick()">{{'GENERIC.BUTTON.NO-THANKS'| translate}}</button>
            <button mat-stroked-button (click)="saveCardAttr()" color="primary" [disabled]="!f.form.valid"
                cdkFocusInitial>{{'GENERIC.BUTTON.OK'| translate}}</button>
        </div>
    </div>
    <form name="form" #f="ngForm" novalidate fxLayout="column" fxLayoutGap="10px">
        <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap.gt-xs="1%">
            <mat-form-field fxFlex=49 appearance="outline">
                <mat-label>Edit Title</mat-label>
                <input matInput placeholder="Enter Title" [(ngModel)]="item.header.title" [value]="item.header.title"
                    name="headers" #headers="ngModel" required>
                <mat-error *ngIf="headers.invalid">
                    <div *ngIf="headers?.errors?.required"> {{'TEMPLATE.CARD.VALIDATION.HEADER-REQUIRED' | translate}}
                    </div>
                </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex=49 appearance="outline">
                <mat-label>Enter Subtitle</mat-label>
                <input matInput placeholder="Enter Subtitle" [(ngModel)]="item.header.subtitle"
                    [value]="item.header.subtitle" name="subtitle" #subtitle="ngModel" >
                <!-- <mat-error *ngIf="subtitle.invalid">
                    <div *ngIf="subtitle?.errors?.required">
                        {{'TEMPLATE.CARD.VALIDATION.SUB-HEADER-REQUIRED' | translate}}
                    </div>
                </mat-error> -->
            </mat-form-field>
            <mat-form-field fxFlex=49 appearance="outline">
                <mat-label>Enter Model name</mat-label>
                <input matInput placeholder="Enter Model name" pattern="^[a-zA-Z0-9]+(?:.[a-zA-Z0-9]+)*$" minlength="3"
                    maxlength="50" [(ngModel)]="item.modelName" [value]="item.modelName" name="model" #model="ngModel"
                    required>
                <mat-error *ngIf="model.invalid">
                    <div *ngIf="model?.errors?.required">{{'TEMPLATE.FORM.VALIDATION.MODEL-REQUIRED'| translate}}
                    </div>
                </mat-error>
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="stretch" fxLayoutGap="5px" >
            <mat-form-field fxFlex=33 appearance="outline">
                <mat-label>{{'TEMPLATE.CONFIGURATION.SELECT-LAYOUT' | translate}}</mat-label>
                <mat-select [(ngModel)]="item.properties.layout" name="layoutName" #layoutName="ngModel" required
                    [compareWith]="compareFn">
                    <mat-option *ngFor="let layout of directions" [value]="layout">
                        {{layout.display_name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="layoutName.touched && !layoutName.valid" class="full-width">
                    <div *ngIf="layoutName?.errors?.required">
                        {{'TEMPLATE.CONFIGURATION.VALIDATION-LAYOUT-REQUIRED' | translate}}</div>
                </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="33" appearance="outline">
                <mat-label>{{'TEMPLATE.CARD.HORIZONTAL' | translate}}</mat-label>
                <mat-select [(ngModel)]="item.properties.hAlign" [compareWith]="compareFn" name="hAlign"
                    #hAlign="ngModel">
                    <mat-option *ngFor="let hAlign of hrzntlAlignments" [value]="hAlign">
                        {{hAlign.display_name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="33" appearance="outline">
                <mat-label>{{'TEMPLATE.CARD.VERTICAL' | translate}}</mat-label>
                <mat-select [(ngModel)]="item.properties.vAlign" [compareWith]="compareFn" name="vAlign"
                    #vAlign="ngModel">
                    <mat-option *ngFor="let vAlign of verticalAlignments" [value]="vAlign">
                        {{vAlign.display_name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <!-- <mat-form-field fxFlex="50" fxLayout="row">
                    <mat-label>{{'TEMPLATE.CARD.IMAGE-TYPE' | translate}}</mat-label>
                    <mat-select [(ngModel)]="item.image.imageRadius" name="View" #View="ngModel" placeholder=""
                        [compareWith]="compareFn">
                        <mat-option *ngFor="let image of imageView" [value]="image.value">
                            {{image.View}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="33">
                    <input [(ngModel)]="item.content.imgHeight" matInput type="number" name="imdheight" #imdheight="ngModel"
                        pattern="^[1-9][0-9]?$|^100$" min="1" placeholder="Enter Image Height(px)">
                </mat-form-field>
                <mat-form-field fxFlex="33">
                    <input [(ngModel)]="item.content.imgWidth" matInput type="number" name="imdwidth" #imdwidth="ngModel"
                        pattern="^[1-9][0-9]?$|^100$" min="1" placeholder="Enter Image Width(px)">
                </mat-form-field> -->
        </div>

    </form>
</div>