<ng-container [formGroup]="basicForm">
    <ng-container *ngTemplateOutlet="formItemTemplate; context:{ $implicit: 0, group: basicForm }"></ng-container>
    <ng-template #formItemTemplate let-i let-group="group">

        <!-- Nested form controls -->
        <div *ngIf="i < pathSegments.length - 1 && basicField" class="form-group">
            <!-- <mat-label *ngIf="basicField.hasFormGroup">{{basicField.groupName}}</mat-label> -->
            <ng-container
                *ngTemplateOutlet="formItemTemplate; context:{ $implicit: i + 1, group: group.get(pathSegments[i]) }">
            </ng-container>
        </div>

        <!-- direct form controls -->
        <div *ngIf="i + 1 === pathSegments.length" class="form-control" [formGroup]="group">
            <div *ngIf="basicField.securityAttrributes.displayType.id === 3" fxLayout="column"
                style="padding-bottom: 1.25em;">
                <mat-label style="font-size: 10.5px;color: darkgrey;">{{basicField.label}}</mat-label>
                <mat-label style="font-size: 14px;font-weight: 400;">{{basicField.value}}</mat-label>
            </div>
            <div *ngIf="basicField.controlType === 'label'">
                <mat-label [ngStyle]="{'font-size': basicField?.fontStyle?.fontSize + 'px',
                    'font-weight':basicField?.fontStyle?.fontWeight}">
                    {{basicField.label}}</mat-label>
            </div>
            <mat-form-field [appearance]="this.template.fieldStyle.name"
                *ngIf="basicField.securityAttrributes.displayType.id !== 3 && basicField.controlType === 'textbox'"
                fxLayoutAlign="start start">
                <mat-label>{{basicField.label}}</mat-label>
                <input matInput [type]="basicField.dataType.type" [placeholder]="basicField.label"
                    [readonly]="basicField.securityAttrributes.displayType.id === 2? 'true': 'false'"
                    [formControlName]="pathSegments[pathSegments.length - 1]" [id]="basicField.modelName"
                    (change)="somethingChanged($event, pathSegments[pathSegments.length - 1], pathSegments)">
                <mat-icon *ngIf="basicField.showHideAction && (basicField.dataType.id === 3 || !hidePswrd)" matSuffix
                    class="mouse-pointer" (click)="showHidePswrd(basicField)">
                    {{hidePswrd ? 'visibility_off' : 'visibility'}}
                </mat-icon>
            </mat-form-field>
            <mat-radio-group style="padding: 10px;" *ngIf="basicField.controlType === 'radiobutton'"
                aria-label="Select an option"
                [fxLayout]="(template.layoutColumn.id === 2 || template.layoutColumn.id === 3) ? 'column' : 'row wrap'"
                fxLayoutGap="5px" [formControlName]="pathSegments[pathSegments.length - 1]" [id]="basicField.modelName"
                [required]="basicField.required">
                <mat-label>{{basicField.label}} <span
                        *ngIf="!(template.layoutColumn.id === 2 || template.layoutColumn.id === 3)">:</span></mat-label>
                <mat-radio-button *ngFor="let option of basicField.options" [value]="option"
                    [checked]="option.isChecked"
                    (change)="somethingChanged($event, pathSegments[pathSegments.length - 1], pathSegments)"
                    [fxLayout]="(template.layoutColumn.id === 2 || template.layoutColumn.id === 3) ? 'column' : 'row wrap'"
                    [fxLayoutGap]="(template.layoutColumn.id === 2 || template.layoutColumn.id === 3) ? '5px' : '10px'"
                    fxLayoutAlign="start center">
                    {{option.display_name}}
                </mat-radio-button>
            </mat-radio-group>
            <mat-form-field *ngIf=" basicField.controlType==='textarea'" [appearance]=" this.template.fieldStyle.name">
                <mat-label>{{basicField.label}}</mat-label>
                <textarea matInput type="text" [placeholder]="basicField.label"
                    [readonly]="basicField.securityAttrributes.displayType.id === 2? 'true': 'false'"
                    [formControlName]="pathSegments[pathSegments.length - 1]" [id]="basicField.modelName"
                    [required]="basicField.required" [pattern]="basicField.pattern" [minLength]="basicField.minlength"
                    [maxLength]="basicField.maxlength"
                    (change)="somethingChanged($event, pathSegments[pathSegments.length - 1], pathSegments)"></textarea>
            </mat-form-field>
            <mat-form-field [appearance]="this.template.fieldStyle.name"
                *ngIf="basicField.securityAttrributes.displayType.id !== 3 && basicField.controlType === 'dropdown'">
                <mat-label>{{basicField.label}}</mat-label>
                <mat-select [formControlName]="pathSegments[pathSegments.length - 1]" [id]="basicField.modelName"
                    [required]="basicField.required" [compareWith]="compareFn"
                    [multiple]="basicField.selectionType === 2 ? true : false"
                    (selectionChange)="setValue($event.value, pathSegments[pathSegments.length - 1], pathSegments)">
                    <div *ngFor="let option of basicField.options">
                        <mat-option [value]="option">
                            <mat-label>{{option.display_name}}</mat-label>
                        </mat-option>
                    </div>
                </mat-select>
            </mat-form-field>
            <mat-form-field [appearance]="this.template.fieldStyle.name"
                *ngIf="basicField.securityAttrributes.displayType.id !== 3 && basicField.controlType === 'datepicker'">
                <mat-label>{{basicField.label}}</mat-label>
                <input matInput [matDatepicker]="picker" [placeholder]="basicField.label"
                    [readonly]="basicField.securityAttrributes.displayType.id === 2? 'true': 'false'"
                    [formControlName]="pathSegments[pathSegments.length - 1]" [id]="basicField.modelName"
                    [required]="basicField.required" [min]="basicField.minDate" [max]="basicField.maxDate"
                    [pattern]="basicField.pattern" [minLength]="basicField.minlength" [maxLength]="basicField.maxlength"
                    (dateChange)="somethingChanged($event, pathSegments[pathSegments.length - 1], pathSegments)">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div style="padding: 10px;"
                *ngIf="basicField.securityAttrributes.displayType.id !== 3 && basicField.controlType === 'checkbox'"
                [fxLayout]="(template.layoutColumn.id === 2 || template.layoutColumn.id === 3) ? 'column' : 'row wrap'"
                fxLayoutGap="5px">
                <mat-label> {{basicField.label}} <span
                        *ngIf="!(template.layoutColumn.id === 2 || template.layoutColumn.id === 3)">:</span>
                </mat-label>
                <div [fxLayout]="(template.layoutColumn.id === 2 || template.layoutColumn.id === 3) ? 'column' : 'row wrap'"
                    [fxLayoutGap]="(template.layoutColumn.id === 2 || template.layoutColumn.id === 3) ? '5px' : '10px'"
                    fxLayoutAlign="start start" [formArrayName]="pathSegments[pathSegments.length - 1]">
                    <div class="checkbox" *ngFor="let list of basicField?.options">
                        <mat-checkbox value="{{list}}"
                            [checked]="basicField.selectionType === 1? selectedCheckbox === list : list.isChecked"
                            (change)="onCheckboxChange(list,$event,pathSegments[pathSegments.length - 1], basicField.selectionType)">
                            {{list.display_name}}</mat-checkbox>
                    </div>
                </div>
            </div>

            <!-- Vaidation for level 1 -->
            <div *ngIf="pathSegments.length === 1">
                <mat-error class="error-text"
                    *ngIf="!!basicForm.controls[basicField.modelName]?.invalid && !!basicForm.controls[basicField.modelName]?.touched">
                    <div *ngIf="basicField.controlType !== 'datepicker'">
                        <div
                            *ngIf="!!basicForm.controls[basicField.modelName]?.errors?.required && !basicForm.controls[basicField.modelName]?.errors?.maxlength">
                            {{basicField.errorMessages.required | translate}}
                        </div>
                        <div *ngIf="!!basicForm.controls[basicField.modelName].errors?.pattern">
                            {{basicField.errorMessages.invalid | translate}}
                        </div>
                        <div *ngIf="!!basicForm.controls[basicField.modelName].errors?.minlength">
                            {{basicField.errorMessages.minlength | translate}}
                        </div>
                        <div *ngIf="!!basicForm.controls[basicField.modelName].errors?.maxlength">
                            {{basicField.errorMessages.maxlength | translate}}
                        </div>
                        <div *ngIf="!!basicForm.controls[basicField.modelName].errors?.min">
                            {{basicField.errorMessages.minlength | translate}}
                        </div>
                        <div *ngIf="!!basicForm.controls[basicField.modelName].errors?.max">
                            {{basicField.errorMessages.maxlength | translate}}
                        </div>
                    </div>
                    <div *ngIf="basicField.controlType === 'datepicker'">
                        <div *ngIf="!!basicForm.controls[basicField.modelName].hasError('matDatepickerParse')">
                            {{'TEMPLATE.FORM.VALIDATION.INVALID-DATE' | translate}}</div>
                        <div
                            *ngIf="basicForm.controls[basicField.modelName]?.errors?.required && !basicForm.controls[basicField.modelName].hasError('matDatepickerParse')">
                            {{'TEMPLATE.FORM.VALIDATION.DATE-REQUIRED' | translate}}</div>
                        <div *ngIf="basicForm.controls[basicField.modelName].hasError('matDatepickerMin')">
                            {{'TEMPLATE.FORM.VALIDATION.MIN-DATE' | translate}}</div>
                        <div *ngIf="basicForm.controls[basicField.modelName].hasError('matDatepickerMax')">
                            {{'TEMPLATE.FORM.VALIDATION.MAX-DATE' | translate}}</div>
                    </div>
                </mat-error>
            </div>

            <!-- Vaidation for level 2 -->
            <div *ngIf="pathSegments.length === 2">
                <mat-error class="error-text" *ngIf="!!basicFieldControl.invalid && !!basicFieldControl.touched">
                    <div *ngIf="basicField.controlType !== 'datepicker'">
                        <div *ngIf="!!basicFieldControl.errors.required && !basicFieldControl.errors?.maxlength">
                            {{basicField.errorMessages.required | translate}}
                        </div>
                        <div *ngIf="!!basicFieldControl.errors?.pattern">
                            {{basicField.errorMessages.invalid | translate}}
                        </div>
                        <div *ngIf="!!basicFieldControl.errors?.minlength">
                            {{basicField.errorMessages.minlength | translate}}
                        </div>
                        <div *ngIf="!!basicFieldControl.errors?.maxlength">
                            {{basicField.errorMessages.maxlength | translate}}
                        </div>
                        <div *ngIf="!!basicFieldControl.errors?.min">
                            {{basicField.errorMessages.minlength | translate}}
                        </div>
                        <div *ngIf="!!basicFieldControl.errors?.max">
                            {{basicField.errorMessages.maxlength | translate}}
                        </div>
                    </div>
                    <div *ngIf="basicField.controlType === 'datepicker'">
                        <div *ngIf="!!basicFieldControl.hasError('matDatepickerParse')">
                            {{'TEMPLATE.FORM.VALIDATION.INVALID-DATE' | translate}}</div>
                        <div
                            *ngIf="basicFieldControl?.errors?.required && !basicFieldControl.hasError('matDatepickerParse')">
                            {{'TEMPLATE.FORM.VALIDATION.DATE-REQUIRED' | translate}}</div>
                        <div *ngIf="basicFieldControl.hasError('matDatepickerMin')">
                            {{'TEMPLATE.FORM.VALIDATION.MIN-DATE' | translate}}</div>
                        <div *ngIf="basicFieldControl.hasError('matDatepickerMax')">
                            {{'TEMPLATE.FORM.VALIDATION.MAX-DATE' | translate}}</div>
                    </div>
                </mat-error>
            </div>
        </div>
    </ng-template>
</ng-container>