.mat-form-field {
    width: 100% !important;
}

.error-text {
    padding: 0 1em;
    top: calc(100% - 1.7916666667em);
    margin-top: -20px !important;
    font-size: 10.5px;
}

.mouse-pointer {
    cursor: pointer;
}