<mat-progress-bar *ngIf="isLoading" color="primary" mode="indeterminate"></mat-progress-bar>
<div fxLayout="column" fxLayoutGap="10px" fxFlexFill>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="2em">
        <div *ngFor="let type of libraryTypes;" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1em">
            <mat-card style="width: 250px;height: 150px;">
                <img matCardImage src="{{type.image}}" style="width: 250px;height: 150px;margin: 0;">
            </mat-card>
            <mat-label fxLayout="row wrap" style="font-weight: 500;">
                {{type.name | translate}}
            </mat-label>
        </div>
    </div>

    <div class="p-3" fxLayout="row wrap" fxLayoutGap.lt-lg="3em" fxLayoutGap="2em" fxFlex="100%"
        fxLayoutAlign="center start">
        <div *ngFor="let type of basicTypes; let i = index" fxFlex="6%" fxLayout="column" fxLayoutAlign="center center"
            fxLayoutGap="5px">
            <mat-card (click)="onCardClick(type)" (dblclick)="onCardDblClick(type)"
                [ngClass]="type.isClicked ? 'p-4 active-card' : 'p-4 card-background'" fxLayoutAlign="center center">
                <mat-icon [ngClass]="type.isClicked ? 'icons-color' : 'card-icon'">{{type.icon}}
                </mat-icon>
            </mat-card>
            <mat-label fxLayout="row wrap">
                {{type.name | translate}}
            </mat-label>
        </div>
    </div>
</div>