<div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start start" class="mb-3">
    <h3 fxFlex="1 1 100"> Edit {{item?.name | titlecase }} </h3>
    <span fxFlex="1 1 auto"></span>
    <div fxLayout="row" fxLayoutGap="5px">
        <button mat-stroked-button (click)="onNoClick()">{{'GENERIC.BUTTON.NO-THANKS'| translate}}</button>
        <button mat-stroked-button (click)="saveCardAttr()" color="primary" [disabled]="!f.form.valid"
            cdkFocusInitial>{{'GENERIC.BUTTON.OK'| translate}}</button>
    </div>
</div>
<form name="form" #f="ngForm" novalidate fxLayout="column" fxLayoutGap="10px">
<div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">
    <mat-form-field fxFlex="49" appearance="outline">
        <mat-label>Edit Footer Text</mat-label>
        <input matInput placeholder="Edit Footer Text" [(ngModel)]="item.Footer.text" [value]="item.Footer.text"
            name="footer" #footer="ngModel" required>
        <mat-error *ngIf="footer.invalid">
            <div *ngIf="footer?.errors?.required"> {{'TEMPLATE.CARD.VALIDATION.FOOTER-REQUIRED' | translate}}</div>
        </mat-error>
    </mat-form-field>
    <mat-form-field fxFlex="49" appearance="outline">
        <mat-label>{{'CONFIG.USER-MANAGEMENT.MENU.SELECT-ICON'| translate}}</mat-label>
        <mat-label>{{'CONFIG.USER-MANAGEMENT.MENU.SELECT-ICON'| translate}}</mat-label>
        <mat-select [(ngModel)]="item.Footer.iconName" [compareWith]="compareFn" name="iconname"
        #iconname="ngModel">
            <mat-option *ngFor="let iconName of iconList" [value]=iconName.ligature>
                <div fxLayout="row " fxLayoutAlign="space-between center"> <span>{{iconName.name}} </span>
                    <mat-icon>{{iconName.ligature}}</mat-icon>
                </div>
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex=49 appearance="outline">
        <mat-label>Enter Model name</mat-label>
        <input matInput placeholder="Enter Model name" pattern="^[a-zA-Z0-9]+(?:.[a-zA-Z0-9]+)*$" minlength="3"
            maxlength="50" [(ngModel)]="item.modelName" [value]="item.modelName" name="model" #model="ngModel"
            required>
        <mat-error *ngIf="model.invalid">
            <div *ngIf="model?.errors?.required">{{'TEMPLATE.FORM.VALIDATION.MODEL-REQUIRED'| translate}}
            </div>
        </mat-error>
    </mat-form-field>
</div>

    <div fxLayout="column" fxLayoutAlign="stretch" fxLayoutGap="5px">
        <mat-label>{{'TEMPLATE.CARD.ALIGNMENT' | translate}}</mat-label>
        <div fxLayout="row" fxFlex="1 1 100%" fxLayoutGap="10px">
            <mat-form-field fxFlex="48" appearance="outline">
                <mat-label>{{'TEMPLATE.CARD.HORIZONTAL' | translate}}</mat-label>
                <mat-select [(ngModel)]="item.properties.hAlign" [compareWith]="compareFn" name="hAlign"
                    #hAlign="ngModel">
                    <mat-option *ngFor="let hAlign of hrzntlAlignments" [value]="hAlign">
                        {{hAlign.display_name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="48" appearance="outline">
                <mat-label>{{'TEMPLATE.CARD.VERTICAL' | translate}}</mat-label>
                <mat-select [(ngModel)]="item.properties.vAlign" [compareWith]="compareFn" name="vAlign"
                    #vAlign="ngModel">
                    <mat-option *ngFor="let vAlign of verticalAlignments" [value]="vAlign">
                        {{vAlign.display_name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</form>