<mat-progress-bar *ngIf="isLoading" color="primary" mode="indeterminate"></mat-progress-bar>
<div *ngIf="showCreate" fxLayout="row" fxLayout.lt-md="column" style="display: flex;" fxLayoutAlign="stretch"
    fxLayoutGap="10px" fxFlexFill>
    <mat-card fxLayout="column" class="mat-typography todo-card card-left card-background"
        style="height: 500px; overflow-y: auto;">
        <div cdkDropList #todoCardsList="cdkDropList" [cdkDropListData]="cards" cdkDropListSortingDisabled
            [cdkDropListConnectedTo]="[cardsdoneList]" class="mt-2" (cdkDropListDropped)="drop($event)">
            <div class="toDo-cardbox" *ngFor="let item of cards" cdkDrag>
                <mat-card class="btncard card-icons" fxLayout="column" fxLayoutAlign="center center">
                    <mat-icon>{{item.icon}}</mat-icon>
                    <mat-label fxLayoutAlign="center center" class="btnlabel">
                        {{item.name | uppercase}} </mat-label>
                </mat-card>
            </div>
        </div>

        <div cdkDropList #todoButtonList="cdkDropList" [cdkDropListData]="buttons"
            [cdkDropListConnectedTo]="[buttonDoneList]" (cdkDropListDropped)="dropButton($event)"
            cdkDropListSortingDisabled>
            <div class="toDo-cardbox" *ngFor="let button of buttons" cdkDrag>
                <mat-card class="btncard" fxLayout="column" fxLayoutAlign="center center">
                    <mat-icon>keyboard</mat-icon>
                    <mat-label fxLayoutAlign="center center" class="btnlabel">
                        {{button.label}} </mat-label>
                </mat-card>
            </div>
        </div>

    </mat-card>
    <mat-card class="form-overflow mat-typography card-right" fxLayout="column">
        <!-- Refactor code -->
        <form name="form" #f="ngForm" fxLayout="column" novalidate>
            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start start">
                <h2 fxFlex="1 1 100%">{{'TEMPLATE.CARD.TITLE' | translate}}</h2>
                <span fxFlex="1 1 auto"></span>
                <div fxLayout="row" fxLayoutGap="5px">
                    <button mat-stroked-button color="primary"
                        (click)="goBack()">{{'GENERIC.BUTTON.CANCEL'| translate}}</button>
                    <button mat-stroked-button color="primary" (click)="onViewClick()">
                        View</button>
                    <button *ngIf="!templateId" mat-stroked-button (click)="submitCards()"
                        [disabled]="!(cardsDone.length > 0) || !f.form.valid">{{'GENERIC.BUTTON.CREATE'| translate}}</button>
                    <button *ngIf="templateId" mat-stroked-button (click)="updateCards()"
                        [disabled]="!(cardsDone.length > 0) || !f.form.valid">{{'GENERIC.BUTTON.UPDATE'| translate}}</button>
                    <button *ngIf="templateId" mat-stroked-button color="primary"
                        [disabled]="!(cardsDone.length > 0) || !f.form.valid" (click)="delete()">Delete</button>
                    <button mat-stroked-button [matMenuTriggerFor]="menu">
                        <mat-icon class="menu">settings</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item
                            (click)="openButtonConfig(buttonConfig)">{{'TEMPLATE.PAGE-ACTION.CONFIGURATION'| translate}}
                        </button>
                        <button mat-menu-item (click)="openCardConfig()">Card Configuration
                        </button>
                    </mat-menu>
                </div>
            </div>
            <div fxLayout="row wrap" fxFlexFill fxLayoutAlign="space-between start" fxLayoutGap="10px">
                <mat-form-field fxFlex="100">
                    <mat-label>{{'TEMPLATE.NAME'| translate}}</mat-label>
                    <input matInput placeholder="{{'GENERIC.TITLE.ENTER-TEMPLATE-NAME'| translate}}" name="tempName"
                        #tempName="ngModel" [(ngModel)]="config.name" required>
                    <mat-error *ngIf="tempName.touched && !tempName.valid" class="full-width">
                        <div *ngIf="tempName?.errors?.required">
                            {{'TEMPLATE.VALIDATION.TYPE-REQUIRED' | translate}}</div>
                    </mat-error>
                </mat-form-field>
            </div>
        </form>


        <div style="padding: 10px" fxLayout="column" fxFlex="1 1 100%" cdkDropList #cardsdoneList="cdkDropList"
            [cdkDropListData]="cardsDone" [cdkDropListConnectedTo]="[todoCardsList]" class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div fxLayoutAlign="center center" fxLayout="column" fxFlexFill *ngIf="cardsDone.length === 0"
                class="emptybox icons-color">
                <mat-label>
                    {{'TEMPLATE.CARD.DRAG&DROP-CARD-ITEMS'| translate}}
                </mat-label>
            </div>
            <div class="example-box done-box" fxLayout="row" *ngFor="let item of cardsDone;let j = index" cdkDrag>
                <div fxLayout="row" *ngIf="item.id === 1" fxFlex="100">
                    <div class="card-layout-drop card-border" fxFlex="1 1 100%">
                        <!-- [fxLayout]="item?.properties?.layout.name" [fxLayoutAlign]="item?.properties?.alignment" -->
                        <!-- <mat-card-header  fxLayout="row" fxLayoutGap="10px">
                            <mat-card-title>{{item.header.title}}</mat-card-title>
                            <mat-card-subtitle >{{item.header.subtitle}}</mat-card-subtitle>
                        </mat-card-header> -->
                        <div [fxLayout]="item?.properties?.layout.name" [fxLayoutAlign]="item?.properties?.alignment"
                            fxLayoutGap="10px">
                            <span>{{item.header.title}}</span>
                            <span>{{item.header.subtitle}}</span>
                        </div>
                    </div>
                    <div fxLayoutAlign="end center">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="EditHeader(item,j)">
                                <mat-icon>edit</mat-icon>
                                <span>{{'GENERIC.BUTTON.EDIT'| translate}}</span>
                            </button>
                            <button mat-menu-item (click)="removeCard(j)">
                                <mat-icon class="delete">delete</mat-icon>
                                <span>{{'GENERIC.BUTTON.DELETE'| translate}}</span>
                            </button>
                        </mat-menu>
                    </div>

                </div>
                <div fxLayout="row" *ngIf="item.id === 2" fxFlex="100">
                    <mat-card-content class="card-layout-drop card-border" fxFlex="1 1 100">
                        <div [fxLayout]="item.properties.layout.name" fxLayoutGap="5px" fxLayoutAlign="start center">
                            <mat-label fxLayout="rowwrap" [fxFlexOrder]="item.properties.flexOrder.value"
                                [fxFlex]="item.properties.flex"> {{item.content.text}}
                            </mat-label>
                            <!-- <span *ngIf="item.content.hasImage" fxLayoutAlign="start end" fxFlex> <img
                                    [height]="item?.content?.imgHeight" [width]="item?.content?.imgWidth"
                                    [ngStyle]="{'border-radius': item.content.imageRadius + '%'}"
                                    [src]="item.content.imageUrl" alt="image"> </span> -->
                        </div>
                    </mat-card-content>
                    <div fxLayoutAlign="end center">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="EditHeader(item,j)">
                                <mat-icon>edit</mat-icon>
                                <span>{{'GENERIC.BUTTON.EDIT'| translate}}</span>
                            </button>
                            <button mat-menu-item (click)="removeCard(j)">
                                <mat-icon class="delete">delete</mat-icon>
                                <span>{{'GENERIC.BUTTON.DELETE'| translate}}</span>
                            </button>
                        </mat-menu>
                    </div>

                </div>
                <div fxLayout="row" *ngIf="item.id === 3" fxFlex="100">
                    <div fxFlex="1 1 100%" class="card-layout-drop card-border" fxLayoutAlign="center center">
                        <span> <img [height]="item?.image?.imgHeight" [width]="item?.image?.imgWidth"
                                [ngStyle]="{'border-radius': item.image.imageRadius + '%'}" [src]="item.image?.imageUrl"
                                alt="image"> </span>
                    </div>
                    <div fxLayoutAlign="end center">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="EditHeader(item,j)">
                                <mat-icon>edit</mat-icon>
                                <span>{{'GENERIC.BUTTON.EDIT'| translate}}</span>
                            </button>
                            <button mat-menu-item (click)="removeCard(j)">
                                <mat-icon class="delete">delete</mat-icon>
                                <span>{{'GENERIC.BUTTON.DELETE'| translate}}</span>
                            </button>
                        </mat-menu>
                    </div>

                </div>
                <div fxLayout="row" *ngIf="item.id === 4" [fxFlex]="item?.properties?.flex">
                    <div fxFlex="1 1 100%">
                        <mat-card-footer fxFlex="1 1 100%" class="card-layout-drop card-border"
                            [fxLayoutAlign]="item?.properties?.alignment">
                            {{item.Footer.text}}
                            <mat-icon>{{item.Footer.iconName}}</mat-icon>
                        </mat-card-footer>

                        <div fxLayoutAlign="end center">
                            <button mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="EditHeader(item,j)">
                                    <mat-icon>edit</mat-icon>
                                    <span>{{'GENERIC.BUTTON.EDIT'| translate}}</span>
                                </button>
                                <button mat-menu-item (click)="removeCard(j)">
                                    <mat-icon class="delete">delete</mat-icon>
                                    <span>{{'GENERIC.BUTTON.DELETE'| translate}}</span>
                                </button>
                            </mat-menu>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div style="padding: 10px" fxLayoutGap="10px" cdkDropList #buttonDoneList="cdkDropList"
            [cdkDropListData]="buttonsDone" [cdkDropListConnectedTo]="[todoButtonList]" class="example-list"
            (cdkDropListDropped)="dropButton($event)">
            <div fxLayoutAlign="center center" fxLayout="column" fxFlexFill *ngIf="buttonsDone.length === 0"
                class="emptybox icons-color">
                <mat-label>{{'TEMPLATE.PAGE-ACTION.DRAG&DROP-BUTTON-ITEMS'| translate}} </mat-label>
            </div>
            <div *ngIf="buttonsDone.length > 0">
                <div [fxLayout]="buttonConfig?.name" [fxLayoutAlign]="buttonConfig?.alignment">
                    <div *ngFor="let item of buttonsDone;let j = index" cdkDrag class="example-box done-box">
                        <div style="padding: 3px">
                            <button *ngIf="item.id === 1" mat-button [color]="item.color"
                                [type]="item.type.name">{{item.label}}</button>
                            <button *ngIf="item.id === 2" mat-raised-button [color]="item.color"
                                [type]="item.type.name">{{item.label}}</button>
                            <button *ngIf="item.id === 3" mat-stroked-button [type]="item.type.name"
                                [color]="item.color">{{item.label}}</button>
                            <button *ngIf="item.id === 4" mat-flat-button [color]="item.color"
                                [type]="item.type.name">{{item.label}}</button>
                            <button mat-icon-button [matMenuTriggerFor]="menu"
                                aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="openButtonEditDialog(item)">
                                    <mat-icon>edit</mat-icon>
                                    <span>{{'GENERIC.BUTTON.EDIT'| translate}}</span>
                                </button>
                                <button mat-menu-item (click)="removeButton(j)">
                                    <mat-icon class="delete">delete</mat-icon>
                                    <span>{{'GENERIC.BUTTON.DELETE'| translate}}</span>
                                </button>
                            </mat-menu>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
</div>
<mat-card *ngIf="!showCreate" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between start" fxFlexFill>
        <h2>Preview</h2>
        <button fxLayoutAlign="end end" mat-stroked-button (click)="showCreate = !showCreate">Back</button>
    </div>
    <!-- Card view -->
    <app-template-card-view-cmp></app-template-card-view-cmp>
</mat-card>