<div fxLayout="column" class="page-content">
    <div fxLayout="row" fxLayoutAlign="start start">
        <h1 mat-dialog-title fxFlex="1 1 100"> {{ selectedTemplate?.type?.name | translate }}
            {{'GENERIC.TITLE.FLEX' | translate}}</h1>
        <span fxFlex="1 1 auto"></span>
        <div fxLayoutAlign="start center" fxLayoutGap="5px">
            <button mat-stroked-button (click)="onNoClick()">{{'GENERIC.BUTTON.NO-THANKS'| translate}}</button>
            <button mat-stroked-button (click)="saveFormField()"
                cdkFocusInitial>{{'GENERIC.BUTTON.SAVE'| translate}}</button>
        </div>
    </div>
    <form name="form" #f="ngForm" fxLayout="column" fxLayoutGap="5px" novalidate>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
            <mat-form-field fxFlex=48 appearance="outline">
                <mat-label>{{'TEMPLATE.CONFIGURATION.SELECT-LAYOUT' | translate}}</mat-label>
                <mat-select [(ngModel)]="selectedTemplate.layout" name="layoutName" #layoutName="ngModel" required
                    [compareWith]="compareFn">
                    <mat-option *ngFor="let layout of directions" [value]="layout">
                        {{layout.display_name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="layoutName.touched && !layoutName.valid" class="full-width">
                    <div *ngIf="layoutName?.errors?.required">
                        {{'TEMPLATE.CONFIGURATION.VALIDATION-LAYOUT-REQUIRED' | translate}}</div>
                </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex=48 *ngIf="selectedTemplate.layout.id === 1" appearance="outline">
                <mat-label>{{'TEMPLATE.CONFIGURATION.ENTER-FLEX-VALUE' | translate}}</mat-label>
                <input matInput placeholder="Enter value" [(ngModel)]="selectedTemplate.layoutColumn.flex"
                    [value]="selectedTemplate.layoutColumn.flex" name="flex" #flex="ngModel" required>
                <mat-error *ngIf="flex.touched && !flex.valid" class="full-width">
                    <div *ngIf="flex?.errors?.required">
                        {{'TEMPLATE.CONFIGURATION.VALIDATION.FLEX-REQUIRED' | translate}}</div>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="48">
                <mat-label>{{'TEMPLATE.CONFIGURATION.SELECT-FORM-FIELDS-STYLE' | translate}}</mat-label>
                <mat-select [(ngModel)]="selectedTemplate.fieldStyle" name="styleFields" #styleFields="ngModel" required
                    [compareWith]="compareFn">
                    <mat-option *ngFor="let style of formFieldStyles" [value]="style">
                        {{style.display_name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="styleFields.touched && !styleFields.valid" class="full-width">
                    <div *ngIf="styleFields?.errors?.required">
                        {{'TEMPLATE.CONFIGURATION.VALIDATION.VALUE-REQUIRED' | translate}}</div>
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</div>