<div fxLayout="column">
    <app-content-header [hideBreadcrumb]="false" [hasBgImage]="true" [class]="'pb-2'"></app-content-header>
    <div class="page-content">
        <mat-progress-bar *ngIf="isLoading" color="primary" mode="indeterminate"></mat-progress-bar>
        <mat-card>
            <div fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="10px">
                <mat-card-title>{{'CONFIG.AUTH-TYPES.TITLE.AUTH-CONFIG' | translate}}</mat-card-title>
                <div fxLayout="row wrap" fxLayoutAlign="space-between start" fxLayoutGap="10px">
                    <button mat-raised-button routerLink="./../">{{'GENERIC.BUTTON.BACK' | translate}}</button>
                    <button mat-raised-button (click)="saveSelecteditems()"
                        color="primary">{{'GENERIC.BUTTON.SAVE' | translate}}</button>
                </div>
            </div>
            <div fxLayout="row">
                <mat-form-field fxFlex=100>
                    <mat-label>{{'GENERIC.TITLE.TENANT' | translate}}</mat-label>
                    <mat-select [(ngModel)]="selectedTenant" name="Tenant" autocomplete="off" #Tenant="ngModel"
                        required>
                        <mat-option *ngFor="let tenantOption of tenants" [value]="tenantOption">
                            {{tenantOption.display_name | translate}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="Tenant.touched && Tenant.invalid" class="full-width">
                        <div *ngIf="Tenant.errors?.required">
                            {{'CONFIG.AUTH-TYPES.CONFIGURATION.TENANT-REQUIRED' | translate}}</div>
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="1em">
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="{{'CONFIG.AUTH-TYPES.CONFIGURATION.NAME' | translate}}"
                        [(ngModel)]="name" name="Name" autocomplete="off" #Name="ngModel" minlength="5" maxlength="50"
                        required>
                    <mat-error *ngIf="Name.touched && Name.invalid" class="full-width">
                        <div *ngIf="Name.errors?.required">{{'CONFIG.AUTH-TYPES.CONFIGURATION.REQUIRED' | translate}}
                        </div>
                        <div *ngIf="Name.errors?.minlength">{{'CONFIG.AUTH-TYPES.CONFIGURATION.MIN-LENGTH' | translate}}
                        </div>
                        <div *ngIf="Name.errors?.maxlength">{{'CONFIG.AUTH-TYPES.CONFIGURATION.MAX-LENGTH' | translate}}
                        </div>
                    </mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput placeholder="{{'CONFIG.AUTH-TYPES.CONFIGURATION.DESCRIPTION' | translate}}"
                        [(ngModel)]="description">
                </mat-form-field>
            </div>
            <!-- <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="1em">
                <mat-form-field fxFlex=50>
                    <mat-label>{{'GENERIC.TITLE.APPLICATION-TYPE' | translate}}</mat-label>
                    <mat-select [(ngModel)]="selectedApplicationType" name="applicationType" autocomplete="off"
                        #applicationType="ngModel" required>
                        <mat-option *ngFor="let apptypeOption of appTypes" [value]="apptypeOption">
                            {{apptypeOption.display_name | translate}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="applicationType.touched && applicationType.invalid" class="full-width">
                        <div *ngIf="applicationType.errors?.required">
                            {{'CONFIG.AUTH-TYPES.CONFIGURATION.APPLICATIONTYPE-REQUIRED' | translate}}</div>
                    </mat-error>
                </mat-form-field>
                <mat-form-field fxFlex=50>
                    <mat-label>{{'GENERIC.TITLE.USER-TYPE' | translate}}</mat-label>
                    <mat-select [(ngModel)]="selectedUserType" name="usertype" autocomplete="off" #usertype="ngModel"
                        required>
                        <mat-option *ngFor="let usertypeOption of userTypes" [value]="usertypeOption">
                            {{usertypeOption.display_name | translate}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="usertype.touched && usertype.invalid" class="full-width">
                        <div *ngIf="usertype.errors?.required">
                            {{'CONFIG.AUTH-TYPES.CONFIGURATION.USERTYPE-REQUIRED' | translate}}</div>
                    </mat-error>
                </mat-form-field>
            </div> -->
            <div fxLayout="column" fxLayoutAlign="stretch">
                <mat-card-header>
                    <mat-card-title>{{'GENERIC.TITLE.PERMISSIONS' | translate}}</mat-card-title>
                </mat-card-header>
                <app-template-tree-create-cmp *ngIf="preAuthConfigPermissions" [permissions]=preAuthConfigPermissions
                    (selection)="getSelection($event)"></app-template-tree-create-cmp>
            </div>
        </mat-card>
    </div>
</div>