.mat-tree-node {
    min-height: 40px;
}

.example-tree-invisible {
    display: none;
}

.example-tree ul,
.example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    padding-left: 10px !important;
}

.vertical-align-botm {
    vertical-align: bottom;
}