<mat-card fxLayout="column" fxLayoutGap="10px">
    <div *ngIf="!permissionView" fxLayout="column" fxLayoutGap="10px">
        <form name="form" #f="ngForm" fxLayout="column" novalidate>
            <div *ngIf="!showView" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start start">
                <h2 *ngIf="!templateId" fxFlex="1 1 100%">{{'TEMPLATE.TREE.CREATE' | translate}}</h2>
                <h2 *ngIf="templateId" fxFlex="1 1 100%">{{'TEMPLATE.TREE.MODIFY' | translate}}</h2>
                <span fxFlex="1 1 100%"></span>
                <div fxLayout="row" fxLayoutGap="5px">
                    <button mat-stroked-button color="primary"
                        (click)="goBack()">{{'GENERIC.BUTTON.CANCEL'| translate}}</button>
                    <button *ngIf="!templateId" mat-stroked-button
                        (click)="submit()">{{'GENERIC.BUTTON.SAVE' | translate}}</button>
                    <button *ngIf="templateId" mat-stroked-button
                        (click)="update()">{{'GENERIC.BUTTON.UPDATE' | translate}}</button>
                        <button *ngIf="templateId" mat-stroked-button color="primary" [disabled]="!(done.length > 0)"
                            (click)="delete()">Delete</button>                       
                    <button mat-stroked-button (click)="onViewClick()">{{'GENERIC.BUTTON.VIEW' | translate}}</button>
                </div>
            </div>
            <div *ngIf="!showView" fxLayout="row wrap" fxFlexFill fxLayoutAlign="space-between start"
                fxLayoutGap="10px">
                <mat-form-field fxFlex="100">
                    <mat-label>{{'TEMPLATE.NAME'| translate}}</mat-label>
                    <input matInput placeholder="{{'GENERIC.TITLE.ENTER-TEMPLATE-NAME'| translate}}" name="tempName"
                        #tempName="ngModel" [(ngModel)]="config.name" required>
                    <mat-error *ngIf="tempName.touched && !tempName.valid" class="full-width">
                        <div *ngIf="tempName?.errors?.required">
                            {{'TEMPLATE.VALIDATION.TYPE-REQUIRED' | translate}}</div>
                    </mat-error>
                </mat-form-field>
            </div>
        </form>
        <div *ngIf="showView && !(this.config && this.config.isPageBuilderView)" fxLayout="row" fxLayout.lt-md="column"
            fxLayoutAlign="start start">
            <h2 fxFlex="1 1 100%">{{'GENERIC.TITLE.PREVIEW' | translate}}</h2>
            <span fxFlex="1 1 100%"></span>
            <button mat-stroked-button routerLink="./../../home">{{'GENERIC.BUTTON.BACK' | translate}}</button>
        </div>
        <div *ngIf="!showView" fxLayout="row" fxFlex="1 1 100%" fxLayoutAlign="space-between start" fxLayoutGap="10px">
            <mat-form-field>
                <input matInput placeholder="{{'TEMPLATE.TREE.ENDPOINT'| translate}}"
                    [(ngModel)]="treeSettings.endPoint">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="{{'TEMPLATE.TREE.TREE-OUTPUT-NAME'| translate}}"
                    [(ngModel)]="treeSettings.outputName" required>
            </mat-form-field>
            <button mat-stroked-button color="primary"
                (click)="getTreeData(treeSettings.endPoint)">{{'TEMPLATE.TREE.FETCH'| translate}}</button>
        </div>
        <mat-checkbox *ngIf="!showView" [(ngModel)]="treeSettings.isSelectable">
            {{'TEMPLATE.TREE.NODE-SELECTABLE'| translate}}</mat-checkbox>
    </div>
    <div class="mat-typography mr-1">
        <mat-divider *ngIf="(!showView || !(this.config && this.config.isPageBuilderView)) && !permissionView">
        </mat-divider>
        <mat-tree *ngIf="dataSource" [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
            <!-- This is the tree node template for leaf nodes -->
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
                <li class="mat-tree-node">
                    <!-- use a disabled button to provide padding for tree leaf -->
                    <button mat-icon-button disabled></button>
                    <mat-checkbox *ngIf="treeSettings.isSelectable" [checked]="checklistSelection.isSelected(node)"
                        [disabled]="isDisabled" (change)="todoLeafItemSelectionToggle(node)">
                        <mat-icon class="vertical-align-botm" *ngIf="hasIcon">{{node.icon}}</mat-icon>
                        {{node[displayLabel] | translate}}
                    </mat-checkbox>

                    <mat-label style="cursor: pointer" [routerLink]="node.linkUrl" *ngIf="!treeSettings.isSelectable">
                        <mat-icon class="vertical-align-botm" *ngIf="hasIcon">{{node.icon}}</mat-icon>
                        {{node[displayLabel] | translate}}
                    </mat-label>
                </li>
            </mat-tree-node>
            <!-- This is the tree node template for expandable nodes -->
            <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
                <li>
                    <div class="mat-tree-node">
                        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.label">
                            <mat-icon class="mat-icon-rtl-mirror">
                                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                            </mat-icon>
                        </button>
                        <mat-checkbox *ngIf="treeSettings.isSelectable"
                            [checked]="hasMultipleSelection ? descendantsAllSelected(node) : checklistSelection.isSelected(node) "
                            [disabled]="isDisabled"
                            [indeterminate]="hasMultipleSelection ? descendantsPartiallySelected(node) : null"
                            (change)="hasMultipleSelection ? todoItemSelectionToggle(node) : todoLeafItemSelectionToggle(node)">
                            <mat-icon class="vertical-align-botm" *ngIf="hasIcon">{{node.icon}}</mat-icon>
                            {{node[displayLabel] | translate}}
                        </mat-checkbox>

                        <mat-label style="cursor: pointer" matTreeNodeToggle *ngIf="!treeSettings.isSelectable">
                            <mat-icon class="vertical-align-botm" *ngIf="hasIcon">{{node.icon}}</mat-icon>
                            {{node[displayLabel] | translate}}
                        </mat-label>
                    </div>
                    <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
                        <ng-container matTreeNodeOutlet></ng-container>
                    </ul>
                </li>
            </mat-nested-tree-node>
        </mat-tree>
    </div>
</mat-card>